html,body{
	width: 100%;
	height: 100%;
}

.header{
	height: 600px;
	width: 100%;
	position: relative;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-container img{
	width: 100%;
	height: 100%;
}
.nav{
	height: 80px;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 999;
	margin: 0 auto;
	/*background:red ;*/
}
.nav-out{
	width: 1120px;
	height: 100%;
	margin: 0 auto;
	/*background: blue;*/
	padding: 0.1px;
}
h1{
	float: left;
	margin-left: 173px;
	height: 80px;
	width: 100px;
	font-size: 0;
	
	background: url(../img/logo.png) no-repeat 0 center;
	background-size: 100%;
}
h1 a{
	display: block;
	width: 100%;
	height: 100%;
}
.nav-ul{
	float: left;
	margin-top: 20px;
	margin-left: 70px;
	height: 40px;
	line-height: 40px;
	padding: 0.1px;

}
.nav-ul li{
		float: left;
		padding-left: 38px;
		font-size: 14px;
		color: white;
		width: 132px;
}
.nav-ul li a{
	color: white;
}
.underline{
	display: block;
	width: 56px;
	height: 2px;
	background: white;
	margin-left: 0;
}
.last-li{
	float: left;
	height: 36px;
	width: 118px;
	background: rgba(99,99,99,.4) url(../img/shu.png) no-repeat 50px center;
	margin-top: 20px;
	margin-left: 60px;
	border-radius: 4px;
	line-height: 36px;
	display: none;
}
.swiper-pagination-bullet{
	border: 1.5px #ccc solid;
	/*box-shadow: 2px 0 2px 2px  darkkhaki,0 2px 2px 2px darkkhaki;*/
}
.swiper-button-prev:hover,.swiper-button-next:hover{
	background-color: rgba(90,90,90,.4);
}
.chain{
	margin-left: 13px;
	cursor: pointer;
}
.us{
	margin-left: 20px;
	color: #010101;
	cursor: pointer;	
}
.chain:hover{
	color: #ccc;
}
.us:hover{
	color: #ccc;
}
/*--------------滚动的新闻列表---------------*/
.newslide{
	width: 1100px;	
	height: 85px;
	margin: 0 auto;
	overflow: hidden;
}
.newtitle{
	width: 95px;
	height: 85px;
	line-height: 85px;
	color: #d92443;
	font-size:22px;
	float: left;	
}
.newslide-content{
	float: left;
	margin-top: -85px;
}
.newslide-content>div{
	height: 85px;
	line-height: 85px;
	font-size: 18px;
}
.newslide-content>div a{
	display: block;
	color: #2A2A2A;
}
.newslide-content>div a:hover{
	color:#999999;
	/*text-decoration: underline;*/
}
/*-----------我们的优势---------------------*/
.myAdvantage{
	width: 100%;
	height: 530px;
	background: url(../img/bg2.png)no-repeat center center;
	background-size: 100% 100%;
}
.myAdvantage-top{
	width: 300px;
	height: 142px;
	margin: 16px auto 0;
	text-align: center;
	line-height: 142px;
	font-size: 38px;	
}
.myAdvantage-content{
	width: 1100px;
	margin: 0 auto;
}
.myAdvantage-content div{
	float: left;
	width: 275px;
	text-align: center;
}
.myAdvantage-content p{
	color: #d92443;
	/*width: 100%;*/
	margin: 30px 0;
	font-size: 21px;
}
.myAdvantage-content ul{
	list-style: disc;
	font-size: 15px;
	line-height: 30px;
	text-align: left;
	/*padding-left:70px ;*/
	margin-left:65px ;
}
.myAdvantage-content .secList{
	margin-left: 20px;
}
.myAdvantage-content .fouList{
	margin-left: 30px;
}
/*------------产品与服务--------------*/
.productservice{
	width: 1100px;
	height: 590px;
	margin: 0 auto;
}
.productservice-title{
	width: 200px;
	height: 145px;
	margin: 15px auto 0;
	line-height: 145px;
	text-align: center;
	font-size: 38px;	
}

/*----------底部分割线---------------*/
.bootline{
	width: 100%;
	height: 2px;
	background-color: #f7f7f7;
	border: none;
	margin-top: 108px;
}
.productservice-content{
	margin-left:-10px;
}
.productservice-float{
	width: 210px;
	height: 428px;
	float: left;
	margin-left: 10px;
	position: relative;
}
.movePart{
	position: absolute;
	top:108px;
	left:0;
}
.productservice-float1{
	background: url(../img/productbg1.jpg);
}
.productservice-float2{
	background: url(../img/productbg2.jpg);
}
.productservice-float3{
	background: url(../img/productbg3.jpg);
}
.productservice-float4{
	background: url(../img/productbg4.jpg);
}
.productservice-float5{
	background: url(../img/productbg5.jpg);
}
.productservice-float1:hover{
	background: url(../img/productbg9.jpg);
}
.productservice-float2:hover{
	background: url(../img/productbg10.jpg);
}
.productservice-float3:hover{
	background: url(../img/productbg6.jpg);
}
.productservice-float4:hover{
	background: url(../img/productbg7.jpg);
}
.productservice-float5:hover{
	background: url(../img/productbg8.jpg);
}
.productservice-img{
	display: block;
	width: 102px;
	height: 102px;
	margin:0 auto;
}
.productservice-floatp{
	width: 200px;
	margin: 0 auto;
	text-align: center;
	font-size: 22px;
	color: white;
}
.productservice-none{
	width: 100%;
	padding: 16px 0 0 10px;
	font-size: 16px;
	line-height: 30px;
	color: white;
	position: absolute;
	top:190px;
	left:0;
	display: none;
}
.productservice-none2{
	font-size: 11px;
	line-height: 16px;
}
.productservice-none3{
	text-align: center;
}
/*--------合作伙伴-------------*/
.partner{
	width: 1120px;
	height: 414px;
	margin: 0 auto;
}
.partner-top{
	width: 670px;
	height: 204px;
	padding-top: 115px;
	margin: 0 auto;
	
}
.partner-left{
	height: 4px;
	width: 141px;
	background: #474747;
	float: left;
	margin-top: 10px;
}
.partner-mid{
	font-size: 25px;
	color: #6e6e6e;
	height: 25px;
	line-height: 25px;
	margin: 0 120px;
	float: left;
	
}
.partner-right{
	height: 4px;
	width: 141px;
	background: #474747;
	margin-top: 10px;
	float: left;
}
.partner-bot{
	margin: 0 auto;
	height: 156px;
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.partner-bot div{
	flex-basis: 20%;
}

/*-------------页脚部分-----------------*/

.footer{
	height: 604px;
	width: 100%;
	background: #2e2e2e;
	position: relative;
}
.footer-top{
	margin: 0 auto;
	height: 374px;
	width: 1120px;
	display: flex;
	color: #d8d8d8;
	justify-content: space-between;
	
}
.footer-right{
	width: 360px;
}
.footer-title{
	height: 17px;
	font-size: 18px;
	line-height: 18px;
	margin-top: 85px;
	margin-bottom: 30px;
}
.footer-content{
	font-size: 14px;
	line-height: 31px;
}
hr{
	color: #ccc;
}
.footer-bot{
	height: 228px;
	width: 1120px;
	margin: 0 auto; 
	color: #d8d8d8;
	font-size: 14px;
	padding-top: 83px;	
}
.footer-bot-p1,.footer-bot-p2{
	text-align: center;
}
.clickmap1,.clickmap2{
	color: #d14f4f;
	margin-left: 15px;
	text-decoration: underline;
	cursor: pointer;
}
/*---------遮布、弹出地图---------------*/
.coverWrap{
	width: 100%;
	height: 100%;
	background: rgba(90,90,90,.6);
	position:  fixed;
	top: 0;
	z-index: 4;
	display: none;
}
.Map{
	height: 500px;
	width: 1000px;
	margin:30px auto 0;
	border-radius: 10px 10px 0 0;
}
.mapFoot{
	height: 45px;
	width: 1000px;
	margin: 0 auto;
	background: white;
	border-radius: 0 0 10px 10px;
	padding: 0.1px;
}
.closeCover{
	height: 30px;
	width: 50px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	border: 1px solid blue;
	border-radius: 8px;
	margin: 7px auto;
	color: fuchsia;
	font-size: 14px;
}

.closeCover:hover{
	background: #C0C0C0;
	color: mediumvioletred;
}
