html,body{
	width: 100%;
}
/*---------头部导航栏------------*/
.header{
	/*height: 600px;*/
	width: 100%;
}
.nav{
	height: 80px;
	width: 100%;
	top: 0;
	margin: 0 auto;
	/*background:red ;*/
}
.nav-out{
	width: 1120px;
	height: 100%;
	margin: 0 auto;
	/*background: blue;*/
	padding: 0.1px;
}
h1{
	float: left;
	margin-left: 173px;
	height: 80px;
	width: 100px;
	font-size: 0;
	background: url(../img/logo1.png) no-repeat 0 center;
	background-size: 100%;
}
h1 a{
	display: block;
	width: 100%;
	height: 100%;
}
.nav-ul{
	float: left;
	margin-top: 20px;
	margin-left: 70px;
	height: 40px;
	line-height: 40px;
	padding: 0.1px;

}
.nav-ul li{
		float: left;
		padding-left: 38px;
		font-size: 14px;
		width: 132px;
}
.nav-ul li a{
	color: #333333;
}
.nav-ul li:nth-child(3) a{
	color: #d92443;
}
.nav-ul li a:hover{
	color: #d92443;
}
.underline{
	display: block;
	width: 56px;
	height: 2px;
	background: #d92443;
	margin-left: 264px;
}
.headimg{
	width: 100%;
	height:384px;
	background: url(../img/solvetopbg.jpg) no-repeat center center;
	background-size: 100% 100%;
}
/*--------内容部分----------*/
/*字体描述部分*/
.description{width:1100px;margin:5px auto 0;}
.description p{line-height: 40px;text-indent: 2rem;letter-spacing: 1px;font-size: 17px;}
/*列表部分*/
.list{margin-bottom: 108px;height:780px;margin: 0 auto 108px;width:1100px;}
.list ul{margin-right: -12px;}
.list_li{height: 380px;width:266px;float: left;margin:12px 12px 0 0;position: relative;}
.list_li div{height:150px;position: absolute;top:115px;width:100%;text-align: center;}
.title{color:white;margin-top: 20px;font-size: 17px;}
.details{color:white;margin-top:240px !important;display: none; text-align: center;width: 92px;height: 28px;line-height: 28px;
		border: 1.5px white solid;
		border-radius: 3px;
		margin: 0 auto;
		font-size: 15px;
}
.details a{
	display: block;
	color:white;
}
/*.details:hover{
	background: #007AFF;
}*/
.list_1{background: url(../img/solvelist1.jpg) left center no-repeat;}
.list_2{background: url(../img/solvelist2.jpg) left center no-repeat;}
.list_3{background: url(../img/solvelist3.jpg) left center no-repeat;}
.list_4{background: url(../img/solvelist4.jpg) left center no-repeat;}
.list_5{background: url(../img/solvelist5.jpg) left center no-repeat;}
.list_6{background: url(../img/solvelist6.jpg) left center no-repeat;}
.list_7{background: url(../img/solvelist7.jpg) left center no-repeat;}
.list_8{background: url(../img/solvelist8.jpg) left center no-repeat;}
.list_1:hover{background: url(../img/solvelistbg1.jpg);}
.list_2:hover{background: url(../img/solvelistbg2.jpg);}
.list_3:hover{background: url(../img/solvelistbg3.jpg);}
.list_4:hover{background: url(../img/solvelistbg4.jpg);}
.list_5:hover{background: url(../img/solvelistbg5.jpg);}
.list_6:hover{background: url(../img/solvelistbg6.jpg);}
.list_7:hover{background: url(../img/solvelistbg7.png);}
.list_8:hover{background: url(../img/solvelistbg8.jpg);}

hr{
	background-color: #f7f7f7;
	border: none;
	height: 1.5px;
}
/*--------合作伙伴----------*/
.partner{
	width: 1120px;
	height: 414px;
	margin: 0 auto;
}
.partner-top{
	width: 670px;
	height: 204px;
	padding-top: 115px;
	margin: 0 auto;
	
}
.partner-left{
	height: 4px;
	width: 141px;
	background: #474747;
	float: left;
	margin-top: 10px;
}
.partner-mid{
	font-size: 25px;
	color: #6e6e6e;
	height: 25px;
	line-height: 25px;
	margin: 0 120px;
	float: left;
	
}
.partner-right{
	height: 4px;
	width: 141px;
	background: #474747;
	margin-top: 10px;
	float: left;
}
.partner-bot{
	margin: 0 auto;
	height: 156px;
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.partner-bot div{
	flex-basis: 20%;
}

/*-------------页脚部分-----------------*/

.footer{
	height: 604px;
	width: 100%;
	background: #2e2e2e;
}
.footer-top{
	margin: 0 auto;
	height: 374px;
	width: 1120px;
	display: flex;
	color: #d8d8d8;
	justify-content: space-between;
	
}
.footer-right{
	width: 360px;
}
.footer-title{
	height: 17px;
	font-size: 18px;
	line-height: 18px;
	margin-top: 85px;
	margin-bottom: 30px;
}
.footer-content{
	font-size: 14px;
	line-height: 31px;
}
hr{
	color: #ccc;
}
.footer-bot{
	height: 228px;
	width: 1120px;
	margin: 0 auto; 
	color: #d8d8d8;
	font-size: 14px;
	padding-top: 83px;	
}
.footer-bot-p1,.footer-bot-p2{
	text-align: center;
}
.clickmap1,.clickmap2{
	color: #d14f4f;
	margin-left: 15px;
	text-decoration: underline;
	cursor: pointer;
}


/*---------遮布、弹出地图---------------*/
.coverWrap{
	width: 100%;
	height: 100%;
	background: rgba(90,90,90,.6);
	position:  fixed;
	top: 0;
	z-index: 4;
	display: none;
}
.Map{
	height: 500px;
	width: 1000px;
	margin:30px auto 0;
	border-radius: 10px 10px 0 0;
}
.mapFoot{
	height: 45px;
	width: 1000px;
	margin: 0 auto;
	background: white;
	border-radius: 0 0 10px 10px;
	padding: 0.1px;
}
.closeCover{
	height: 30px;
	width: 50px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	border: 1px solid blue;
	border-radius: 8px;
	margin: 7px auto;
	color: fuchsia;
	font-size: 14px;
}

.closeCover:hover{
	background: #C0C0C0;
	color: mediumvioletred;
}











