html,body{
	width: 100%;
}
/*---------头部导航栏------------*/
.header{
	width: 100%;
}
.nav{
	height: 80px;
	width: 100%;
	top: 0;
	margin: 0 auto;
	/*background:red ;*/
}
.nav-out{
	width: 1120px;
	height: 100%;
	margin: 0 auto;
	/*background: blue;*/
	padding: 0.1px;
}
h1{
	float: left;
	margin-left: 173px;
	height: 80px;
	width: 100px;
	font-size: 0;
	background: url(../img/logo1.png) no-repeat 0 center;
	background-size: 100%;
}
h1 a{
	display: block;
	width: 100%;
	height: 100%;
}
.nav-ul{
	float: left;
	margin-top: 20px;
	margin-left: 70px;
	height: 40px;
	line-height: 40px;
	padding: 0.1px;

}
.nav-ul li{
		float: left;
		padding-left: 38px;
		font-size: 14px;
		width: 132px;
}
.nav-ul li a{
	color: #333333;
}
.nav-ul li:nth-child(4) a{
	color: #d92443;
}
.nav-ul li a:hover{
	color: #d92443;
}
.underline{
	display: block;
	width: 56px;
	height: 2px;
	background: #d92443;
	margin-left: 396px;
}
.headimg{
	width: 100%;
	height:384px;
	background: url(../img/wisdomgard.png) no-repeat center center;
	background-size: 100% 100%;
}
/*--------内容部分----------*/
/*字体描述部分*/
.description{width:1100px;margin:10px auto 0;}
.description p{line-height: 40px;text-indent: 2rem;letter-spacing: 1px;font-size: 17px;}
/*列表部分*/
.list{height:780px;margin: 10px auto 108px;width:1100px;}
.list ul{margin-right: -16px;}
.list_li{height: 256px;width:362px;float: left;margin:0 10px 10px 0;position: relative;}
.icon_2{height:122px;position: absolute;top:67px;width:100%;text-align: center;}
.title{color:white;margin-top: 20px;font-size: 17px;}
.list_li2{height: 508px;width:362px;float: left;margin:0 10px 10px 0;position: relative;}
.icon{height:122px;position: absolute;top:193px;width:100%;text-align: center;}
.icon_1{height:122px;position: absolute;top:63px;width:100%;text-align: center;}

.details{
	color:white;
	text-align: center;
	font-size: 15px;
	display:none;
}
.list_li .details{
		margin-top:110px !important;
}
.list_li2 .details{
	margin-top:250px;
}
.list_5 .details{
	margin-top: 100px;
}
.details h3{
	font-weight: normal;
	margin-bottom:14px ;
}
.details p{
	 overflow: hidden;
     text-overflow: ellipsis;   
     /*display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;*/
    font-size: 12px;
    /*margin-top:16px;*/
    white-space: nowrap;
    line-height: 16px;
}
.details a{
	display: block;
	color:white;
	border: 1.5px white solid;
	border-radius: 3px;
	width:90px;
	margin:20px auto;	
}
.list_5_1 .details{margin-top:122px;}
.list_5_1 .details a{margin-top:10px;}
/*.details:hover{
	background: #007AFF;
}*/
/*.list_5{margin-bottom: -10px;}*/
.list_5_0{width:100%;height:249px;padding: 0.1px;}
.list_1{background: url(../img/wisdomgard1.png) left center no-repeat;}
.list_2{background: url(../img/wisdomgard2.png) left center no-repeat;}
.list_3{background: url(../img/wisdomgard3.png) left center no-repeat;}
.list_4{background: url(../img/wisdomgard7.png) left center no-repeat;}
.list_5_1{background: url(../img/wisdomgard4.png) left center no-repeat;position: relative;}
.list_5_2{background: url(../img/wisdomgard5.png) left center no-repeat;margin-top:10px;position: relative;}
.list_6{background: url(../img/wisdomgard6.png) left center no-repeat;}

.list_1:hover{background: url(../img/wisdomgard16.png);}
.list_2:hover{background: url(../img/wisdomgard17.png);}
.list_3:hover{background: url(../img/wisdomgard18.png);}
.list_4:hover{background: url(../img/wisdomgard22.png);}
.list_5_1:hover{background: url(../img/wisdomgard19.png);}
.list_5_2:hover{background: url(../img/wisdomgard20.png);}
.list_6:hover{background: url(../img/wisdomgard21.png);}

hr{
	background-color: #f7f7f7;
	border: none;
	height: 1.5px;
}
/*--------合作伙伴----------*/
.partner{
	width: 1120px;
	height: 414px;
	margin: 0 auto;
}
.partner-top{
	width: 670px;
	height: 204px;
	padding-top: 115px;
	margin: 0 auto;
	
}
.partner-left{
	height: 4px;
	width: 141px;
	background: #474747;
	float: left;
	margin-top: 10px;
}
.partner-mid{
	font-size: 25px;
	color: #6e6e6e;
	height: 25px;
	line-height: 25px;
	margin: 0 120px;
	float: left;
	
}
.partner-right{
	height: 4px;
	width: 141px;
	background: #474747;
	margin-top: 10px;
	float: left;
}
.partner-bot{
	margin: 0 auto;
	height: 156px;
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.partner-bot div{
	flex-basis: 20%;
}

/*-------------页脚部分-----------------*/

.footer{
	height: 604px;
	width: 100%;
	background: #2e2e2e;
}
.footer-top{
	margin: 0 auto;
	height: 374px;
	width: 1120px;
	display: flex;
	color: #d8d8d8;
	justify-content: space-between;
	
}
.footer-right{
	width: 360px;
}
.footer-title{
	height: 17px;
	font-size: 18px;
	line-height: 18px;
	margin-top: 85px;
	margin-bottom: 30px;
}
.footer-content{
	font-size: 14px;
	line-height: 31px;
}
hr{
	color: #ccc;
}
.footer-bot{
	height: 228px;
	width: 1120px;
	margin: 0 auto; 
	color: #d8d8d8;
	font-size: 14px;
	padding-top: 83px;	
}
.footer-bot-p1,.footer-bot-p2{
	text-align: center;
}
.clickmap1,.clickmap2{
	color: #d14f4f;
	margin-left: 15px;
	text-decoration: underline;
	cursor: pointer;
}


/*---------遮布、弹出地图---------------*/
.coverWrap{
	width: 100%;
	height: 100%;
	background: rgba(90,90,90,.6);
	position:  fixed;
	top: 0;
	z-index: 4;
	display: none;
}
.Map{
	height: 500px;
	width: 1000px;
	margin:30px auto 0;
	border-radius: 10px 10px 0 0;
}
.mapFoot{
	height: 45px;
	width: 1000px;
	margin: 0 auto;
	background: white;
	border-radius: 0 0 10px 10px;
	padding: 0.1px;
}
.closeCover{
	height: 30px;
	width: 50px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	border: 1px solid blue;
	border-radius: 8px;
	margin: 7px auto;
	color: fuchsia;
	font-size: 14px;
}

.closeCover:hover{
	background: #C0C0C0;
	color: mediumvioletred;
}











