<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>LoRa与NB-IoT有何不同，哪种技术市场应用更广？</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">LoRa与NB-IoT有何不同，哪种技术市场应用更广？</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p> LoRa与NB-IoT是最有发展前景的两个低功耗广域网通信技术。不过两者之间到底有什么区别和不同？谁又将更胜一筹占领LPWAN制高点？</p>
						    <p>物联网的快速发展对无线通信技术提出了更高的要求，专为低带宽、低功耗、远距离、大量连接的物联网应用而设计的LPWAN（low-power Wide-Area Network，低功耗广域网）也快速兴起。NB-IoT与LoRa是其中的典型代表，也是最有发展前景的两个低功耗广域网通信技术。这两者之间到底有什么区别和不同？有什么重叠或不同的应用范围？</p>
						    <div class="newsDetailsImg">
							   <img src="../img/newsVocationDetails03.png"/>
						    </div>
						    <div class="newsDetailsTitle_2">
						    	LoRa ：易于建设和部署的低功耗广域物联技术
						    </div>
						    <p>LoRa 的诞生比 NB-IoT 要早些，2013 年 8 月，Semtech 公司向业界发布了一种新型的基于 1GHz 以下的超长距低功耗数据传输技术（Long Range，简称 LoRa）的芯片。其接受灵敏度达到了惊人的-148dbm，与业界其他先进水平的 sub-GHz 芯片相比，最高的接收灵敏度改善了 20db 以上，这确保了网络连接可靠性。</p>
	                        <p>关于这个话题，行业专家表示，由于NB-IoT的大力宣传，很多人以为它将成为其他低功耗广域网络技术发展路上的“终结者”，并为此感到害怕，其实不然。NB-IoT的发展，使得整个市场对于低功耗广域网络的需求被激发了，LoRa这项低功耗广域网络技术反而更快速、更大限度地被市场意识到了。最近唯传公司对LoRa最大空空平行距离的测试，达到了21.5公里，引起了业内的巨大反响，客户也增加了很多。</p>
	                        <div class="newsDetailsTitle_2">
						    	面对这样一个有强劲后台的后起之秀NB-IoT，LoRa 真的会被其取代吗？
						    </div>
						    <p>任何技术都不能完全占领市场，NB-IoT将会对整个行业的发展起到促进作用，从某种程度上说，NB-IoT和LoRa是属于两个阵营的。因为NB-IoT主要依赖于运营商的基础设施，进行协议对接，LoRa是一个更灵活的自主网络，在任何需要的地方，都可以进行部署</p>
						    <p>专家表示NB-IoT发展迅速，NB-IoT得到了众多通信企业的支持，如爱立信、诺基亚、华为和中兴等电信设备供应商，大型电信运营商如AT&T、中国移动和中国联通，以及芯片解决方案供应商如高通等，有望于2017年规模商用。但是NB-IoT主要取决于网络覆盖，在很多条件恶劣的地方，运营商的基础设施并没有完全覆盖，这些空白领域，就是LoRa的市场。另外，整个物联网领域，碎片化情况非常严重，应用领域各种各样，这就给LoRa的发展带来了很多机遇。LoRa随时可以部署，不限地域，非常灵活。NB-IoT和LoRa一定是共同存在的，互为补充。同时，NB-IoT也不仅仅只是和LoRa竞争，和其他技术也是处于竞争局面。</p>
						    <p>行业专家表示：“LoRa 相对 NB-IoT 的好处是已经有成熟的商用， 而 NB-IoT 才刚刚开始。 LoRa 和 NB-IoT的应用可能会有很多重叠，不过 NB-IoT 是由运营商来主导，要用到运营商的网络，因此数据是先上到运营商那里， 许多企业或许不愿意把自己的数据给到别人， 所以这些企业宁愿部署自己的私有物联网络，这时候用 LoRa 就很合适。”</p>
						    <div class="newsDetailsTitle_2">
						    	LoRa技术取得突破性进展，国外运营商已部署骨干网
						    </div>
						    <p>LoRa是由升特公司（Semech）发布的一种专用于无线电调制解调的技术，相比NB-IoT，LoRa是一种更加“开放”的系统。</p>
						    <p>专家表示，LoRa最大的优势就是低功耗，易组网，成本低，传输距离远等等，可以满足长时间的运作，电池供电使用时间长达数年。LoRa很适合局部领域的需求，还可以覆盖到全国。目前全球大概有数百万个物联网节点运用LoRa技术。值得一提的是，LoRa非常适合大规模部署，比如在智慧城市中的市政设施检测或者无线抄表等应用领域。LoRa目前方案实施的成本也比NB-IoT要低。而且LoRa技术发展比NB-IoT早，产业链也相对成熟。</p>
						    <p>谈到LoRa技术的进展，目前LoRa技术最新的LoRaWAN协议V1.1已经开始在小范围试用，特别是在基站漫游、位置定位等领域取得了突破性的进展。在产业链方面，LoRa联盟也在不断发展壮大，在国外如韩国电信SKT、印度塔塔电信等都开始在全国完成LoRa骨干网络的部署。</p>
						    <p>可见，LoRa不惧NB-IoT挑战，两者各有千秋。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
