<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>互联网之后的下一个风口  物联网各行各业带来哪些机会?</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">互联网之后的下一个风口 &nbsp; 物联网各行各业带来哪些机会?</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>国务院总理李克强在2016 政府工作报告中提出，在“十三五”期间要促进 大数据 、云计算、物联网广泛应用。</p>
							<p>数据显示，2015 年中国物联网整体市场规模高达7，500 亿元，业界预测，物联网将是互联网之后的下一个风口。具体物联网会给各行各业带来哪些机会，本文或许能为您提供一些参考。</p>
							<div class="newsDetailsImg">
								<img src="../img/newsVocationDetails08.png"/>
							</div>
							<p> 想象一个洒水系统，它结合了天气预报、传感器以及按使用次数收费的机制来对你家草坪的灌溉系统进行优化。或者公共空间里的垃圾箱，它能根据需要对垃圾进行压缩，同时在装满时提醒市政工作者前来清理。 这就是物联网，在这个“网”中，数以百万计的传感器和设备不断产生持续的数据流，以多种方式改善我们的生活和工作。比如，自动停车的座驾如今还是个梦想，但自动驾驶的出租车却可以将我们送到城市里的任何地方，中途还能停下车，让愿意拼车省钱的乘客加入;或者能够跑遍全国各地进行商业运输的卡车，快捷、安全，还能避开交通带来的延误，同时优化车辆零件更换的需求。这些可不是遥不可及的梦想。而家居安全系统已经提供了远程控制门禁和室内温控的功能，但这些系统能为你做的事还不止如此——就算是根据你的喜好、当前的天气情况和你到家的时间来自动通风降温也不是难事。</p>
							<div class="newsDetailsTitle_2">
								从物联网中受益
							</div>
							<p>在你惊讶于与互联网相连的物体的数量，以及基于其产生的数据流分析后发现的商机之时，不妨想想以下问题：如果设备和传感器彼此联网并能相互沟通，这意味着什么呢?物联网会如何影响你的日常生活?有些影响是显而易见的：GPS系统、报警系统和温控系统——全都在发送和接收持续不断的数据，从而监控和自动开展手机和家居中的活动。有些影响则不那么明显：地板、杯子、服装和其他日常生活中的物品也能够接入互联网传输往来数据。各公司正积极主动地寻求机会，通过梳理其中的数据来开辟新市场，激发积极的变化或改善现有的服务。让我们来看看位于这场变革前沿的一些行业中的例子吧：</p>
							<p>智能交通解决方案加快了公共交通的流速、减少了燃料消耗、优化了车辆修理的时间安排并且能够减少交通事故，挽救人们的生命。</p>
							<p>智能电网能够以更高的效率连接可再生能源，提高系统可靠性并且能根据更小的用量单位对消费者收费</p>
							<p>远程医疗监控为人们提供便利，能够很方便地获得医疗服务，提升医疗质量，扩大覆盖范围，同时降低费用。</p>
							<p>感应器能装到家庭中、机场里，甚至装到鞋子和门里，可设置成如果每隔一段时间未被使用(或未在非正常时间使用)就发送信息，从而提高安全性。</p>
							<p>机械监控传感器能诊断(并预测)即将出现的维护问题、近期零件缺货，甚至能根据修复设备和地区需求对维护人员的日程安排进行优化。</p>
							<p>联网设备的应用范围会从企业和工业延伸到大众市场。日常的消费电子产品、家用电器和城市基础设施中会用上更多更小巧的联网传感器和执行器。因此，如果你的牛奶快用完了，电冰箱就会在你回家途中经过商店时进行提醒，而不是等到晚餐要用牛奶时才发现。如果在商店买牛奶的你是个老客户，甚至都不用去收银台结账。传感器能识别出你从货架上拿走了什么，一旦你把商品带离商店，货款就会自动从你的账户中扣除。从这些设备中采集并汇总到我们的网络和系统中的数据量也会激增。目前每秒都会生成数十亿条信息事件，供我们进行处理、分析，并在设备与人之间进行共享，从而改善人们的生活。设备已就绪，网络已架好，数据的洪流已开始流动，你准备好了吗?</p>
						    <div class="newsDetailsTitle_2">
								重要的是分析数据
							</div>
							<p>从电子和机械传感器、无线射频识别标签、智能计量表、扫描仪、移动通讯、即时社交媒体上接收和发送各种数据，并从中得到大量的信息。当这些数据来源全部联网并(在无人干预的前提下)彼此通讯时，物联网(IoT)就诞生了。</p>
							<p>但要想从这些来源的数据流中得到有用的知识，并在这种新经济中分一杯羹，你必须用对分析法。在传统分析法中，数据先被储存，然后才进行分析。不过，在分析持续不断的数据流时，数据在经过的同时就必须实时进行分析。这样才能在数据实时生成时识别和查看 人们感兴趣的特征。组织因此能够立即获得洞见并立即采取措施。在数据被存储到云端服务器或任何高性能存储设备上之前，事件流就能自动进行处理。然后，你使用分析法来解读数据，与此同时，你的设备还在继续发送和接收数据。而这种在数据离开设备之后尽快使用分析法分析数据流的做法为许多行业开辟了新的知识领域。现在让我们来看一些示例。</p>
							<p>医疗行业的物联网： 在医疗行业，分析物联网数据能增加治疗癌症的机器的运行时间，从而让患者能在预定的时间获得治疗。如果错过了治疗时间，患者的治疗效果将降低多达40%，因此减少维修的干扰至关重要。由于对数以百计的传感器进行监控，提前发现问题，并主动进行纠正，维修人员能带着必要的信息和零件在同一时间进行维护。瑞典医疗技术集团医科达(Elekta)为组织提供设备和手术管理方案，以帮助治疗癌症和脑部疾病。据他们所说，由于进行了这类监控，维修人员进行现场维护的时间减少了3成。</p>
							<p>制造业的物联网： 汽车工业正在加紧开发探测系统，从而在即将发生碰撞时决定何时回避。研究人员以雷达和其它类型的遥控技术为基础，对驾驶时的状况进行监控，以评估(并最终避开)碰撞。这些碰撞闪避系统评估的是碰撞事件的可能性，如果驾驶者没有进行响应，就会自动下令对车辆进行机械方面的调整——包括减速和改变外部的车灯信号。</p>
							<p>零售业的物联网：在零售业中，客户同样是物联网的核心。有些公司正在就此展开研究，设法采集和处理数以千计的购物者往来各种商店之间的数据。传感器读数和视频提供的这种“店内地理”数据能描绘出购物者在每个橱窗前逗留的时间，记录他们最终的采购结果。</p>
							<p>如果想要优化店铺布局，这些数据点也能与智能设备的Wi-Fi网络进行关联。除了针对适合的购物者提供店内促销之外，零售商也能询问客户意见——使用物联网数据进行互动，定制购物体验和增强忠诚度。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
