<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>补短板、提品质！东城街道召开推进城市精细化管理工作会议</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news----------- -->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">补短板、提品质！东城街道召开推进城市精细化管理工作会议</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>9月4日上午，东城街道召开推进城市精细化管理工作会议。市城市综合管理局副局长叶志锋，副调研员徐少钢，街道党委副书记、办事处主任邵宏武，街道党委委员张小凯，以及各社区负责人及分管环卫“两委”干部、街道城管委各成员部门负责人等参加会议。</p>
							<p>本次会议是东城推进城市精细化管理、提升城市品质的一次重要会议，对做好下来的城市精细化管理工作做了全面部署，促使城市精细化管理工作上一个台阶。</p>
							<p>会议播放了城市精细化管理暗访片，通报了各社区、园区近期在城市精细化管理方面存在的短板问题，让各社区及街道城管委各成员部门深刻认识到自身存在的短板和不足，为下来更好地开展好城市精细化管理工作聚焦发力。</p>
							<div class="newsDetailsImg">
								<img src="http://p.iotwhere.com:38080/webimglib/2018-readme-17-01.jpeg" width="90%"/>
							</div>
							<p>同时，会议安排了温塘、周屋社区及城管分局主要负责人围绕推进城市精细化管理工作作了表态发言。</p>
							<p>张小凯对东城的城市精细化管理工作作了具体工作部署。</p>
							<p>要求统一认识、高度重视城市精细化管理工作，并坚持问题导向，深入查找城市精细化管理的短板问题。</p>
							<div class="newsDetailsImg">
								<img src="http://p.iotwhere.com:38080/webimglib/2018-readme-17-02.jpeg" width="90%"/>
							</div>
							<p>综合运用“以奖代补”、城市精细化管理考核、巡查督导等手段推进城市精细化管理常态化。</p>
							<p>通过定期开展大清扫活动、开展民意测评、设立城市管理监督员、强化落实“门前三包”等，进一步加强宣传发动力度。</p>
							<p>邵宏武要求：</p>
							<p>各社区、各单位要深刻反醒存在问题，切实改变管理意识被动、经费投入不足、对新出现的问题束手无策、管理不到位等问题。要加强对精细化管理的理解，做到细管、严管、科学管。</p>
							<p>细管就是要将城市管理事项分解到属事部门、社区、工厂、商业街、商铺等不同主体，分不同时段进行监管；严管就是要严查、严防、严管，充分利用自治力量和乡规民约来强化管理；科学管就是要科学认识城市运营的规律，想新招、出新办法。</p>
							<p>东城下来要这样干着力提升城市品质</p>
							<p>一是补短板，街道城管委在主动巡查考评当中要充分运用“双随机一公开”，要有硬的手段和制定具体实施方案；二是创特色，要善于总结，找亮点；三是树标杆，在城市管理领域要树立东城标准，推动各项具体工作量化、标准化、常态化建设。</p>
							<p>市城市综合管理局高度重视东城街道的城市精细化管理工作，要求东城街道突出问题导向，提升精细化管理工作的实效性；全面抓重点、全面抓整改、落实属地责任，切实拿出做好城市精细化管理的真功夫；进一步抓实抓好，加快推进中央环保督察、固废处理、违建治理、蓝天保卫战等近期核心任务。</p>
							<p>会议最后要求，各社区、街道城管委各成员部门提高认识、以问题为导向、强化执行力、建立常态化，扭转东城城市管理的被动局面，实实在在打个漂亮的翻身战，建设更加美好东城。</p>
							<p>转载自：<a href="http://idg.timedg.com/2018-09/05/20702727.shtml" target="_blank" >http://idg.timedg.com/2018-09/05/20702727.shtml</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
