<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> LoRa，物联网技术中的一骑绝尘</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle"> LoRa，物联网技术中的一骑绝尘</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>2013年Semtech公司发布了SX127x系列芯片，标志着其研发的LoRa技术正式公布于众，LoRa是Long Rang(远程)的缩写，主要采用了扩展频谱通信技术，但非直接序列扩频，而是使用未调制载波进行线性调频，其主要特点是超低功耗和超远距离，工作于开放频段。例如适应中国470-510MHz频段的SX1278芯片，它在休眠状态下的典型工作电流仅为0.2uA，接收工作模式下功耗电流为10mA左右，而发射工作模式下功耗电流为20-120mA。芯片拥有超高灵敏度，接收最低可以达到-148dBm，另外支持6-12之间不同的扩频因子，由于同一信道可以对多个不同扩频因子的信号进行解调，所以LoRa星形网络具有非常高的容量。也许很多人对这些参数并不感兴趣，无法理解LoRa技术的神奇之处，那么通俗点来讲就是，基于LoRa技术的普通数据发射器，可以在两节五号电池供电的情况下，向距离一二十公里的接收网关持续发送信息，并能稳定工作10年以上。</p>
							<div class="newsDetailsImg">
								<img src="../img/newsVocationDetails07.png"/>
							</div>
							<p>没有放之四海而皆准的技术，当然LoRa技术也不可能完全解决物联网中的通信问题，由于调制技术的原因，LoRa设备只能传输非常低速率的信息，所以打算用LoRa设备下载电影，来个视频通话是不现实的。但是LPWAN(低功耗广域网)是物联网重要的组成部分，例如智慧城市建设中埋设各处的传感器，大面积范围内为农业提供土壤环境信息的设备，它们都需要耗电量少且覆盖范围广的低成本解决方案，在这一领域LoRa可谓独领风骚，很多参数都远超其它技术标准。最为重要的是，一项技术除了各种性能指标，决定性因素还是市场的接受认可度，在其它技术还处于研究阶段的时候，LoRa技术就已经实现了全面的商业化，各种设备也如雨后春笋般涌现出来。这里就不得不提到本次大会的主办方LoRa联盟了，思科、IBM、升特(Semtech)、微芯(Microchip)和意法半导体(STM)等多家科技巨头都是其成员，共同致力推广远距离、可双向通讯、低成本且低功耗的LoRa广域网络。LoRa联盟主席Geoff Mulligan先生在大会上介绍，2015年3月第一次成员大会召开的时候，其企业成员仅仅31家，但是现在才过去了16个月，成员数量就已经达到了368家，增长了十多倍，从此足以可见市场对LoRa技术的认可，也证明了LoRa技术披坚执锐的实力。</p>
							<div class="newsDetailsTitle_2">
								LoRa网络在德国的发展
							</div>
							<p>德国Digimondo公司，隶属于欧洲最大电力公司意昂集团的一家物联网子公司。在会后的交谈中，公司总裁Marcus Walena先生向笔者介绍到，公司名中的mondo源于意大利语，意为“世界”，作为一家IoT公司，Digimondo公司致力于在德国建立起一个“数字世界”，赋予亿万物品以生命。其公司的所有产品及服务，都是围绕LoRa这一技术展开，公司创始人及员工都非常认同，LoRa这一跨时代的技术，必将迅速被普及、迅速改变物联网的面貌，在这一过程中，德国不能落后，Digimondo公司不能落后!</p>
							<p>Digimondo公司作为德国唯一的LoRa网络运营商，他们正全力完成铺设工作，公司已经在德国25个主要大城市建设完成了LoRa网络，大多数也性能测试完毕，2017年将实现整个德国的LoRa网络无缝覆盖。其次是Digimondo公司开发了自己的网络应用系统“firefly”，客户可以随时随地登录，直观查看各种LoRa应用，例如电能表、温度计、定位模块、空气检测设备等等发送的实时信息。</p>
							<div class="newsDetailsTitle_2">
								中国企业捷足先登
							</div>
							<p>令笔者更为欣喜的是，在LoRa技术的发展实现进程中，我们中国的企业不但没有缺席，反而捷足先登，在展会现场就遇到多家来自祖国的企业。更为了不起的是，Digimondo公司第三部分介绍的LoRa设备应用，其主打产品LoRa电能表竟然就是来自于中国杭州，由著名仪表企业“华立科技”设计生产完成。Digimondo公司产品经理在会场向大家介绍，他们在原有普通电能表的基础上，仅仅是内部添加了LoRa通信模块就取得了非常惊艳的效果，可谓点石成金，获得了一款性能优良的智能电表，相比较市场上其它采用PLC、GPRS通信方式的智能电表，LoRa技术展现了它的超强实力，不仅成本低廉，能耗可以忽略不计，而且抗干扰能力非常突出，关键是组网非常的方便，电表上电后无需进行任何操作，便可以自动接入LoRa网络，每分钟向外发送一次电量信息。他们的试点结果表明，这才是真正的智能电表解决方案，是真正满足客户需求和适应市场的产品。</p>
							<p>笔者有幸联系到了华立科技新技术研究所的总监朱虹先生，进一步向他请教了LoRa电表的细节情况。据他介绍华立的产品之所以可以抢占先机，迅速进入业界认为困难的欧洲市场，是因为虽然华立作为一家传统行业的电能表公司，却一直时刻关注时代科技的最新发展，不断提升自己的技术实力。早在2012年semtech公司就有来华立介绍LoRa调制通信技术，华立也立即认识到了这一通信技术将为能源表计行业带来非常巨大的变化，于是公司一直坚持在该项目上持续研发投入，2015年LoRa联盟成立时，华立科技股份有限公司便紧随加入，产品方面不仅独立开发了LoRaWAN模块，而且拥有配套的网关和后台系统软件。所以在德国客户提出相应需求时，华立才可以及时跟紧迅速推出了满意的LoRa电能表产品。朱虹先生同时强调说，华立作为Digimondo公司的合作伙伴也受益匪浅，LoRa电表的批量安装试点，让华立积累了丰富扎实的LoRaWAN系统组建经验，保证了产品今后在中国或者其它市场上，拥有较高的可靠性和稳定性，另外这也非常有利于华立其它诸如智慧安防、医护、市政等LoRaWAN产品的开发。</p>
							<div class="newsDetailsTitle_2">
								LoRa畅想
							</div>
							<p>作为一项新技术，LoRa还有很多细节需要发展完善，也有巨大的潜力需要挖掘。LoRaWAN产品的一致性认证标准还有待完善，入网检测技术需要更多的公司去开发设计。LoRa定位技术，利用三网关接收同一LoRa设备信号的强弱来计算其大致位置，算法上还要进一步成熟，这一应用有望大多情况取代耗电较高的GPS模块。LoRa还有太多的工作要做，期待更多的工程师和公司能够投入到这一领域，加速LoRa产业的实现和普及，让人们可以尽早享受物联网带来的绚丽生活。当然更希望这期间有更多来自中国的身影，踩着时代科技潮头的浪花，让世界看到中国企业的技术实力，中国制造的优秀品质!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
