<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>打开千亿市场大门 边缘能力或成新一代信息浪潮领跑关键</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news----------- -->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">打开千亿市场大门 边缘能力或成新一代信息浪潮领跑关键</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>科技领域的竞技场从来不缺挑战，随着新一代信息技术浪潮袭来，全球网络基础设施服务领域正在迎来一场革新。</p>
							<p>近日，全球第二大CDN服务商网宿科技在其构建的边缘网络上开放了边缘计算的资源和能力，推出边缘IaaS及PaaS服务，并加大了对边缘网络安全能力的投入。</p>
							<p>此外，包括Limelight、CloudFlare在内的CDN公司也相继推出了不同的边缘计算服务，CDN技术发明者akamai基于CDN网络的安全服务则逐渐显现出业内公认的优势，成为营收增长的重要助推力。</p>
							<p>如今，全球CDN服务商均陆续在边缘能力上加大投入，以充分发挥自身架构优势，抢食物联网时代的千亿美元云市场。据第三方咨询机构数据，边缘计算及安全服务市场将迎来千亿级美元的成长空间。</p>
							<p>自2017年物联网设备数量首次超过全球人口，物联网拉开了时代序幕，随之而来的是指数增长的海量数据及网络安全隐患。</p>
							<p>IDC预测，到2020年，全球将有超过500亿的终端与设备联网，超过40%的数据要在网络边缘侧进行分析、处理与存储。这意味着，从互联网向物联网过渡的时代转折中，网络服务商的边缘能力将经受一场大考。</p>
							<p>业内人士表示，随着越来越多的设备接入互联网，仅仅依靠加速来解决大量动态内容的分发，已经不能满足物联网时代的需求，未来更需要能够在靠近用户的网络边缘实现计算、安全、存储等功能。</p>
							<p>CDN分布式网络架构正好契合了物联网对网络基础设施的需求，能够通过智能拓展壮大边缘网络的资源和能力，满足不同阶段的数据承载需求，且离用户更近，拥有与生俱来的边缘节点属性。</p>
							<p>网宿科技副总裁李东认为，CDN服务商需要在数据分发的基础上，强化边缘能力，开放计算、存储、安全等一系列服务，只有这样才能满足智能社会的网络服务需求。据了解，网宿科技已经升级原有CDN网络为边缘计算网络，并率先推出边缘计算平台，一方面开放边缘微服务，另一方面提供边缘平台的IaaS及PaaS服务。</p>
							<p>在新一代信息技术革命浪潮下，边缘能力已经成为CDN服务商下一场角逐的关键点，为CDN企业打开巨大的市场空间，仅边缘计算市场就将迎来千亿级美元的市场空间。</p>
							<p>TrendForce最新预测显示，边缘计算产品和服务市场在2018年至2022年将以复合年增长率超过30%的速度增长。这一增速或有望引领千亿级美元的云市场。</p>
							<p>此外，边缘网络的安全防御能力也将成为CDN企业突破营收的一个重要助燃器。Gartner公司预测，到2018年，全球企业安全支出总额将达到963亿美元，比2017年增长8%。</p>
							<p>全球CDN巨头Akamai在安全领域的斐然成绩已经印证了这一市场判断。根据Akamai最新公布的财报显示，2018年一季度，Akamai云安全解决方案收入为1.492亿美元，与去年同期的1.1亿美元相比，增长了35.6%。</p>
							<p>Akamai曾在财报中坦承，云安全的销售增长为公司收入增长做出了巨大贡献，在未来将会继续专注于安全领域。</p>
							<p>事实上，边缘能力是CDN企业领跑关键已经成为业内共识。目前，全球CDN服务商陆续在自身的边缘能力上加大投入，以期分得智能社会所带来的市场红利。</p>
							<p class="foot-state"><a href="http://finance.people.com.cn/n1/2018/0530/c1004-30024143.html?from=groupmessage" target="_blank"  style="color: red;text-decoration: underline;">阅读原文</a></p>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
