<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>LoRa技术如何使供应链和资产管理变得更智能</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news----------- -->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">LoRa技术如何使供应链和资产管理变得更智能</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<div class="newsDetailsTitle_2">摘要</div>
							<p>市场调研公司Gartner预测：到2020年，超过一半的重要新业务流程都将包含一些物联网（IoT）元素，并相信联接到互联网的物理设备的数量将增加三十倍，它们将“极大地改变供应链的运作方式”。这并不令人吃惊，因为对于那些指望从供应链收获更多价值的组织机构来说，物联网一直以来都是一个倍受瞩目的焦点领域。全球的企业都认识到了物联网的转型角色，许多部署都聚焦在识别、定位和跟踪资产状态。</p>
							<p>然而，通常的物联网解决方案和设备一直都非常昂贵，或在实施中不切合实际。主要的困难一直在于用一种无缝的方式将远处的传感器无线连接到不同站点或不同国家（室内或室外）的互联网上，并且还要遵循供应链的所有步骤。理想的无线连接技术应该是物美价廉的和安全的，可在超远距离外工作，且拥有超长的电池续航时间。像zigbee、Bluetooth和Wi-Fi这样的短距离技术不能满足这些要求，蜂窝移动网络显然支持更长的距离，但电池续航时间太短。此外，运营商的蜂窝移动数据计划非常昂贵；且对于大规模物品级（例如卡车上的包装箱）的部署来说，蜂窝移动数据芯片组的成本太高。</p>
							<p>为了克服这些挑战，LoRa器件和无线RF技术（LoRa技术）及LoRaWAN开放协议成为了智能供应链和物流物联网应用的理想无线连接解决方案。LoRa技术具有远距离（在空旷的野外远达30英里）和低功耗（长达超过10年的电池续航时间）等特性，这些功能可通过实时位置跟踪监控流动的资产。此外，LoRa技术和LoRaWAN开放协议拥有一个非常强大可靠的生态系统，包括支持LoRa的传感器、网关、网络服务器、网络、及服务提供商——这些对于那些指望快速定制并扩大最优解决方案的集成商来说，是一种现成可用的资源，同时可充分利用基于开放标准的竞争所带来的经济性。</p>

							<div class="newsDetailsTitle_2">供应链及物流领域内的趋势</div>
							<p>如果LoRa技术是无线物联网供应链解决方案的一个理想选择，那么一家企业该如何做出决定呢？一种起步方法是观察已经在市场上运行的解决方案的典型案例和趋势，看看它们与你自己的一系列特定挑战和需求之间，是否有紧密的相关性。以下便是供应链行业中正在产生的主要趋势：</p>
							<p>	· 资产跟踪。无论是监控成卷或成箱的廉价资产的位置，还是监控诸如拖车、卡车、铁路车厢和航运集装箱等更昂贵资产的位置，都可以使这些资产在需要时可立即被利用，不会出现弃用、丢失或被窃的情况。</p>
							<p>	· 车队运营。监控车队的车辆和司机，并将LoRa技术集成到供应链的企业资源计划（ERP）系统中，可在优化设备使用率和交货时间等方面提供帮助，并有助于公司去承担社会责任义务，如计算车辆保养时间、司机休息时间、二氧化碳排放情况和其他影响车队成本、效率和最优使用率的因素。</p>
							<p> · 预防性维护和预见性维护。监控在制造和供应链过程中所使用的发动机或其它设备的健康情况（温度、振动、磨损等）来实现预见性维护。设备也因此而有可能拥有更长的有效运行时间和工作时间。优化维护操作和备件成本，加上减少生产中的不易监测的步骤，都有助于保护投资并降低风险。</p>
							<p>	· 防盗。从工厂到商店货架，盗窃是最常见的货品丢失方式——这因而也成为了在整个供应链中跟踪货物的另一个原因。</p>
							<p>面向智能供应链和物流行业的物联网使用场景应用是数不尽数的。不论是Adveez这样一家数据采集和免提接入控制硬件和软件的制造商，还是GlobalSat这样一家重要的GPS和其它位置感知类电子和通信解决方案供应商，都使用了LoRa技术来跟踪高价值的资产，包括机场和施工现场的车队和地面设备。LoRa技术解决了如何高性价比地将供应链中远处的传感器连接至云端的问题。</p>
							<p>利用基于LoRa的技术对车队和设备进行跟踪，商家可通过延长它们在现场的运行时间来降低成本，同时对维护相关的问题具有更好的可见性，并可密切监控实时位置。来源于支持LoRa的传感器中的数据可集成在商业信息系统中，以提供丰富的商业情报，而其回报是改善了整体业务运营情况并让公司获得投资回报（ROI）。</p>
							<div class="newsDetailsTitle_2">在机场和施工现场跟踪资产</div>
							<p>Adveez公司总部位于法国图卢兹，它利用LoRa技术来帮助全球的机场去降低地面支持设备的维护成本，这些设备包括托盘码堆车、皮带传送装载车、餐饮车和地面电源装置。</p>
							<p>“LoRa技术对于我们来说真的已是一个游戏规则改变者。此前提供数据上传技术的公司都限于一种可能非常昂贵的蜂窝网络连接，”Adveez业务发展总监Marco Mularoni说道。“仅为了数据服务，过去每个单元每月需要8美元或10美元费用，所以如果你有好几百个单元，那费用会增加得非常快；但是通过使用LoRa技术，向上传输数据的月度服务费几乎接近零。”</p>
							<p>Adveez提供的支持LoRa的终端设备从装备中捕获使用情况和位置数据，然后通过无线方式发送给基于LoRa的网关。这些数据接着被传送至云端，操作人员可在Adveez的网络操作台上看到商业情报。</p>
							<p>自从使用LoRa技术，Adveez已经显著地降低了收集远程数据所需要的成本和工作量。从设备中捕获数据的要求一直并且永远都存在，但竞争优势是从设备到云端的向上传输技术。与之前提供类似解决方案却拥有更高成本的公司相比，使用LoRa技术产生的月度上传服务成本接近零。这取决于网关是否是通过移动数据卡还是直接连接至云端，客户在超过300辆车上的花费大概是20美元，这在供应链行业中是很低的成本。</p>
							<p>GlobalSat Worldcom公司成立于2000年，它是一家重要的GPS和其它位置感知的电子和通信解决方案提供商。在过去10年中，GlobalSat已交付GPS跟踪系统、可穿戴式的或者安装于自行车上的GPS个人训练设备、GPS引擎板/模块和GPS接收器。公司已将其产品线扩展至医疗保健和物联网市场。</p>
							<p>GlobalSat现在正与美国的一家重要重型建筑装备制造商合作，来提供组件以帮助完成客户订单所需的最终组装。</p>
							<p>“实际上，LoRa技术提供了一种高性价比的、技术丰富的、低带宽、远距离和低功耗的解决方案，”GlobalSat Worldcom首席运营官Larry Liang说道。“当然其它领域的技术也具有类似的功能，但它们的覆盖范围有限而且部署成本也很高。”</p>
							<p>基于LoRa的解决方案可在制造商上百英亩场地里跟踪设备的主要部分，包括起重机、出租车、反铲挖掘机和自卸卡车等设备。这颗确保一个订单所需的正确部件能够在正确的位置和非常精确的时间点上，高效地配送到一起来实现最终的组装。</p>
							<p>支持智能供应链和资产跟踪的LoRa技术具有以下关键优点：</p>
							<p>	· 定位：LoRa技术使用一种无需GPS的定位技术，因而不需要额外的功耗。</p>
							<p> · 低连接成本：LoRa技术运行在无需授权的ISM频带，这就意味着频谱成本为零或非常低（如果使用外部的服务提供商，可能需要很低的连接费用）。</p>
							<p> · 开放标准：LoRaWAN开放规范由LoRa联盟提供支持和维护，这就等于是可支持无缝的连接及便捷的扩展性。</p>
							<p> · 现已可用：现在已经可以用于公共和私有网络的实施与部署。</p>
							<p>	· 利用已部署的资产：LoRa技术强大可靠的信号传输能力可以覆盖到广泛的范围，甚至在农村地区。</p>
							<p> · 日益扩大的生态系统：快速发展的LoRa联盟目前拥有超过500家成员公司，他们正在使用LoRaWAN开放规范创建各种解决方案。LoRa联盟包括重要的行业成员和许多其它类型的初创公司和网络运营商。当他们结合在一起时，该生态系统从通信芯片到网络，再到基于服务器的应用平台提供了多个供应源。LoRa联盟为了支持互操作性，也对传感器和其它器件进行认证。</p>
							<p> · 安全：内建AES-128加密技术，支持在农村地区和大型工业现场内实现安全的数据传输。</p>
							<div class="newsDetailsTitle_2">结论</div>
							<p>随着企业逐渐走向高效率，供应链和物流跟踪技术可为更智能和更完善的运行管理提供全新的解决方案。一个可扩展的和低成本的物联网网络是改善供应链的基础，基于LoRa的器件和LoRaWAN开放规范可提供大容量、低功耗的网络，从而可为公司和组织机构提供其所需要的灵活性。</p>
							<p class="foot-state">本文转载自：C114中国通信网 <a href="http://www.c114.com.cn/m2m/2493/a1035455.html" target="_blank"  style="color: red;text-decoration: underline;">阅读原文</a></p>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
