<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>政策力推工业互联网发展 万亿级市场迎投资热潮</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news----------- -->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">政策力推工业互联网发展 万亿级市场迎投资热潮</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>工业互联网是新一代信息技术与工业系统深度融合形成的产业和应用生态，其核心是通过自动化、信息化、联网化、智能化等技术手段，激发生产力，优化资源配置，最终重构工业产业格局。</p>
							<p>我国新型工业化道路的探索迫在眉睫，一方面，我国面临着发达国家再工业化和发展中国家低成本替代的双重挑战;另一方面，我国不仅要追赶工业4.0，还要在工业2.0、3.0方面加力“补课”，亟需推动信息技术和制造技术的深度融合，变革工业发展方式。</p>
							<div class="newsDetailsImg">
								<!-- <img src="http://www.qianjia.com/Upload/News/20180731/images/201807311047567709.jpg" width="90%"/> -->
							</div>
							<p>2015年以来国家各个层面密集出台相关政策，大力支持和发展”互联网+制造业”的融合发展，力推工业互联网发展以支撑我国工业转型升级。2017年顶层设计相继出台，政策频繁落地，框架和标准研究也进入加速阶段。2018年2月，国家制造强国建设领导小组宣布，专门设立“工业互联网专项工作组”，我国工业互联网发展驶入快车道。</p>
							<p>我国工业互联网的发展前景被普遍看好。据前瞻产业研究院发布的《2018-2023年中国工业互联网产业发展前景预测与投资战略规划分析报告》数据显示，2017年我国工业互联网直接产业规模约为5700亿元，预计2017年到2019年，产业规模将以18%的年均增速高速增长，到2020年将达到万亿元规模。</p>
							<p>企业上云是工业互联网平台建设的重点之一。统计显示，2013年至2016年我国工业云平台企业用户数年均增长超过146%。而企业上云用户数迅猛增长的另一面，是我国总体企业上云规模基数较小的现状。据统计，我国公有云市场不及美国3%，我国企业上云的想象空间巨大。事实上，2017年以后，全国已有十多个省市跟进企业上云政策，助推企业加速上云，工业互联网第一轮投资热潮开启。</p>
							<p>不过，当前来看，虽然国内工业互联网呈现蓬勃发展的态势，但也面临不小挑战。工业和信息化部信息化和软件服务业司副司长安筱鹏认为，从宏观角度看，要推动工业互联网平台进一步发展，需要应对企业家意愿、数字化生态构建和真实应用场景牵引三大挑战。</p>
							<p>国内工业互联网的建设，需要国家、企业以及产业链各方从供需两端发力，搭建工业互联网平台，支持产研合作培育百万工业APP，以工业APP的形式为制造企业各类创新应用，最终形成资源富集、多方参与、合作共赢、协同演进的制造业生态。工信部信息化和软件服务业司司长谢少锋在2018软博会上指出，“下一步我们的工作重点是建平台、用平台、补短板、建生态。”据悉，中国工业技术软件化产业联盟于2017年12月正式成立，联盟自成立以来持续吸纳制造业龙头企业为核心成员，整合“产、学、研、用、金”各方力量，大力发展工业APP，推动工业互联网应用生态发展和制造业提质增效</p>
							<p>与此同时，华为、阿里、航天科工集团、海尔、东方国信、树根互联、腾讯和中国电信等国内企业也纷纷推出各具特色的工业互联网平台。以中国电信为例，中国电信积极承接国家的工业互联网发展的行动计划，自主开发了“翼联”工业互联网平台，该平台能够整合各行业、各环节海量异构数据;同时开放合作，联合国内外优秀解决方案提供商与智能应用开发者，打造工业互联网创新生态体系，助力工业企业转型升级。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
