<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>东土科技全球首创Intewell工业互联网黑科技首发亮相</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left2"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left1"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">东土科技全球首创Intewell工业互联网黑科技首发亮相</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
						    <p>12月5日，在浙江乌镇召开的世界互联网大会产品发布环节，代表中国智能制造新技术成就的“Intewell工业互联网操作系统/云平台”首次亮相，引爆众多媒体和企业家的眼球，该系统由东土科技股份有限公司发布。</p>
						    <div class="newsDetailsImg">
							   <img src="http://olv6wm3nj.bkt.clouddn.com/17-12-8/24678270.jpg" style="width: 600px;"/>
						    </div>
						    <p>目前在工业互联网领域，东土科技是唯一参与制定工业自动化国际标准的国内通信企业，除了已经制定完成的现场总线国际标准IEC61158—EPA，东土科技还参与和承担了另外两项工业自动化信息领域国际标准IEC62439(高可靠性自动控制网络)和IEEE C37.238(IEEE1588在电力系统中应用的标准文件)，并主导起草了国家标准GB/T 30094 工业以太网交换机技术规范，承担了3项国家863课题。</p>
						 
						    <div class="newsDetailsImg">
							   <img src="http://olv6wm3nj.bkt.clouddn.com/17-12-8/58034276.jpg" style="width: 600px;"/>
						    </div>
						    <p>东土科技首席科学家周洪波博士在现场发布指出，全球工业互联网技术目前仅关注于控制层以上的数据应用及分析，没有实现软件定义工业控制（SDC）和软件定义工业流程（SDP）；国内的工业互联网平台则过多关注于工业制造的多功能和综合性，二者均缺乏对工业控制体系的统一管理和业务聚焦。“Intewell工业互联网操作系统/云平台”采用全球首创基于IPV6的实时宽带现场总线，将工业互联网技术应用到工业控制及智能制造的各个领域，实现软件定义工业控制单元、软件定义工业控制流程，广泛推进人工智能在智能工厂和协同制造中的深度应用，实现实时性和云服务统一。Intewell 工业互联网操作系统是网络信息化技术在制能制造领域广泛应用的支撑平台软件，是人工智能在智能制造领域应用的承载平台，是中国智能制造技术国产化自主可控的核心技术。</p>
						    <p>周洪波博士告诉中国经济周刊-经济网记者，Intewell工业互联网操作系统/云平台的现场层内核 ——道系统、设备云操作系统，历经18年迭代研发，是我国完全自主可控、具有国际领先水平的高性能实时操作系统，广泛应用于智慧工业、智慧城市、智慧军事等领域，是我国多个重大项目的高可靠、高安全、自主可控的智能核心，也是Intewell工业互联网操作系统/云平台坚实的技术基础和保障。</p>
						    <p>周洪波博士强调，工业互联网技术是“中国制造2025战略”的核心支撑技术，“Intewell工业互联网操作系统/云平台”是工业互联网技术自主可控的关键技术，是“中国制造2025战略”实现两化融合的核心平台，是中国工业控制技术实现全球超越领先，构建中国自主工业控制体系的基石和保证，对于提升我国工业控制技术整体实力和支撑我国工业制造体系健康可持续发展具有深远而重要的战略和现实意义。</p>
						    
						    <div class="newsDetailsImg">
							   <img src="http://olv6wm3nj.bkt.clouddn.com/17-12-8/5259043.jpg" style="width: 600px;"/>
						    </div>
						    <p>工业控制系统信息安全关乎经济发展、社会稳定、国家安全、公众利益，工业控制系统的先进性和安全性关系到国家工业的竟争力和经济安全命脉，是国家硬实力的基础，是大国崛起的根本动力、是我国实现强国梦想的保障。中国目前的工业控制体系（DCS、PLC、现场总线技术等）长期由西方技术垄断，工业体系内在安全方面存在巨大的现实风险。</p>
						    <p>周洪波博士对记者说，打造中国工业互联网，要在系统规划和顶层设计中融入国家意志，建立中国统一的工业控制操作系统，制定国际标准，建立在该领域的话语权和主导权，Intewell工业互联网操作系统/云平台已经具备了这样的能力与实力。东土科技作为中国工业互联网平台技术研究和应用的领导企业，坚定致力于采用工业互联网技术创建中国自主可控、技术超越的新一代工业控制整体解决方案，建立互联网化的中国新一代工业控制平台技术，是东土科技的发展使命。</p>
							<p class="foot-state" style="margin-top: 20px;">视频原链接:  <a href="http://app.ceweekly.cn/?app=article&controller=article&action=show&contentid=211998&from=timeline&isappinstalled=0" target="_blank">http://app.ceweekly.cn/?app=article&controller=article&action=show&contentid=211998&from=timeline&isappinstalled=0</a></p>		
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
