<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>LPWAN市场报告：LPWAN模块的成本</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news----------- -->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">LPWAN市场报告：LPWAN模块的成本</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<div class="newsDetailsTitle_2">LPWAN模块的成本</div>
							<div class="newsDetailsImg">
								<img src="../imgs/2443215.jpg" width="90%"/>
							</div>
							<div class="newsDetailsImg">
								<img src="../imgs/30185722.jpg" width="90%"/>
							</div>
							<p>在LPWAN项目的应用中，一种LPWA技术往往不能解决所有的问题，需要结合其他的技术一起部署。在LPWAN模块端结合其他的一些技术，则将会大大拓展LPWAN的应用。而从上面的LPWAN模块的成本可以看出，模块成本都不算低，尤其是对一些成本敏感的应用，若与传统的无线技术结合（如FSK等），则可大大降低LPWAN网络的接入成本。</p>
							<p>LoRaWAN是Semtech公司独家供应的RF射频芯片，随着其在市场份额的不断地增大以及新产品的发布，LoRaWAN模块的成本预期会降低。在政府和运营商大力的支持下，NB-IoT的模组已经做到了比较低的价格，据报道NB-IoT模块做到了35元。Arm公司也推出了NB-IoT的IP，以其在处理器市场的影响力，也会有一定的市场份额。NB-IoT模块的竞争会加速价格的降低。Sigfox与多家公司合作RF射频芯片，其模块产品更趋多元化，有利于控制和降低成本。据报道Sigfox将与合作伙伴推出2-3美金的模块。ZETA也采用了多家的RF芯片公司，作为中国的LPWA技术公司之一，采用了灵活的设计方案，模块制造成本相对具有优势。Weightless作为一个开放的标准，网络推进在中国市场似乎有点慢。RPMA是上面的LPWA技术唯一采用2.4GHz频段的技术，从一些公开的资料显示，可能采用了MAX2832射频芯片，该射频芯片市场价格还是比较贵的。如果按此方案来看，RPMA模块应该是目前所列模块中成本最高的。</p>
							<div class="newsDetailsTitle_2">LPWAN模块的发展变化</div>
							<p>如果LoRa技术是无线物联网供应链解决方案的一个理想选择，那么一家企业该如何做出决定呢？一种起步方法是观察已经在市场上运行的解决方案的典型案例和趋势，看看它们与你自己的一系列特定挑战和需求之间，是否有紧密的相关性。以下便是供应链行业中正在产生的主要趋势：</p>
							<p>LPWAN模块的发展变化主要有以下两点：</p>
							<p>	· 多协议融合 - 与Wi-Fi、BLE、Zigbee等无线技术结合，连通现有网络，拓展LPWAN应用</p>
							<p>	· 多功能融合 - 与GPS/北斗结合可以定位，实现物的跟踪</p>
							<div class="newsDetailsTitle_2">LPWAN部署成本</div>
							<p>LPWAN项目应用不再只是一个模块的就可以搞定的事情，而是连通了云-管-端，每一部分都有成本。如果均摊到LPWAN模块上，成本将是非常高的。这样就需要一方面可以通过集中的规模化部署来降低均摊的成本，另一方面可以通过产品硬件向产品服务转换，提升服务的价值。</p>
							<p>影响LPWAN部署成本的主要有以下几种因素：</p>
							<p> · 开发成本</p>
							<p> · 制造成本</p>
							<p> · 运营成本</p>
							<p> · 连接成本</p>
							<p>详见下图：</p>
							<div class="newsDetailsImg">
								<img src="../imgs/48624191.jpg" width="90%"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
