<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Predix，垂直物联网霸主GE！</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">Predix，垂直物联网霸主GE！</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>在1892年，由爱迪生电灯公司和汤姆孙-豪斯顿电气公司合并，成立了GE---通用电器公司（General Electiric Company），又称为“奇异公司”。爱迪生电灯公司，是托马斯·爱迪生于1878年创立的公司。</p>
							<p>从GE诞生开始，“发明创新”就写在了这家公司的基因之中。正如GE的品牌口号是“梦想启动未来”（imagination at work）一样，GE一直以技术创新为驱动力，将工业文明之光带到世界的各个角落。从第一盏白炽灯开始，电烤箱、荧光灯、喷气式(飞机)发动机、人工降雨、核电厂、Sigma磁共振成像技术，100多年以来，GE带来了无数创新的产品发明和行业应用。</p>
							<p> 如今，GE的业务已经遍及世界上100多个国家，在全球有超过500个制造工厂，以及30万员工，多元化产业涉及各行业领域的产品和工业设备，包括：生产消费电器、工业电器设备、医疗器械，航空核心部件、能源设施等等。</p>
							<div class="newsDetailsTitle_2">
								一、面临危机的GE
							</div>
							<p>在2008年，GE遭遇了金融危机，当年原本占有盈利半壁江山的金融部门，其利润下降了近三分之一，这使得GE当年整体盈利下降了15个百分点。虽然GE最后躲过了金融危机，但作为传统工业巨头的GE，不得不停下发展金融行业的脚步，想一想今后的路该如何走下去。显然，金融行业并不太适合以创新发明为根本的GE，但如果舍弃了金融行业，GE又该如何面对传统工业领域的困境，继续发展下去呢。</p>
							<p>在互联网时代的今天，GE在工业领域所面临的挑战越来越大</p>
							<p>	1、生产和经营环境面临巨大压力</p>
							<p>一方面工业生产效能和利润增长乏力。不论是重型设备还是消费品的制造，都面临着市场饱和甚至萎缩后的定价压力和利润缩水，而不断变化的定制需求挑战着产品和设备传统的生产效率。另一方面，生产企业面对环境和安全审查愈发严格。特别是能源石化等行业，不断趋向严格的环境标准意味着生产成本的增加。</p>
							<p>2、外部竞争比内部竞争更具威胁</p>
							<p>GE发现，现今的行业竞争不仅仅来自于工业行业自身（例如罗克韦尔自动化、西门子、联合科技等传统竞争对手），真正的威胁是来自行业以外的领域。其中，最明显的威胁来自互联网行业，因为不少传统行业已经被互联网巨头们彻底颠覆了：Google、Facebook颠覆了传统媒体和广告的商业模式，亚马逊重新定义了零售行业，而Airbnb在全球住宿领域开启了分享经济的时代。</p>
							<p>此外，通信领域巨头（Cisco、AT&T），软件领域巨头（Microsoft），以及解决方案巨头（IBM）等，也都对工业领域虎视眈眈。最后，还有一群创业公司也在伺机而动，这些创业公司没有数字化转型的压力，像互联网企业一样可以轻装上阵，产生颠覆效应。</p>
							<p>正如哈佛商学院教授卡里姆.拉哈尼(Karim R. Lakhani)所说“真正的危险在于，数据和分析比安装的设备本身变得更有价值”。在未来，传统企业必须进行数字化转型，并学会粹取产品中的数据价值（通过分析预测优化产品和服务），否则难以应对数字领域企业的跨界竞争。</p>
							<div class="newsDetailsTitle_2">
								二、GE迈起数字化转型的步伐和Predix的诞生
							</div>
							<p>当工业领域处于内忧外患之境，逃脱了2008年金融危机的GE，决定将企业经营的重心回归到重工业的根基上，将数字化转型作为发展重点，并计划着从软件领域的一名新人开始做起，直至2020年，要成为全球的“十大软件公司”。</p>
							<p>在2011年，GE在加州圣拉蒙成立了软件中心。其目标之一是开发一个行业级的操作系统——替工厂和行业设备，作出工业领域的“微软-Windows”或“Google –Android”。 </p>
							<p>	2012年，GE提出了“工业互联网”这一概念。</p>
							<p>到2013年的时候，一个基于云计算的软件平台被开发出来，它的名字叫“Predix”。</p> 
							<p>一开始的Predix只是一个GE飞机引擎的配套软件服务，它的一项核心用途是对飞机引擎进行预见性维护，借此避免设备停机。而后，Predix的应用扩大到GE旗下的其他工业业务。最终，基于战略需要，Predix被GE重新定义为在工业应用中基于云的操作系统。GE希望Predix能在工业领域占据先机，它承载了GE新工业帝国梦想的核心软件平台。 </p>
							<p>2014年，GE已经将各种工业设备的管理方案，整合成了四十余种数据与分析解决方案（GE称这些解决方案为“Predictivity”）。</p>
							<p> 2015年，GE成立了“GE Digital”，并宣布将Predix全面对外开放（支持非GE设备）。</p>
							<p>2016年年初，Predix平台正式开始运行，成为面向全球工业领域的物联网平台。Predix允许工业企业基于其标准，创建和开发自己的工业物联网应用，并在Predix上部署。 </p>
							<p> 短短的几年之间，Predix肩负着GE数字化转型之路从一个工业配套软件走向了全球的开放性服务平台。Predix起初是GE的一个APM的内部平台（“Asset Performance Management”：“资产绩效管理”，也有组织机构称之为“资产效能管理”），而后作为GE工业物联网的核心能力，转变成为了工业垂直领域的物联网平台。 Predix的核心作用就是连接工业资产设备、统筹各种APM等工业系统、承载工业互联网应用。</p>
							<div class="newsDetailsTitle_2">
								三、解构Predix
							</div>
							<p>GE的Predix物联网平台是GE数据中心上的垂直物联网平台，它以连接工业资产设备和合作供应商各类信息系统为基础，向各行业提供设备连接、设备管理、应用开发、数据存储、安全和行业应用等服务。</p>
							<p>它是建立在微软的Azure（IaaS）和亚马逊（IaaS）云计算服务、以及运营商网络连接之上的PaaS层平台，平台提供端到端的安全连接、进行实时性的设备/资产监控、并在云端提供大数据分析，还能够按行业客户需要，按照Predix开发规则进行个性化、定制化的软件开发和部署</p>
							<p>在GE Predix的官方介绍中，GE将Predix称之为“Edge-to-cloud App Platform”，所以实质上，Predix不仅仅提供PaaS层平台服务，它结合了自身的层次化技术构架（“Predix机器”-“Predix连接”-“Predix云”-“Predix服务”-“开发服务”），包含了物联网三个层次的服务： 
								</p>
							<p>（一）Predix应用（App）：上层提供SaaS层服务</p>
							<p>该层服务包括其核心服务之一的工业资产绩效管理服务（APM）、“数字双胞胎(Digital Twin)”功能，以及运营优化服务、预集成的标准化工业数据挖掘和分析工具等。这一层的软件应用（例如APM），其实都是GE的内部软件应用，随着GE提出的“三步走”战略（“GE for GE”->“GE for Customers”->“GE for World”）而逐渐向外界全面开放。</p>
							<p>• GE for GE：通过构建自己的数字化工业能力，提升GE内部生产的效率，并控制和优化生产成本（商业价值） </p>
							<p>• GE for Customers：通过GE数字化的集成/洞察能力，向上下游的合作伙伴和客户提供一整套自动化的工业应用（合作生态）;</p>
							<p>• GE for World：让Predix平台成为工业领域的综合性协作、创新平台，可向几乎所有工业门类提供“使能”服务。（社会效益，经济学中可称为“消费者剩余价值”）</p>
							<p>APM系统（资产绩效管理） </p>
							<p>APM系统，是一整套综合的工业物联网资产管理和应用的解决方案，它一般包括企业资产管理(EAM)、预防性维护(PM)、预见性维护(PdM)、工厂资产管理(PAM)、环境健康和安全(EH&S)等。GE的APM可以说是其工业软件的灵魂产品，是其核心的服务内容。 企业用户通常都会使用GE的APM来实现远程监控、诊断、智能运行设备，并根据自己的需要围绕APM服务在Predix的Paas层上开发满足自身企业需要的特色应用。</p>
							<p>数字孪生（Digital Twin）</p>
							<p> 数字孪生，在国内普遍称为“数字双胞胎”或“数字镜像”。它并不是指两个一模一样设备或产品，它主要指的是“数字化映射”及相关的工业应用。 本质上，“数字孪生”是指通过数字化仿真手段进行分析预测的软件应用：企业将工业设备的运行细节信息，通过部署的传感器进行数据采集，然后通过数据运算形成“数字化映射”（3D建模），企业可以在数字化映射的基础上进行生产操作的模拟演练，也可利用“增强现实”技术实现真实世界与虚拟设备的混合模拟测试，最终根据测试结果优化产品和操作流程。 </p>
							<p> 通过物理机械和分析技术的融合，数字孪生技术可以使工业领域的产品生命周期管理（PLM）流程延伸到设备生产、操作的现场，不仅满足对设备的预测性维护需要，还能够追溯到下一个设备设计周期，以此建立起一个完完整整、闭环的“设计-制造-运营-优化”的产品周期。</p>
							<p>卓越制造（Brilliant Manufacturing）</p>
							<p>卓越制造，也被有机构翻译为“辉煌制造”或“智能制造”：根据GE的介绍，该应用能将设计、工程、制造、供应链、配送与服务在一个全球性的智能系统中进行数字化连接，并融合了各类高新信息技术应用(AR技术、增强现实应用、工业3D打印、机器人技术)。 </p>
							<p>卓越制造，是建立在工业互联网(Industrial Internet，包括了Predix)之上的“先进制造(advanced manufacturing)”应用，其通过贯穿全球的“数据链”(digital thread，也称为“数字主线”)打通了工业领域的设计、工艺、制造、供应链、分销渠道、售后服务等环节，实现数据流的全整合，并形成一个柔性的、智能的制造系统。</p>
							<p>卓越制造利用相同的生产空间、人员和前沿技术，制造出各种完全隶属不同领域的工业制品(例如飞机发动机、风机、水处理设备、内燃机车组件)，并提供产品出厂后的维护、优化等增值服务。</p>
							<p>（二）Predix服务（Cloud）：中层提供PaaS层服务</p>
							<p>Predix是基于“Cloud Foundry”构建的服务平台，而Cloud Foundry最初是Pivotal的一个开源软件基础架构。（目前Pivotal已由EMC、VMware和通用电气公司联合持有）。Predix主要是一个提供应用使能服务的平台，其提供工业应用的基础工具模块，基本涵盖了构建工业物联网应用的各个方面，包括设备联接、数据存储/分析、APP开发、安全管理、设备运维等，目前共有四十几种功能和服务，这个工具库还在不断扩大中。</p>
							<p>Predix的核心服务有6类，包括“App Services”（应用开发）服务，以及在Predix的官网介绍中的5类服务：“Assets”（资产）、“Analytics”（分析）、“Data”（数据）、“Security”（安全）、“Operations”（运营）。 除了以上6类核心服务外，还有气象服务、地理环境服务、定位服务等等。</p>
							<p>1.资产服务（Assets）</p>
							<p>工业数据在采集后进入云端平台，首先需要进行规整并建立“资产模型”，才能被用于工业物联网的应用。“资产模型”是工业设备硬件结构的数字化表达，“资产实例”则是实际资产（基于模型）的数字化映射。资产服务为应用程序开发人员提供用于创建、存储、查询资产模型和资产实例的访问接口。开发者可以通过“Rest”的API服务接口创建资产模型，并将资产数据存储于Predix的图形数据库中，同时还能使用图形表达式语言(GEL)进行数据检索。</p>
							<p>2.数据服务（Data）</p>
							<p>数据服务主要提供了两个层次的能力。一层是引入层（Ingestion），支持多种类型的实时或类实时数据的接入。另一层是数据池（Data Lake），提供数据清洗、格式规整、数据关联/合并，以及为不同的数据选择数据库类型等能力。在数据池中，“时间序列服务”是非常重要的一项服务，它针对工业实时性的应用需求，对传感数据按时间序列进行优化并进行列式存储，满足多样、海量、快捷的数据存储和查询需要处。</p>
							<p>3.分析服务（Analytics）</p>
							<p>分析服务提供各种数学分析工具（Predix称之为“函数”），主要分成两类：运营分析和预测分析。</p>
							<p>运营分析，主要是指在运行过程中进行故障和隐患的监测，并能够实时地执行一些修正策略，以避免问题更加严重。运营分析可以部署在边缘物联网网络中。 </p>
							<p>预测分析，是通过历史运营数据构建预测模型，以此帮助企业掌握设备运行情况的发展趋势。此外，开发可以使运营分析与历史分析之间形成“反馈回路”（数据科学），不断改进运营分析算法。</p>
							<p>分析服务提供的数据算法工具主要围绕工业领域的应用，和互联网、人工智能涉及的算法有一定差异，据统计已有100多种。这些算法包括数据异常分析、数据勘探和预处理工具、文本分析、时间序列分析、机器学习算法、网络分析、质量控制分析、信号处理、统计工具、预测模型等等。</p>
							<p>4.安全服务（Security）</p>
							<p>GE为企业客户提供的云空间是一个完整的端到端硬件，客户生产的数据不会被其他云服务共享。GE在Predix每一层次的服务中，嵌入专用的安全模块，用以监视和扫描该层功能服务的运行情况并生成相关报告，这可以帮助GE及时发现漏洞。此外，GE还提供一个全天候的安全操作中心，以支撑客户对设备进行管理，保证生产设备的不间断运转。 </p>
							<p>对于工业互联网的端到端安全，GE还提供了两种非常重要的服务：用户账户和身份验证服务、以及访问控制服务。 </p>
							<p>用户账户和身份验证(UAA)服务</p>
							<p>开发人员通过该服务，可以使用工业标准的身份管理和身份验证服务，并要求每个应用程序的使用都需要进行基本登录。此外，UAA服务还支持第三方登录、用户白名单等安全功能。</p>
							<p>访问控制服务</p>
							<p>Predix的访问控制服务是一项由策略驱动的身份验证服务，允许应用程序根据一些标准，管控和限制对源代码的访问。</p>
							<p>5.运营服务（Operations）</p>
							<p>运营服务包括两部分服务： “DevOps”，来源于 Development 和 Operations 的一个组合； “BizOps”（业务运营），来源于business和 operations的一个组合词。</p>
							<p>DevOps</p>
							<p>“DevOps”在软件行业领域已经是一个比较成熟的概念。它是一组过程、方法与系统的统称，用于促进开发、技术运营和质量保障部门（多部门）之间的沟通、协作与整合。 DevOps就是通过一套IT系统，系统化地构建出一套流程和方法，来实现各生产角色间（开发、测试、运营）、紧密且自动化的沟通与协作。DevOps能够帮助使用Predix服务的企业和开发者，实现持续的快速交付，并降低软件工程各环节的成本。</p>
							<p>（备注：DevOps的出现是由于软件行业日益清晰地认识到：为了按时交付软件产品和服务，开发和运营工作必须紧密合作。原本开发和部署不需要IT支持或者QA深入的、跨部门的支持，开发、IT运营和质量保障通常是各自分离的部门，而现在的软件工程却需要极其紧密的多部门协作。）</p>
							<p>BizOps</p>
							<p>BizOps主要是采用了新式的互联网服务模式，允许客户使用多种模式进行支付平台的服务费用：</p>
							<p>		①.“订阅”模式：相当于按时间段收费的套餐；</p>
							<p>		②.按使用量付费；</p>
							<p>		③.“免费&增值”模式：基础功能免费、增值功能收费。</p>
							<p> BizOps服务将商业价值和系统运营予以统筹融合，使得“软件”的价值可以被量化和评估，能够帮助GE业务部门和服务对象企业对开发资源进行动态的最佳分配，资源配置和成本控制能够跟上频繁的部署和迭代周期，以此节约业务系统的投资成本和开发时间。</p>
							<p>6.应用开发（App Services）</p>
							<p>Predix提供了一个自助服务门户，开发者可以访问专门用于搭建工业互联网应用程序的服务。开发服务主要提供两种构建应用程序的方法：“Predix设计系统（Px framework / components）”和“Predix移动（Predix Mobile）”。</p>
							<p> “Predix设计系统”提供一套综合Web组件。开发人员则以“Web页面”为基本单位，通过对各种Web组件的创建和拼搭进行应用程序开发。 </p>
							<p>	 和“Predix设计系统”类似，“Predix移动”也是一套Web开发框架，且还提供数据同步、离线功能、移动管理、远程分析等功能，以及支持应用在各类移动终端（手机、平板、笔记本等）上的灵活部署(即移动APP)。 </p>
							<p>为了进一步推广其平台应用开发的功能，形成工业物联网生态，由GE Digital在全球设立了GE数字创新坊(Digital Foundry)，使GE的合作伙伴也能参与研发工业应用软件。在2016 年 7 月，位于中国上海的GE数字创新坊启用，这是 GE 在亚洲开设的首家数字创新中心。</p>
							<p>（三）Predix边缘服务：下层提供物联网边缘的设备接入、管理、应用服务</p>
							<p>Predix边缘服务通过软件和互联网的方式，联接边缘设备和云端。Predix主要提供“Predix Machine（Predix机器）”和“Predix Connectivity（Predix联接）”两类服务。 “Predix机器”，是一种嵌入式软件栈（跟Thingworx的Edge Management Server类似），可以部署在各种具备计算能力的设备上（边缘网关、控制器件、传感器件等），兼容并汇聚各种网络（移动网络、互联网、工业网络）。“Predix机器”支持边缘分析的部署，使边缘设备能够在输出的数据流上直接进行运算。
								  </p>
							<p>“Predix 连接”在“Predix机器”之下，提供一个全球虚拟化的网络，便于“设备-云端”联接的部署和运营。</p>
							<p>有部分业内人士将Predix的“边缘服务”划分到平台的“资产服务（Assets）”中，其被解释为资产服务的一个子集。边缘服务主要实现了工业资产与Predix云之间即插即用、安全、可靠的连接，以及局域的工业应用的部署。</p>
							<p>		&nbsp;</p>
							<p class="foot-state">文章转载自： <a href="https://xueqiu.com/2596166299/94953230" target="_blank"  style="color: red;text-decoration: underline;">https://xueqiu.com/2596166299/94953230</a></p>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
