<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>NB-IoT与LoRa，谁更胜一筹占领LPWAN制高点？</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">NB-IoT与LoRa，谁更胜一筹占领LPWAN制高点？</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
						    <p>作为物联网低功耗广域网技术领域最大的黑马--RPMA技术已经来到中国了！早在今年1月份，RPMA技术的拥有者就亲自到无锡拜访，计划以无锡为基地，逐步将以RPMA为核心技术的物联网基础设施扩大到全中国范围。目前，已经与无锡军工智能电气股份有限公司展开合作，授权公司在中国大陆推广其RPMA技术及应用。</p>
						    <div class="newsDetailsTitle_2">
						    	RPMA技术介绍
						    </div>
						    <p>RPMA，全称Random Phase Multiple Access，官方中文翻译为“随机相位多址接入”，是物联网领域一种低功耗广域网（LPWA）技术。</p>
						    <div class="newsDetailsTitle_2">
						    	那LPWA又是什么呢？
						    </div>
						    <p>LPWA，全称Low Power Wide Area，即低功耗广域网络，低功耗广域网络是面向物联网中远距离和低功耗的通信需求，近年出现的一种物联网无线连结技术，具有传输距离远、节点功耗低、网络结构简单、运行维护成本低的技术特点。低功耗广域网络技术的出现，填补了现有通讯技术的空白，为物联网的更大规模发展奠定了基础。</p>
						    <div class="newsDetailsImg">
							   <img src="../img/newsVocationDetails01.png"/>
						    </div>
						    <p>低功耗广域网（LPWA）技术的用途非常广泛，诸如停车场资源、交通流量控制、公用设施监视、配电控制，以及环境监视等民用基础设施只是开始，而诸如农作物生长情况监视和牲畜迁移等农业应用也需要广域网覆盖；从出租车到冷冻货运等资产监视和追踪，则需要地区性、全国性甚至全球性的网络覆盖。铁、公路等交通基础设施也需要广域监视；即使是医疗保健等消费性应用，也能从替代蜂巢式电话的广域网链接中受益。</p>
						    <div class="newsDetailsTitle_2">
						    	LoRa与NB-IoT是最有发展前景的两个低功耗广域网通信技术。不过两者之间到底有什么区别和不同？谁又将更胜一筹占领LPWAN制高点？
						    </div>
						    <p>LoRa：易于建设和部署的低功耗广域物联技术LoRa的诞生比NB-IoT要早些，2013年8月，Semtech公司向业界发布了一种新型的基于1GHz以下的超长距低功耗数据传输技术（Long Range，简称LoRa）的芯片。其接受灵敏度达到了惊人的-148dbm，与业界其他先进水平的sub-GHz芯片相比，最高的接收灵敏度改善了20db以上，这确保了网络连接可靠性。</p>
						    <div class="newsDetailsImg">
							   <img src="../img/newsVocationDetails04.png"/>
						    </div>
						    <p>LoRa主要在全球免费频段运行（即非授权频段），包括433、868、915 MHz等。LoRa网络主要由终端（内置LoRa模块）、网关（或称基站）、服务器和云四部分组成，应用数据可双向传输。</p>
						    <div class="newsDetailsTitle_2">
						    	LoRa的优势主要体现在以下几个方面：
						    </div>
						     <div class="newsDetailsTitle_3">
						    	大大的改善了接收的灵敏度，降低了功耗;
						    </div>
						     <div class="newsDetailsTitle_3">
						    	基于该技术的网关/集中器支持多信道多数据速率的并行处理，系统容量大;
						    </div>
						     <div class="newsDetailsTitle_3">
						    	基于终端和集中器/网关的系统可以支持测距和定位。
						    </div>
						    <p>这些关键特征使得LoRa技术非常适用于要求功耗低、距离远、大量连接以及定位跟踪等物联网应用，如智能抄表、智能停车、车辆追踪、宠物跟踪、智慧农业、智慧工业、智慧城市、智慧社区等等应用和领域。</p>
						    <div class="newsDetailsImg">
							   <img src="../img/newsVocationDetails05.png"/>
						    </div>
						    <p>后起之秀NB-IoT将导致LoRa消亡？随着今年6月份NB-IoT的标准冻结，近来备受瞩目的NB-IoT的规模化商用的基础终于落实。普遍认为2017年将是NB-IoT网络商用的元年。从技术上看，两者之间其实并没有太大的优劣式之分，从应用范围上来看，两者其实很多都是一样的。区别在于，NB-IOT采用的是运营商统一部署覆盖全国的网络进行收费运营的方式，而LoRa可以让企业搭建属于自己的网络实现业务运营。虽然NB-IoT受到了运营商的强力支持，不过并不代表LoRa就会被轻易取代。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
