<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ParStream：物联网数据分析平台</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">ParStream：物联网数据分析平台</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>ParStream 揭开了世界上第一个物联网速度和规模分析平台的面纱。这个平台将会帮助公司从物联网数据中得到更加及时的反馈、更加透彻的洞察。通过提供更多创新且有效的方式，这个平台能够更快更好地分析数据，从而完成其分析任务。</p>
							<p>ParStream 建立了工业界第一个用来处理物联网中大量、高速数据的分析平台。这个平台将会帮助公司从物联网数据中得到更加及时的反馈、更加透彻的洞察。通过提供更多创新且有效的方式，这个平台能够更快更好地分析数据，从而完成其任务。</p>
							<p>ParStream成立于2008年，是一家来自德国的物联网分析平台公司。随着分析公司的新潮流的兴起，ParStream已经获得了包括CIO杂志“大数据启动第一名”、加德纳“最酷供应商”以及数据库潮流和应用杂志的“引领潮流的数据产品”等多项荣誉。</p>
							<p>实时的大数据分析在某些领域是十分必须的，比如股票数据或者传感器数据的分析。今年，Google已经开发了一套实时的大数据分析工具BigQuery。ParStream分析平台就是这样一套大数据分析平台，它具有如下的模块：</p>
							<p>1) ParStream数据库，用来分析大量的实时数据流；</p>
							<p>2) 地理分布式分析模块，能够做到本地实时处理和最临数据源近存储；</p>
							<p>3) 时序分析模块，公司可以将飞速流动的数据与大量的历史数据相结合进行分析；</p>
							<p>4) 警告和行动模块，用来监视数据流，发出和评估警告以及适时地自动执行任务或者发送通知；</p>
							<p>5) 可视化连接模块，能够无缝地融入数据可视化，这已经成为物联网的主导可视化工具；</p>
							<p>6) 数据流连接模块，以响应物联网高速的数据需求，并且与信息工具主导收集工具Vibe紧密相连。</p>
							<p>ParStream的愿景是改革物联网的大数据分析市场。为了达到这个目的，ParStream正在开展基础研究，推动创新的数据库和分析技术，让用户能够使用一种全新的方式，以很显著的较低成本在大数据上实时分析大数据。</p>
							<p>在早些时候，ParStream挑战并且成功超过了那些大型的数据库厂商，他们在欧洲和澳洲都有已经验证过其概念的项目。这一点使得ParStream的产品得以大批量生产。</p>
							<p>ParStream不断的努力，并且发布了令人叹为观止的优良产品。特大数据集的可扩展性和高可用性在所有的产品中对这个开发团队来说非常重要。现在，ParStream已经引领了实时查询市场。ParStream的数据库平台满足了在现代化的、IT驱动的环境下进行高性能数据分析，使得动态大数据的商业分析成为可能的所有需求。</p>
							<p>Machina Research的首席分析师Emil Berthelsen说到：说说到“随着ParStream物联网分析平台的上线，Machina Research已经看到了那些想要发现大数据分析领域巨大潜力的公司的很多机会和优势”。</p>
							<p>当今世界上，任何两个物品都可以通过物联网相联系。物联网已经取代了大数据，成为了最热门的科技炒作工具，加德纳对于新兴科技的预报如是说。这里，物品可以指那些特殊的嵌入式计算工具，比如中心植物检测暨温度智能调控系统。大数据和物联网的相聚合会促进这种物联网价值系统的建立。</p>
							<p>随着传感器数据带来更多的商业价值，物联网的价值也随着时间日益增加。ParStream分析数据库非常适合物联网的速度和规模，并且这种技术正是大数据与驱动商业的智能数据之间的区别所在。</p>
							<p></p>
							<p></p>
							<p class="foot-state">本文转载自：InfoQ <a href="http://www.infoq.com/cn/news/2014/10/parstream-Internet-of-things?from=groupmessage#" target="_blank"  style="color: red;text-decoration: underline;">阅读原文</a></p>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
