<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>当今世界智慧城市技术发展新模式BIM+CIM+GIS探讨</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">当今世界智慧城市技术发展新模式BIM+CIM+GIS探讨</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<div class="newsDetailsTitle_2">
								一、BIM的定义
							</div>
							<p>BIM即“建筑信息模型”（Building Information Modeling）。BIM 是以三维数字技术为基础，集成了建筑工程项目各种相关信息的工程数据模型，是对工程项目设施实体与功能特性的数字化表达。一个完善的信息模型，能够连接建筑项目生命期不同阶段的数据、过程和资源，是对工程对象的完整描述，可被建设项目各参与方普遍使用。</p>
							<p>狭义的BIM是将BIM理解成像CAD一样是绘图及设计的一种手段，这只是BIM最初级的应用，狭义BIM对应的BIM软件工具仅指AUTODESK等推出的相应设计软件。</p>
							<p>广义的BIM是为实现建筑数字化、设计建造可视化及运营智能化等目标而产生的一系列工具、过程与方法的集合，是建筑科学与IT实践的交融结合，也是建筑业变革的唯一方向。</p>
							<div class="newsDetailsTitle_2">
								二、BIM技术国内外应用现状
							</div>
							<p>1、国外现状</p>
							<p>&nbsp;&nbsp;①美国</p>
							<p>美国大多建筑项目已经开始应用BIM，BIM的应用点也种类繁多，而且存在各种BIM协会，也出台了各种BIM标准。根据McGraw Hill的调研，2012年工程建设行业采用BIM的比例从2007年的28%增长至2009年的49%,直至2012年的71%。其中74%的承包商已经在实施BIM了，超过了建筑师（70%）及机电工程师（67%）应用BIM的比例，BIM的价值在不断被认可。</p>
							<p>&nbsp;&nbsp;①英国</p>
							<p>英国是目前全球BIM应用增长最快的地区之一。2013年3月，英国推出了PAS 1192-2标准。这项标准作为英国政府建设策略的一部分，专门以加强工程交付管理及财务管理为目标，其主要目的是为了在总体上减少公共部门建设近20～30%的费用支出。</p>
							<p>2015NBS（National Building Specification）的调查报告更明确指出，英国政府对营建产业的目标，预计于2025年前达成：降低33%的营建初期成本与生命周期间的维护成本；兴建与更新工程中减少50%的工期；降低50%的温室气体排放量；降低50%建材进出口的贸易障碍。</p>
							<p>英国BIM发展的优势在于：</p>
							<p>首先是政府的政策支持。政府要求强制使用BIM的文件得到了英国建筑业BIM标准委员会（AEC（UK）BIM Standard Committee）的支持。目前，标准委员会还在制定适用于ArchiACD、Vectorworks的类似BIM标准，以及已有标准的更新版本。这些标准的制定都是为英国的AEC企业从CAD过渡到BIM提供切实可行的方案和程序，例如，该如何命名模型、如何命名对象、单个组件的建模、与其他应用程序或专业的数据交换等等。特定产品的标准是为了在特定BIM产品应用中解释和扩展通用标准中一些概念。标准委员会成员编写了这些标准，这些成员来自于日常使用BIM工作的建筑行业专业人员，所以这些服务不只停留在理论上，更能应用于BIM的实际实施。</p>
							<p>其次是民间活动繁多。英国在推动BIM上除了政府政策支持外，许多官方组织或民间团体也举办各种BIM相关活动来推动BIM的发展。这些活动主要可以分为大型技术研讨会及展览、小型技术研讨会、政府BIM标准及政策推广、BIM基本概念推广、私人公司举办的BIM活动等等。</p>
							<p>第三是设计公司的自身优势。英国的设计公司在BIM实施方面已经相当领先了，因为伦敦是众多全球领先设计企业的总部，如Fosterand Partners、ZahaHadid Architects、BDP和Arup Sports，也是很多领先设计企业的欧洲总部，如HOK、SOM和Gensler。</p>
							<p>第四是对BIM教育的重视。英国业界对于BIM人才相当重视，通常会在新人开始工作时给予软体教育培训，然而BIM的知识不只是软体学习，因此他们希望大学生能在毕业时即具备基本BIM知识与能力。</p>
							<p>&nbsp;&nbsp;①北欧国家</p>
							<p>包括挪威、丹麦、瑞典和芬兰，是一些主要的建筑业信息技术的软件厂商所在地，如Tekla和Solibri，而且对发源于邻近匈牙利的ArchiCAD的应用率也很高。这些国家是全球最先一批采用基于模型设计的国家，也在推动建筑信息技术的互用性和开放标准，主要指IFC。</p>
							<p></p>
							<p>&nbsp;&nbsp;①日本、新加坡、韩国</p>
							<p>日本建筑学会于2012年7月发布了日本BIM指南，从BIM团队建设、BIM数据处理、BIM设计流程、应用BIM进行预算、模拟等方面为日本的设计院和施工企业应用BIM提供了指导。</p>
							<p>2011年，新加坡建筑管理署发布了新加坡BIM发展路线规划，规划明确推动整个建筑业在2015年前广泛使用BIM技术。</p>
							<p>韩国在运用BIM技术上十分领先。多个政府部门都致力制定BIM的标准，例如韩国公共采购服务中心和韩国国土交通海洋部。</p>
							<p>1、国内现状</p>
							<p>在过去的20年中，计算机辅助绘图CAD(Computer A ided Design)技术的普及推广使建筑师、工程师们从手工绘图走向电子绘图，这是工程设计领域第一次革命。CAD技术的发展和应用改变传统的设计方法和生成模式，而且提高设计质量和设计效率。</p>
							<p>BIM-建筑信息模型，为工程设计领域带来了第二次革命，是从二维图纸到三维设计和建造的革命，也是一次真正的建设行业的革命，BIM将彻底改变建设工程的设计、建造和运维方式。</p>
							<p>近来BIM在国内建筑业形成一股热潮，除了前期软件厂商的大声呼吁外，政府相关单位、各行业协会与专家、设计单位、施工企业、科研院校等也开始重视并推广BIM。</p>
							<p>2011年5月，住建部发布的《2011~2015建筑业信息化发展纲要》中，明确指出：在施工阶段开展BIM技术的研究与应用，推进BIM技术从设计阶段向施工阶段的应用延伸，降低信息传递过程中的衰减；研究基于BIM技术的4D项目管理信息系统在大型复杂工程施工过程中的应用，实现对建筑工程有效的可视化管理等。</p>
							<p>住建部2016年9月19号《2016-2020年建筑业信息化发展纲要》提出，“十三五”时期全面提高建筑业信息化水平。着力增强BIM、大数据、智能化、移动通讯、云计算、物联网等信息技术集成应用能力，促进建筑业在数字化、网络化、智能化发展方面取得突破，充分发挥信息化的引领和支撑作用，塑造建筑业新业态。</p>
							<p>目前国内成功运用BIM技术的经典案例有：上海中心大厦、上海迪士尼乐园、国家会展中心、亚洲最大生活垃圾发电厂、广州周大福金融中心、深圳平安金融中心、天津117大厦、苏州中南中心、珠海歌剧院、白玉兰广场、北京凤凰传媒中心。</p>
							<div class="newsDetailsTitle_2">
								 三、CIM的定义

							</div>
							<p>（1）城市细胞数据库</p>
							<p>城市智慧模型CIM（City Intelligent Model）是最基础的城市数据库。</p>
							<p>一栋建筑可谓是城市的一个细胞，细胞里面还有大量的数据和信息，对一个城市运维仍不可或缺，因此，一个靠激光扫描形成的3D轮廓城市建筑模型就很有局限，数据量远远不够。通过靠BIM数据库来实现，数据细度细到建筑内部的一个机电配件、一扇门。</p>
							<p>从一个整体城市视图，可以快速定位到一个园区、一栋建筑，便可快速查找到一栋建筑，获取所有相关数据。</p>
							<p>（2）可计算</p>
							<p>对城市级数据可计算，才能产生高价值应用。框定一个街区，有多少栋楼，多少建筑面积，容积率多少，有多少人口，有多少家单位，拥有多少车辆等大量数据即可以计算出来。</p>
							<p>（3）定义城市和建筑的空间数据</p>
							<p>BIM+GIS，将城市的空间数据库进行了准确的定义。人有二种状态，一种是去一栋建筑的路上，一种是在一栋建筑里。处第一种状态时，GPS技术（GIS数据库）将我们已经定位得很清楚，在第二种状态（即在一栋建筑里），现有技术还无法定位，导致许多重要应用无法实现。BIM作为室内定位的空间支撑数据库，为解决这一问题不可或缺。</p>
							<p>（4）所有城市应用数据库可以与CIM相关联</p>
							<p>人口、教育、城管等所有数据与CIM相关联，获得了更高的城市运维效率，也实现了更低成本。现在的各领域数据库由于与CIM数据库没有关联，无法充分发挥其应用价值，许多重要应用无法实现。</p>
							<p>（5）城市可视化</p>
							<p>可视化可以提升城市运维的效率和管理体验。实体建筑和城市设施可视化仅是一个方面，所有物联网过来的数据都是可视的，与CIM是对应的。</p>
							<p>（6）可感知</p>
							<p>所有的物联网数据与城市空间关联，数据可视化，快速运维。数据发生在哪里，一目了然。设定好数据控制参数值，自动提醒和报警，以防止严重问题的发生。</p>
							<p>（7）开放性</p>
							<p>经过授权，可以让相当部门和相关人员使用，产生社会和经济价值。</p>
							<p>（8）安全性</p>
							<p>安全性相当重要，对数据所有利用都需要监控，以免被恶意利用。</p>
							<div class="newsDetailsTitle_2">
								四、CIM的发展
							</div>
							<p>近来，国内很多专家学者在不同的场合提出了城市智慧模型CIM的概念，这是在智慧城市建设的实践过程中，不断摸索、不断思考、不断深化的基础上，逐步提升的全新概念和研究成果。城市智慧模型(CIM)包含了：城市历史发展和文化形成的智慧，解决城市生活宜居、便捷、安全的智慧，以及城市可持续发展与提升核心竞争力的智慧</p>
							<p>CIM将数字工程技术的应用维度从单体工程尺度延展到真实的城市尺度和地球尺度，力求依托真实城市的数字镜像，通过BIM模型的加载和城市三维扫描技术的整合，针对城市规划、城市市政、城市交通和城市管理等应用层级实现城市动态的高仿真可视化管理。</p>
							<p>城市智慧模型(CIM)主要用于通过模拟仿真指导智慧城市的建设;同时可用于智慧城市建设成果的评估以及智慧城市的运行管理。城市智慧模型的建立将继承城市历史发展和文化形成的智慧、解决城市生活宜居、便捷、安全的智慧、提升城市可持续发展与核心竞争力的智慧。</p>
							<p>我国城市管理正从单一管理向综合治理转变，迫切需要用科学的理念、方法和先进技术来建设和管理城市。党的十八届三种全会决议提出要改进社会治理方式，以网格化管理、社会化服务为方向，健全基层综合服务管理平台。习总书记提出了深化拓展网格化管理为群众提供精准有效的服务和管理，要运用大数据技术和网格管理技术确保城市安全和公共服务等要求。我国城市网格化管理从数字城管起步，其万米单元网格管理法、城市部件管理法和监督、管理、执法分离的创新思想与城市管理实践有机结合，更新了城市管理观念，提升了城市管理效率和水平，经过多年持续推广，已经取得了巨大的社会效益和经济效益。</p>
							<p>另外《国务院办公厅关于加强地下管线建设管理的指导意见》有关部署，适应新型城镇化和现代化城市建设的要求，把地下综合管廊建设作为履行政府职能，完善城市基础设施。总结国内外先进经验和有效做法，全面推进地下综合管廊建设。</p>
							<p>政府应开始行动，大力建设CIM平台：</p>
							<p>政府已在投巨资进行智慧城市的建设，如果先大力抓CIM的建设，投资收益将多倍增加。政府可以开始制定CIM建设的规划和步骤，启动的条件已基本具备。</p>
							<div class="newsDetailsTitle_2">
								五、从BIM提升为CIM
							</div>
							<p>城市规划信息模型来源于BIM信息模型，是以三维空间模型为基础，从控制性详细规划到修建性详细规划两个层次建立基于同样的数据结构并且包含了所有规划信息的三维和多维模型。具体可以分为两个层次的定义：控规信息模型和修规信息模型。控规信息模型主要是从地块入手，以地块为基本单位，建立包含该地块所有规划属性的信息模型。修规信息模型主要以建筑为基本单位，建立该建筑单位所有信息的规划信息模型。</p>
							<p>如果我们的规划管理工作原先落在单体，那么未来的城市管理一定会落在单体之外的系统。城市是生命体，建筑是细胞，从BIM到CIM，应该是一个从细胞到生命体之间的变化。</p>
							<p>对于BIM的单个细胞、单体，不能解决我们城市问题，在原来的单体之间，那些联络网络，是CIM要突破的重点，例如：交通流、水流、气流、固废物的排泄等等，这些流动在我们的规划管理中间是很少涉及的，而这块才是我们CIM的重点，看不见的无形的东西，是我们所需要关注的。</p>
							<p>城市中还存在着信息传递的神经系统，不可见的人流、信息流、资金流等。整个城市的生命体每天都在更新，相比建筑的稳定系统，城市每天都在变化。</p>
							<p>现在我们的规划管理，或许会出现一个突破性进展，那就是百姓参与服务设施管理，不仅仅是规划局派人去审批，而是社区内每个老百姓都在管着我们的设施。我们国家的转型期，让城市走向多元共治。</p>
							<p>城市从单体建筑，走向全系统运行管理。所有的智能建造，意识，构建，全部整合起来，形成一个新体系。</p>
							<p>从“以形定流”走向“以流定型”的群落规划设计。</p>
							<p>我们需要先知道各种的“城市流动”，根据流动，来确定空间的形，这是Smart的关键。</p>
							<p>（1）把BIM作为CIM的细胞——将建筑作为城市细胞。</p>
							<p>（2）城市物质子系统建模——建立CIM的工作底板，多种数据的导入。</p>
							<p>（3）城市时空数据的接入例如世博会，模拟100多万人在世博会，通过模拟，保证世博会的安全。</p>
							<p>（4）城市突发事件预警包括自然灾害，火灾，犯罪等等，能够及时启动应急管理预案。</p>
							<p>（5）城市蓝图模拟规划专业的特征，是具有梦想。对蓝图的描绘，通过不同的情景方案，来应对城市弹性与不确定性。</p>
							<div class="newsDetailsTitle_2">
								六、GIS
							</div>
							<p>地理信息系统(geographic information system GIS) 是近年发展起来的,已成为处理、分析和可视化空间资料必不可少的工具。</p>
							<p>（1）概念</p>
							<p>目前,关于地理信息系统的概念存在多种定义。美国联邦地理资料委员会(FGDC) 所给的定义为“用于输入、存储、维护、管理、检索、分析、综合和输出地理信息或以位置为基础的信息的计算机系统。</p>
							<p>（2）组成和特点</p>
							<p>GIS 有主要由数据输入、数据单元转换(包括数据查询和数据分析) 以及数据输出3 个部分组成。GIS 数据由与地理空间位置相关联的、以地理坐标为定位的多源数据组成,可分为空间数据与属性数据。来自传统地图的数据通常作为一种数据输入的来源。输入的数据包括点数据、线特征以及空间多边形信息(例如土坑位置、道路网或森林面积等)。也有其它的信息来源,例如来自全球定位系统的监测信息、航空图片、卫星图片或其它图片。输入的数据通常也有一种栅格或矢量格式。所有的数据必须转换成数字化形式后才能利用GIS 软件进行分析。GIS 的主要优势来自于数据单元转换和分析的可能。数据单元转换和分析包括输入资料中数据层坐标系统的转换、栅格数据向矢量数据转换、数据提取和叠加、数据管理以及其它内容。最新的数字地图或模拟地图,结合GIS 数据库中的数据,用GIS 的制图显示系统将空间数据或属性数据以及相应的分析结果直观地以专题地图或各种图表的形式显示出来,得到输出结果。</p>
							<p>强大的空间数据管理能力和分析、显示功能是GIS 的显著特点。传统上,流行病学专家一直采用地图去分析位置、环境和疾病之间的关系,因为GIS 的空间分析和显示功能,GIS特别适用于研究位置、环境和疾病之间的关系。GIS 区别于一般信息系统的关键在于其处理空间相关数据的能力。在制图(mapping) 方法方面, GIS 有很大的灵活性,而传统的制图方法产生锐利的边界,因而忽略了连续性的自然特色。GIS用于疾病制图处理的优势在于疾病地图产生及其变化方面的简单化以及在确定一个实际单位方面更为广泛的变化,与面向显示的计算机辅助制图(CAM) 相比,GIS 不仅具有一般的图形显示空间数据的能力,而且具有对图形的分析能力。</p>
							<div class="newsDetailsTitle_2">
								七、智慧城市发展新模式：BIM+CIM+GIS
							</div>
							<p>BIM、CIM、GIS三者结合将成为智慧城市建设新模式。</p>
							<p>GIS与BIM的集成：实现了GIS应用领域的拓展与延伸和提升BIM应用价值，同时采用GIS与BIM集成技术，实现了城市彻底地“数字化”，在彻底数字化基础上引入城市智慧模型，构建一个虚拟的智慧城市，必将成为智慧城市建设的模式和路径。</p>
							<p>智慧城市建设的CGB（BIM+CIM+GIS）模式：采用3DGIS+BIM与CIM创建一个虚拟的智慧城市，各种符合智慧城市建设的规划、城市智慧应用解决方案都可以首先在虚拟的智慧城市中得到模拟仿真和分析验证，并且从中获取“城市历史发展和文化形成的智慧，解决城市生活宜居、便捷、安全的智慧，以及城市可持续发展与提升核心竞争力的智慧”，用于指导智慧城市建设;同时，基于虚拟的智慧城市进行建设成果评估;在智慧城市运行阶段，通过物联网、移动互联网与实体城市关联，实现智慧城市的运行管理。我们有理由相信融合了3DGIS+BIM与CIM的智慧城市建设CGB模式，有助于指导智慧城市建设、评估智慧城市建设成果和运行管理智慧城市。如图4所示。</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/21930385.jpg"/>
							</div>
							<p>基于CIM（城市信息模型）的智慧城市平台以准确的城市三维空间关系为基础建立城市镜像，基于基础信息延伸并建立子系统，同时整合已经存在但游离孤立的子系统，形成一个循环的交互平台。子系统基于母系统信息建立，其信息并能返回并完善母系统，是一个不断自我更新的整合平台，能够在集成平台上综合处理复杂的城市问题</p>
							<p>&nbsp;</p>
							<p class="foot-state">文章转载自： <a href="http://www.eastib.com/view-222-1.html?from=groupmessage" target="_blank"  style="color: red;text-decoration: underline;">http://www.eastib.com/view-222-1.html?from=groupmessage</a></p>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
