<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>智慧物联，起帆远航</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left2"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left1"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">智慧物联，起帆远航</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
						    <p>2017年6月7日-9日，由中国市政工程协会在上海新国际博览中心主办的“2017中国国际地下综合管廊产业展览会”顺利举行，泛联信息有幸参加了此次展览会，获得热烈反响收获满满。</p>
						    <div class="newsDetailsImg">
							   <img src="http://olv6wm3nj.bkt.clouddn.com/17-9-8/60940852.jpg" style="width: 600px;"/>
						    </div>
						    <p>在展会现场泛联信息此次展出的基于LPWAN无线物联网解决方案，在业界处于领先地位。LPWAN于最近两年内兴起，在国内属于起步推进阶段，泛联信息通过一年的研发积累及项目、试点实施，具备完整的产品系列和解决方案。</p>
						 
						    <div class="newsDetailsImg">
							   <img src="http://olv6wm3nj.bkt.clouddn.com/17-9-8/19704726.jpg" style="width: 600px;"/>
						    </div>
						    <p>LPWAN（Low Power Wide Area Network）顾名思义是一种具备低功耗、长距离、大量连结、低成本特点的低功耗广域网技术，目前在LPWAN的众多技术中被提及最多的是NB-IoT和LoRa，较之于NB-IOT受制于运营商的不便，泛联信息主攻领域为LoRA。该协议是基于LoRa调制的特点针对LPWAN而设计的一套通信协议，LoRaWAN协议具有架构简单、高容量、速率自适应、协议公开等特点，更好地满足了物联网需求。因此在展会上虽然展会的主题是地下管廊，但是我们基于LPWAN做的智慧城市和智慧井盖防盗现场演示，传感器通用无线数据采集通讯终端等产品也引起了很多人的兴趣。</p>
						    
						    <div class="newsDetailsImg">
							   <img src="http://olv6wm3nj.bkt.clouddn.com/17-9-8/30636356.jpg" style="width: 600px;"/>
						    </div>
						    <p>在目前业界关注到如何及时感知城市生命体征，比如交通是否拥堵？垃圾桶是否满了？下水道是否堵了？空气污染物的浓度是否超标？工业排污是否过量？。。。依托低功耗广域无线物联网等各种网络，加入更多的传感器支持，把道路、桥梁、路灯、垃圾桶、电力设备 、地下管道等都装上传感器，加上大数据、云计算、边缘计算、人工智能，各种新技术的发展会让我们的城市更加智慧！泛联信息现场展示的LPWAN技术应用也让在场人员亲眼目睹了新技术带来的变革与智慧！</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
