<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>从BIM到CIM——城市智慧模型</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">从BIM到CIM——城市智慧模型</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/21298908.jpg" />
							</div>
							<p>我在德国留学的时候，读了德国哲学家的一本书，关于是不是科学，有两条，第一，要对自己学科的历史有一个系统的理论梳理，第二个，这个学科可以用数字说话么。</p>
							<p>所以说今天在这里规划界所有的人，是我们规划从学科走向科学的重要支柱。我们一直在为规划成为科学努力。我今天讲的题目叫做“从BIM到CIM，从增量建设到智慧协同”，和刚才IBM专家所讲的相关。</p>
							<p>2007年，在世博会的规划建设中，IBM提出了智慧地球，在世博会中，我们没有提这个说法，我们世博会是BetterCity，主题是城市，所以我们提出了SmartCity，智慧城市的概念。</p>
							<p>城市是一个机器，这是城市规划在1933年提的，把城市分为居住、工作、交通、休闲，四大功能。四十年过去，在1973年的马丘比丘宪章，我们认识到城市不仅是机器，还是有机体，今天又是四十年过去了，我们提出城市是生命体的概念。</p>
							<p>我们创造了英文词：“City Being”，城市，就像人一样，所以我们有了世博会城市生命馆。</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/74388601.jpg" style="display: inline-block;width: 360px;"/>
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/82629467.jpg" style="display: inline-block;width: 360px;"/>
							</div>
							<p>城市成为生命体，我们应该给他以尊重。不尊重城市，就会得到城市的报复。可感知，可判断，快速反应，会学习，这是智慧的城市。</p>
							
							<div class="newsDetailsTitle_2">
								一、BIM的过程与历史贡献
							</div>
							<p>对于BIM的发展历程，1988年至2000年，建立建筑信息模型（BIM），2000年至2010年，建立虚拟设计与建造（VDC）,2010年后，是Optimize Facility Performance。</p>
							<p>BIM有一些典型应用，例如BIM用于日照分析，用于绿色建筑，但是这远远不够，不能满足一个城市生命体的要求。</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/56765024.jpg" width="600px;"/>
							</div>
							<p>如果我们的规划管理工作原先落在单体，那么未来的城市管理一定会落在单体之外的系统。城市是生命体，建筑是细胞，从BIM到CIM，应该是一个从细胞到生命体之间的变化。</p>
							
							<div class="newsDetailsTitle_2">
								二、从BIM提升为CIM
							</div>
							<p>CIM = City Intelligent Model，城市智慧模型</p>
							<p>CIM的实践，同国外相比我们有机会让他在中国这块土地上得到发育。在世博会和其他一些实践上，这些概念已经得到应用。</p>
							<p>举例，从单栋建筑走到群落，走向环境模拟。2008年的时候，我们在都江堰灾区进行了水模拟与风模拟，发现水与风的流动极其相关，这是我们第一次看到所有流动的、无形的东西，以及他们对城市的影响，这是我们规划非常需要的东西。</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/29891535.jpg" width="600px;"/>
							</div>
							<p>对于BIM的单个细胞、单体，不能解决我们城市问题，在原来的单体之间，那些联络网络，是CIM要突破的重点，例如：交通流、水流、气流、固废物的排泄等等，这些流动在我们的规划管理中间是很少涉及的，而这块才是我们CIM的重点，看不见的无形的东西，是我们所需要关注的。</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/89703809.jpg" width="600px;"/>
							</div>
							<p></p>
							
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/44627429.jpg" width="600px;"/>
							</div>
							<p>城市中还存在着信息传递的神经系统，不可见的人流、信息流、资金流等。整个城市的生命体每天都在更新，相比建筑的稳定系统，城市每天都在变化。</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/6003007.jpg" width="600px;"/>
							</div>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/53860104.jpg" width="600px;"/>
							</div>
							<p>现在我们的规划管理，或许会出现一个突破性进展，那就是百姓参与服务设施管理，不仅仅是规划局派人去审批，而是社区内每个老百姓都在管着我们的设施。我们国家的转型期，让城市走向多元共治。</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/50368860.jpg" width="600px;"/>
							</div>
							<p>城市从单体建筑，走向全系统运行管理。所有的智能建造，意识，构建，全部整合起来，形成一个新体系。</p>
							<p>从“以形定流”走向“以流定型”的群落规划设计。</p>
							<p>我们需要先知道各种的“城市流动”，根据流动，来确定空间的形，这是Smart的关键。</p>
							<div class="newsDetailsTitle_2">
								 三、CIM的五个方面突破
							</div>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/19608784.jpg" style="margin: 20px auto;"/>
							</div>
							<p>（1）把BIM作为CIM的细胞——将建筑作为城市细胞</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/62242535.jpg" style="margin: 20px auto;"/>
							</div>
							<p>（2）城市物质子系统建模——建立CIM的工作底板，多种数据的导入</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/92189146.jpg" style="margin: 20px auto;"/>
							</div>
							<p>（3）城市时空数据的接入</p>
							<p>例如世博会，模拟100多万人在世博会，通过模拟，保证世博会的安全。</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/39362020.jpg" style="margin: 20px auto;"/>
							</div>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/63987756.jpg" style="margin: 20px auto;"/>
							</div>
							<p>我们的空间信息多，但是时间信息少，目前我们在做上海出租车数据分析，通过长时间段的连续分析，可以更加详细的了解城市人的活动状况。</p>
							<p>（4）城市突发事件预警</p>
							<p>包括自然灾害，火灾，犯罪等等，能够及时启动应急管理预案。</p>
							
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/48944334.jpg" style="margin: 20px auto;"/>
							</div>
							<p>（5）城市蓝图模拟</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/18245500.jpg" style="margin: 20px auto;"/>
							</div>
							<p>规划专业的特征，是具有梦想。对蓝图的描绘，通过不同的情景方案，来应对城市弹性与不确定性。</p>
							<div class="newsDetailsTitle_2">
								四、CIM应用介绍

							</div>
							<p>（1）世博园区可视化模拟决策平台</p>
							
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/69699939.jpg" style="margin: 20px auto;"/>
							</div>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/91200427.jpg" style="margin: 20px auto;"/>
							</div>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/21467431.jpg" style="margin: 20px auto;"/>
							</div>
							<p>（2）智能市长桌</p>
							<p>智能市长桌是为了便于信息化和统一管理而设立的，但是他还有一个重要的目标，就是通过从上到下的压力，建立数据体系，通过市长对信息工具的使用，推进城市智慧模型。</p>
							<p>我们提出了整个城市八大系统的管理框架，提出市长决策系统，推出了智能市长桌。</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/27440321.jpg" style="margin: 20px auto;"/>
							</div>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/89227186.jpg" style="margin: 20px auto;"/>
							</div>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/99433675.jpg" style="margin: 20px auto;"/>
							</div>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/79962208.jpg" style="margin: 20px auto;"/>
							</div>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-11/83912886.jpg" style="margin: 20px auto;"/>
							</div>
							<p>这里提到多规合一，多规合一更多是制度设计问题，不是技术问题。推进市长决策系统，也是从上到下推进多规的融合。</p>
							<p>&nbsp;</p>
							<p class="foot-state">文章转载自： <a href="http://card.weibo.com/article/h5/s#cid=1001603916248315526982&vid=1656499031&extparam=&from=107C093010&wm=3333_2001&ip=113.47.42.35" target="_blank"  style="color: red;text-decoration: underline;">点击链接直接跳转</a></p>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
