<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>科技改变生活，浅谈LoRa与物联网技术</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">科技改变生活，浅谈LoRa与物联网技术</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>信息技术高度发达的今天，继计算机、互联网之后，又一命题横空出世，正以迅雷不及掩耳之势引发社会强烈广泛的关注，那便是“物联网”</p>
						    <p>什么是物联网？简而言之，世界上的万事万物，小到手表、钥匙，大到汽车、楼房，在嵌入一个微型感应芯片之后，就可以变得智能化，可以“自动开口说话”，再借助无线网络技术，人们就可以和物体“对话”，物体和物体之间也能“交流”，这就是物联网，又称IoT（Internet of Things）。</p>
						    <div class="newsDetailsImg">
							   <img src="../img/newsVocationDetails02.png"/>
						    </div>
						    <p>这里所说的“对话”，实际是指信息指令或者是数据通过无线网络传播至各个设备的信号接收装置，以使设备进行相应的操作。无线网络是一种宽泛的概念，是所有无线数据传播技术的总称，如我们熟知的，模拟移动电话通讯，2/3/4代GSM(Global System for Mobile Communication)，蓝牙，WIFI等都包含在内。随着IoT的兴起，各种专门针对该领域应用的低功耗广域物联网技术（LPWAN）也如雨后春笋般涌现，如LoRa技术，NB-IoT技术，Sigfox技术等等。不同的通讯技术有着不同的特点，使得构建物联网时有了丰富的选择，这其中，NB-IoT与LoRa是典型代表，也是最有发展前景的两个低功耗广域网通信技术。那么究竟他们之间各自有何特点？能否互相取代？在物联网领域谁执牛耳？这些都受到了行业内广泛关注。本文将从LoRa技术出发，简要剖析上述问题。物联网应用需要考虑许多因素，例如：节点成本，网络成本，电池寿命，数据传输速率（吞吐率），延迟，移动性，网络覆盖范围以及部署类型等。可以说没有一种技术可以满足IoT所有的需求。LoRa 为英文Long Range的缩写，是由Semtech公司于2013年发布的一种新型的基于1GHz以下的超长距低功耗数据传输技术，该频段为非授权频段，故在使用时不需要额外收费，而且LoRa使用的LoRaWAN是一种异步通讯协议，该协议方式不仅在处理干扰、网络重叠、可伸缩性等方面具有独特的特性，而且在耗电方面极为经济，大大增加了利用电池供电的设备的使用寿命。但是，在服务质量（QoS）上却差强人意，略逊色于使用蜂窝网络的通讯方式。因此需要节约成本、大量连接，而对QoS要求不高的情况下LoRa无疑是最佳的选择。</p>
						    <div class="newsDetailsImg">
						    	<img src="../img/newsVocationDetails12.png"/>
						    </div>
						    <div class="newsDetailsTitle_2">
						    	适合选用LoRa技术的应用场景:
						    </div>
						     <div class="newsDetailsTitle_2">
						    	智慧农业
						    </div>
						    <p>对农业来说，低功耗低成本的传感器是迫切需要的。温湿度、二氧化碳、盐碱度等传感器的应用对于农业提高产量、减少水资源的消耗等有重要的意义，而这些数据指标短时间内不会产生明显变化，数据量小且对实时性的要求不高，因此LoRa无疑是最佳选择。</p>
	                        <div class="newsDetailsTitle_2">
						    	智慧建筑
						    </div>
						    <p>对于建筑的改造，加入温湿度、安全、有害气体、水流监测等传感器并且定时的将监测的信息上传，方便了管理者的监管同时更方便了用户。通常来说，这些传感器的通信不需要特别频繁或者保证特别好的服务质量，同时便携式的家庭式网关便可以满足需要，所以该场景LoRa是比较合适的选择。</p>
						    <div class="newsDetailsTitle_2">
						    	自动化制造
						    </div>
						    <p>在自动化工业生产环境中，大量的智能技术得到应用，各种信息数据在网络中进行交汇，因此所选网络的特性直接关乎生产计划的执行质量。一些场景需要频繁的通信并且确保良好的服务质量（QoS），这时NB-IoT是较为合适的选择；而一些场景需要低成本的传感器配以低功耗和长寿命的电池来追踪设备、监控状态，这时LoRa便是合理的选择。</p>
						    <div class="newsDetailsTitle_2">
						    	智慧物流
						    </div>
						    <p>物流行业涉及的地域范围非常广阔，因此在选择网络时首选考虑的是低投入与高工作寿命。为了能够跟踪卡板以及确定货物的位置与状态，货运公司需要的是参与整个物流过程的设施均处于网络覆盖下，那么不仅要求网络节点足够经济性以便于大范围铺设，而且拥有机动性使其可以安装在运输工具上作为一个移动网关。如此，需要依靠4G基站布网的NB-IoT技术显然不能适应这方面要求，而LoRa低成本，高电池寿命，高机动性，以及在高速移动时通信的稳定性使得其能够在智能物流领域独领风骚。</p>
						    <p>随着物联网技术的不断成熟，一场新的产业革命已悄然兴起，他将同人类历史上历次技术革新一样改变着生产方式，最终影响到人们日常的衣食住行。作为物联网产业中的左右先锋，LoRa以及NB-IoT，两者可谓各有千秋，互有长短，因而将形成带有各自特点的商业模式，在未来的物联网市场中大放异彩。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
