<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>国内外智慧城市大数据建设与经验及应用案例</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!-- -------头部----------- -->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!-- --------news----------- -->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">国内外智慧城市大数据建设与经验及应用案例</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<div class="newsDetailsTitle_2">摘要</div>
							<p>当前，全球范围内城市化进程不断推进。随着互联网和信息化的发展，在云平台、大数据和物联网等技术的支持下，率先在美国“智慧星球”概念下诞生的“智慧城市”，逐渐成为当今世界各国城市建设的发展趋势和选择。</p>
							<div class="titleCenter">一、国外案例</div>
							<p>自21世纪初期，美国、英国、德国、荷兰、日本、新加坡、韩国等先一步开展了智慧城市的实践，诞生了许多经典案例。</p>
							<div class="newsDetailsTitle_2">1.美国 -- 迪比克</div>
							<p>美国第一个智慧城市，也是世界第一个智慧城市，它的特点是重视智能化建设。</p>
							<div class="newsDetailsImg">
								<img src="../imgs/42666629.jpg" width="90%"/>
							</div>
							<p>为了保持迪比克市宜居的优势，并且在商业上有更大发展，市政府与IBM合作，计划利用物联网技术将城市的所有资源数字化并连接起来，含水、电、油、气、交通、公共服务等，进而通过监测、分析和整合各种数据智能化地响应市民的需求，并降低城市的能耗和成本。</p>
							<p>该市率先完成了水电资源的数据建设，给全市住户和商铺安装数控水电计量器，不仅记录资源使用量，还利用低流量传感器技术预防资源泄漏。仪器记录的数据会及时反映在综合监测平台上，以便进行分析、整合和公开展示。</p>
							<div class="newsDetailsTitle_2">2 .美国 -- 纽约</div>
							<div class="newsDetailsImg">
								<img src="../imgs/45007286.jpg" width="90%"/>
							</div>
							<p>通过数据挖掘，有效预防了火灾。</p>
							<p>据统计，纽约大约有100万栋建筑物，平均每年约有3000栋会发生严重的火灾。纽约消防部门将可能导致房屋起火的因素细分为60个，诸如是否是贫穷、低收入家庭的住房，房屋建筑年代是否久远，建筑物是否有电梯等。除去危害性较小的小型独栋别墅或联排别墅，分析人员通过特定算法，对城市中33万栋需要检验的建筑物单独进行打分，计算火灾危险指数，划分出重点监测和检查对象。</p>
							<p>目前数据监测项目扩大到2400余项，诸如学校、图书馆等人口密集度高的场所也涵盖了。尽管公众对数据分析和防范措施的有效性之间的关系心存疑虑，但是火灾数量确实下降了。</p>
							<div class="newsDetailsTitle_2">3 .美国 -- 芝加哥</div>
							<p>通过无处不在的传感器进行城市数据挖掘。</p>
							<p>在人们的生活里，无处不在的传感器被应用在了芝加哥市的街边灯柱上。通过“灯柱传感器”，可以收集城市路面信息，检测环境数据，如空气质量、光照强度、噪音水平、温度、风速。</p>
							<div class="newsDetailsImg">
								<img src="../imgs/12680469.jpg" width="90%"/>
							</div>
							<p>芝加哥城市信息技术委员会提供的资料表明，“灯柱传感器”不会侵犯个人隐私，它只侦测信号，不记录移动设备的MAC和蓝牙地址。在今后几年“灯柱传感器”将分批安装，全面占领芝加哥市的大小街区，每台传感器设备初次采购和安装调试成本在215～425美元之间，运行后的年平均用电成本约为15美元。该项目得到了思科、英特尔、高通、斑马技术（Zebra Technologies）、摩托罗拉以及施耐德等公司的技术和资金支持。</p>
							<div class="newsDetailsTitle_2">4 .英国 -- 伦敦</div>
							<div class="newsDetailsImg">
								<img src="../imgs/54190566.jpg" width="90%"/>
							</div>
							<p>利用数据管理交通。在2012年奥运会期间，负责运行伦敦公共交通网络的公共机构“伦敦运输（Transport for London）”，在使用者增加25%的情况下，使用收集自闭路电视摄像机、地铁卡、移动电话和社交网络的实时信息，确保火车和公交路线只有限地中断，从而保证交通顺畅。</p>
							<div class="newsDetailsTitle_2">5 .荷兰 -- 阿姆斯特丹</div>
							<p>是世界上最早开始智能城市建设的城市之一，同时是欧洲智慧城市建设的典范。</p>
							<div class="newsDetailsImg">
								<img src="../imgs/67180728.jpg" width="90%"/>
							</div>
							<p>作为荷兰最大的城市，阿姆斯特丹共有40多万户家庭，二氧化碳排放量占全国的三分之一。为了改善环境问题，该市启动了WestOrange和Geuzenveld两个项目，通过节能智慧化技术，降低二氧化碳排放量和能量消耗。</p>
							<p>还实施了Energy Dock项目，在阿姆斯特丹港口的73个靠岸电站中配备了154个电源接入口，便于游船与货船充电，利用清洁能源发电取代原先污染较大的燃油发动机。</p>
							<p>为了节省能源，启动了智能大厦项目，在未给大厦的办公和住宿功能带来负面影响的前提下，将能源消耗减小到最低程度，同时在大楼能源使用的具体数据分析的基础上，使电力系统更有效地运行。为建设可持续公共空间，启动了气候街道（The Climate Street）项目，缓解乌特勒支大街的拥堵。</p>
							<div class="newsDetailsTitle_2">6 .瑞典 -- 斯德哥尔摩</div>
							<p>在治理交通拥堵方面取得了卓越的成绩。</p>
							<div class="newsDetailsImg">
								<img src="../imgs/65782981.jpg" width="90%"/>
							</div>
							<p>瑞典国家公路管理局和斯德哥尔摩市政厅通过智慧交通的建设，既缓解了城市交通堵塞，又减少了空气污染问题，现在智能交通系统已经成为斯德哥尔摩的标签。该市在通往市中心的道路上设置了18个路边监视器，利用射频识别、激光扫描和自动拍照等技术，实现了对一切车辆的自动识别。借助这些设备，该市在周一至周五6时30分至18时30分之间对进出市中心的车辆收取拥堵税，从而使交通拥堵水平降低了25%，同时温室气体排放量减少了40%。</p>
							<div class="newsDetailsTitle_2">7 .法国 -- 里昂</div>
							<p>该市与IBM的研究人员联手建立了一个可以帮助减少道路交通拥堵的系统，使用实时交通路况报告来检测和预测交通挤塞。</p>
							<div class="newsDetailsImg">
								<img src="../imgs/88177899.jpg" width="90%"/>
							</div>
							<p>如果运营商看到可能会发生交通堵塞，就可以相应地调整交通信号，以保持平稳的车流。该系统在紧急情况下尤其有用，比如在救护车前往医院的途中。随着时间的推移，系统中的算法将从最成功的建议中“学习”，并将这些知识应用到将来的预测当中。</p>
							<div class="newsDetailsTitle_2">8 .西班牙 -- 巴塞罗那</div>
							<p>大力采用传感器使城市管理更便捷。</p>
							<div class="newsDetailsImg">
								<img src="../imgs/38148246.jpg" width="90%"/>
							</div>
							<p>在该市高新技术中心的试验区内，一个红绿灯上的小黑盒子，可以给附近盲人手中的接收器发送信号，并引发接收器震动，提醒他已经到达了路口；</p>
							<p>地上小突起形状的东西就是停车传感器，司机只需下载一种专门应用程序，就能够根据传感器发来的信息获知空车位信息；</p>
							<p>巴塞罗那宏伟的圣家族大教堂也建立了完善的停车传感器系统，以引导大客车停放；试验区草地上铺满了传感器——湿度传感器，它能感知地面的温度，以确定何时应该给草地浇水；</p>
							<p>铺设在垃圾箱上的传感器能够检测到垃圾箱是否已装满，垃圾箱上还装有气味传感器，如果垃圾箱的气味超出正常标准，传感器就会自动发出警报，进行提醒。</p>
							<div class="newsDetailsTitle_2">9 .新加坡</div>
							<p>新加坡于2006年推出《智慧国2015计划》，政府门户网站公开了50多个政府部门的5000多个数据集。</p>
							<div class="newsDetailsImg">
								<img src="../imgs/50668875.jpg" width="90%"/>
							</div>
							<p>新加坡建立起一个“以市民为中心”，市民、企业、政府合作的电子政府体系，让市民和企业能随时随地参与到各项政府机构事务中。</p>
							<p>在交通领域，新加坡推出了电子道路收费系统（Electric Road Pricing）等多个智能交通系统。</p>
							<p>在医疗领域，开发了综合医疗信息平台。</p>
							<p>在教育领域，通过利用资讯通信技术，大大提升了学生对学习的关注度。</p>
							<p>在文化领域，国家图书馆部署了一套灵活而性能超强的大数据架构，通过云端计算的模式，处理从战略、战术到实际业务的不同分析需求，提供高性价比的解决方案。</p>
							<div class="titleCenter">二、国内案例</div>
							<p>我国2014年迎来智慧城市的元年，这一概念现已在城市基础建设、交通管理、文化事业、教育事业、医疗卫生等领域形成了显著的影响。</p>
							<div class="newsDetailsTitle_2">1 .银川</div>
							<p>过去几年，银川市将“智慧的触角”延伸到城市的每个角落，搭建起“一图一网一云”的整体架构。这个架构最大的优点是既可以支持一期的智慧城市建设，还可以对未来二期、三期建设进行延伸扩展，换句话说就是既可以满足现在的建设需求，同时又不会对未来的发展构成障碍和限制。</p>
							<div class="newsDetailsImg">
								<img src="../imgs/69166693.jpg" width="90%"/>
							</div>
							<p>“一图”，是通过部署的各类物联网感知终端，结合全景真三维地图，对城市各要素进行空间节点定位；“一网”，是8000G的城市光网络，将这些节点连起来，把“一图”的数据传到“一云”；“一云”，就是大数据中心云平台，把“一网”送过来的数据进行存储和挖掘分析，让数据产生价值。简而言之，“一图”就是“眼睛、耳朵、鼻子”，负责感知；“一网”就是神经，负责信息传输；“一云”就是大脑，负责记忆和思考。</p>
							<p>在此基础上，银川与中兴通讯携手规划智慧城市顶层设计，打破全市各类“信息孤岛”，以智慧度、惠民度为核心目标，以资源整合、服务融合为理念，建立了智慧银川城市运营指挥中心，集合智慧城市日常运营、应急指挥、城市综合管理三大功能于一体，汇聚城市信息，分析城市指标，堪称智慧银川的“大脑”，肩负着城市指挥中心、应急指挥中心、城市管理副中心三大职责。</p>
							<div class="newsDetailsTitle_2">2 杭州</div>
							<p>在建设移动智慧城市方面，杭州早已成为全球最大的移动支付之城，只要一部手机就可以解决日常生活所需。数据显示，在杭州，超过95%的超市、便利店能使用支付宝付款；超过98%的出租车支持移动支付。截至目前，杭州市民通过支付宝城市服务，就可以享受政务、车主、医疗等领域60多项便民服务。杭州实际上已经率先完成“移动智慧城市”建设。</p>
							<div class="newsDetailsImg">
								<img src="../imgs/23563894.jpg" width="90%"/>
							</div>
							<p>在智慧交通领域，城市数据大脑V1.0平台投入使用，分析研判路面情况，调整红绿灯疏导交通，通过手机终端等多种渠道，把交通信息反馈给市民，引导他们避开拥堵。去年7月上线运行的城市数据大脑V1.0平台，目前已接入了路口、路段、高架匝道等点位136路，监控视频249路，相当于市区9%的规模。平台运行以来，在接入的249路监控视频分析中，发现规律性的交通乱点8个，其中潮王路新华医院门口一天规律性报警最高达197次，通过社会综合治理，调优交通组织、理顺内部循环，通行秩序得以明显改善</p>
							<p>在智慧社区领域，为了让更多的中老年人享受互联网带来的便捷生活，拱墅区湖墅街道与一家智能科技公司共同出资，在仓基新村社区试点建设智慧社区。针对老人不会上网的问题，仓基新村在局域网建设基础上专门针对这些老人组建了一个小区固定电话的虚拟网络，就像酒店里的内线电话，居民们可以直接拨打短号和隔壁邻居免费通话，比如有个头疼脑热时可以一键呼叫社区服务中心。这门电话还连通单元楼的门禁系统，楼下有人按门铃，居民可直接用电话对讲、开门，非常方便。</p>
							<p>在萧山区，正以物联网应用为基础，打造智慧社区、智慧养老、智慧医疗三者合一的综合性网上医养护平台。健康保健小屋的相关仪器可以测体重、血压、体脂肪含量、骨骼、肌肉含量和卡路里。仪器都安装了物联网感应系统，通过一个个终端采集的个人健康信息可以及时传递到健康云服务平台上，当老人的生理指标超过正常范围时，系统会做出异常告警。老人也可以通过手机APP管理自身的健康状况，同时老人的子女亲友也可以通过APP及时跟踪老人的健康状况。</p>
							<p>在淳安，启动了水电热气“四表合一”试点。在以成熟的电能信息采集网络为基础，在新建住宅小区推行水表、电表、气表、热表四表合并采集，对民生密切相关的水、电、气、热能源信息数据进行采集分析，运用大数据运算提高社会能源综合利用率。</p>
							<div class="newsDetailsTitle_2">3 .佛山</div>
							<p>2010年，广东省佛山市提出“四化融合智慧佛山”发展战略。在2011年全国“两会”上，佛山市委书记陈云贤透露，佛山已申请全国智能城市示范点，力争3到5年形成“四化融合”雏形。</p>
							<div class="newsDetailsImg">
								<img src="../imgs/60798097.jpg" width="90%"/>
							</div>
							<p>2013年7月，IBM提供“智慧佛山”建设的中期调研报告，建议佛山可以以食品安全、水治理和智慧交通为切入点，以产业转型为手段，在建设智慧佛山的同时打造强大的高端服务产业链。</p>
							<p>IBM也对佛山南海三山新城提出建议。在城市云方面，未来三山可通过手机信号定位，快速掌握各种交通工具、道路、地区的人流情况，而这类信息又可供城市管理部门更科学地规划商业区、居民区、公共交通、医院、学校甚至加油站的布局；</p>
							<p>在健康云方面，保险公司、患者以及各级医院可统一在一个云平台上实现检验结果和电子病历共享、远程会诊、网上挂号和预约门诊等高效服务，减少病患排队、报销的痛苦，节约整体社会的资源；</p>
							<p>同时，通过产业云平台，可在统一设计标准的同时节省整个产业链的成本，以帮助中小企业降低运营成本，使其投资能集中在核心制造优势上，而不是花费在采购等环节上。</p>
							<p>佛山市南海区数据统筹局通过将分散在60多个部门、150多个系统的数据集中在一起，实现了惠民服务。数据统筹局于2014年5月成立，至2014年底，已经与66个部门、157个系统成功对接，平均每月跨部门数据交换批次达600多次，数据交换总量已经超过4000万条。2014年8月，数据统筹局推出图识南海、数说南海、法人平台等“4 1”项目平台，为企业、市民提供多种服务。以图识南海来说，市民可以在地图上找到公厕、WiFi热点、医保药店等信息。除此之外，企业大监管平台、社会网格化管理平台、政务地图平台、人口库应用平台等一系列综合性政务平台也在建设中。</p>
							<p>医疗卫生方面，佛山市“南海区市民健康档案管理平台”整合了南海区143家医疗机构的医疗信息资源，包括3个区级医院、12个镇街级医院以及128家社区卫生服务站点的信息。此外，还包括以家庭为单位的每个居民的“居民健康档案”，登陆平台可以看到就诊记录、用药情况、各阶段身体健康状况等信息，帮助医生快速了解患者病史，判断病情，合理用药。</p>
							<p>此外，佛山还在积极组建交通大数据库。佛山禅城区代区长孔海文在政协禅城区三届五次会议上指出，禅城的交通发展，无论是建设还是优化公交，都需要以强大的数据库为支撑。目前禅城正在进行交通建设和管理方面的研究，将会结合对整个交通流量的监测数据来规划公交线路和路网监测系统。</p>
							<div class="newsDetailsTitle_2">4.深圳市福田区</div>
							<p>福田区委、区政府以深圳织网工程和智慧福田建设为契机，依托大数据系统网络，着力构建以民生为导向的完善的电子政务应用体系，并在此基础上积极开展业务流程再造，有效提高了福田区的行政效能和社会治理能力。主要措施包括：建设“一库一队伍两网两系统”、建设“两级中心、三级平台、四级库”、构建“三厅融合”的行政审批系统、建设政务征信体系。</p>
							<div class="newsDetailsImg">
								<img src="../imgs/45976286.jpg" width="90%"/>
							</div>
							<p>此外，福田区还把新技术应用与社会治理机制创新相结合。基于流动人口自主申报，建立房屋编码制度，深化“民生微实事”改革，对人口管理、房屋管理、社会参与机制等进行探索。全面梳理“自然人从生到死，法人从注册到注销，房屋楼宇从规划、建设到拆除”与政府管理服务相对应的所有数据，为实现信息循环、智能推送提供数据规范和数据支持。并在信息资源融合共享的基础上，广泛进行部门业务工作需求调研，理清部门之间的业务关系和信息关联，通过部门循环、信息碰撞、智能推送，再造工作流程，有效减少了工作环节，简化了工作程序，提升了服务效能，方便了群众办事。</p>
							<div class="newsDetailsTitle_2">5 .贵阳</div>
							<p>贵阳以中关村贵阳科技园为依托，以重大项目和龙头企业引进为主要抓手，以需求市场的统筹开发和数据资源开放为切入点，坚持走“政府引导、市场驱动”的发展道路，遵循“环境优势吸引产业、基础设施保障产业、本地市场带动产业、优惠政策扶持产业”的发展策略，大力发展大数据产业，将大数据与资本、政策、园区等要素紧密融合，以信息化提升城市核心竞争力，带动贵阳经济社会全面发展。</p>
							<div class="newsDetailsImg">
								<img src="../imgs/72116430.jpg" width="90%"/>
							</div>
							<p>在培养大数据应用市场方面，实施“政务大数据开放”项目、“智慧贵阳”项目和“传统特色产业大数据融合”项目；在智能化建设方面，建设“全域公共免费Wi-Fi接入上网”城市、“块上集聚的大数据公共平台”，以实现块上集聚的用户上网行为数据的全采集，拟应用于制约和监督权力运行的“数据铁笼”平台、“数据禁毒”平台、“数据健康”平台、“数据敬老”平台、“数据慕课”平台、“数据智游”平台。</p>
							<div class="titleCenter">三、对我国建设智慧城市的启发</div>
							<p>分析国内外智慧城市建设的规律与经验，对比我国城市建设实践，我们深受启发。</p>
							<div class="newsDetailsTitle_2">1. 智能化设施建设</div>
							<p>毫无疑问，大数据给城市发展、转型以及实现便捷的公共服务带来了巨大发展空间。然而，大数据的应用离不开互联网、物联网、云平台等信息化技术的支撑，更有赖于智能化终端的普及。一切基础设施的建设，包括铺设网络、布置传感器、搭建系统平台、实现数据全采集等，无疑都需要庞大的资金投入。无论是政府支持，还是企业市场运作，对智慧城市建设而言，都是必不可少的。</p>
							<div class="newsDetailsTitle_2">2. 开放政府数据</div>
							<p>当前，世界各国纷纷加入数据开放运动之中，截至2014年4月，已有63个国家制定了开放政府数据计划。从目前全球参与开放数据运动的国家来看，既包括美国、英国等发达国家，也包括印度、巴西等发展中国家。</p>
							<p>在中国，政府掌握着最齐全、最庞大与最核心的数据，各级政府积累了大量与公众生产生活息息相关的数据，比如：气象数据、金融数据、信用数据、电力数据、煤气数据、自来水数据、道路交通数据、客运数据、安全刑事案件数据、住房数据、海关数据、出入境数据、旅游数据、医疗数据、教育数据、环保数据等，是社会上最大的数据保有者。</p>
							<p>在中央各部门及地方政府的推动下，我国公共信息资源开放共享步伐正在加快。2013年，国务院发布了《关于促进信息消费扩大内需的若干意见》，要求促进公共信息资源共享和开发利用，推动市政公共企事业单位、公共服务事业单位等机构开放信息资源。2014年，国家发改委《关于促进智慧城市健康发展的指导意见》中提到：“大力推动政府部门将企业信用、产品质量、食品药品安全、综合交通、公用设施、环境质量等信息资源向社会开放，鼓励市政公用企事业单位、公共服务事业单位等机构将教育、医疗、就业、旅游、生活等信息资源向社会开放。”</p>
							<p>在保证有效监管的前提下，政府有层次有选择地加大数据对外开放，引导企业挖掘数据的潜在价值，探索商业与应用模式的创新，有利于保障市场的良性竞争，实现优胜劣汰，推动大数据应用的健康发展，锻造出真正能被市场所接收的、为政府与居民创造价值的、优质的大数据应用模式，实现政府大数据资源的高效、高质量利用。同时，政府数据开放也有利于公众参与城市管理和监督政府，进而改善公共服务。</p>
							<div class="newsDetailsTitle_2">3. 重视差异性，避免同质化</div>
							<p>每个城市在智慧城市建设中有不同的侧重点，按照不同的领域维度和时间维度，使政府资源的配置更趋合理，实现了由社会管理向社会治理方式的转变。</p>
							<p>从“城市发展战略引导智慧城市建设重点领域表”可以看出，城市发展战略直接影响城市建设和智慧城市的发展模式。中国的城市化和大数据应用，在学习国外先进技术与经验之时，要注重城市文化保护，切忌丢掉自己的独特风格，千城一面，被商业利益牵着鼻子走。</p>
							<div class="newsDetailsTitle_2">4. 顶层设计</div>
							<p>智慧城市的建设，不是简单的投入资金、大力推进信息化建设、搭建时髦的应用平台就能代表其发展水平与结构，它需要系统、深入、细致、普遍地考量城市经济、政治、历史、地理、文化、社会、生态文明等因素，以文献调研和社会调查数据分析相结合的方式梳理城市的发展脉络，深入细致地考评一个城市的发展状态，挖掘城市的特点，挖掘城市人的禀性，概括出城市的文化精髓和灵魂，为未来发展的模式与方向提出决策性指导。</p>
							<div class="newsDetailsTitle_2">5. 统一管理</div>
							<p>佛山建立统一的智慧城市管理机制，成立管理委员会，以人文城市为目标与落脚点，以实现关键成果指标为途径改善城市生态系统，以标准化的共享数据、商业分析工具及便于操作的数据门户作支撑，确保管理机制顺畅运行。这一建议也是智慧城市建设的可行之策。</p>
							<div class="newsDetailsTitle_2">6. 多元合作</div>
							<p>智慧城市建设是一项浩大的工程，不仅需要政策支持，还需要大量资金的注入。先进行科研、技术的应用则需要政府、商业公司、科研机构和社会公众的广泛参与。当前，在国内外的智慧城市建设中，基础设施建设主要是以政府投入为主体，辅以与实力强大的商业公司合作；战略规划与顶层设计是请商业公司、科研机构和智库进行，以确保方向的正确与实践的成效；应用领域开发是政府与商业公司水乳交融、不分上下。总之，只有社会各界的广泛参与，才能推动智慧城市的欣欣向荣，蓬勃发展。</p>
							<p class="foot-state">本文转载自：微信公众号 -- 物联网智库 <a href="https://mp.weixin.qq.com/s/0nSy76GuVJQxHvmTj8PdEg" target="_blank"  style="color: darkolivegreen;text-decoration: underline;">阅读原文</a></p>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ---------------------- -->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-- ---------合作伙伴----------------- -->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!-- --------底部------------- -->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
