<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>阿里与联通、Semtech发布国内首个LoRa城域网试商用背后的深意是什么？</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!-- -------头部----------- -->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!-- --------news----------- -->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">阿里与联通、Semtech发布国内首个LoRa城域网试商用背后的深意是什么？</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>上周在深圳举行的云栖大会上，阿里巴巴宣布将正式进军物联网，且表示物联网是阿里巴巴集团继电商、金融、物流、云计算之后的一条新的主赛道，成为当天科技圈里的头等大事。值得注意的是，在本次大会上，阿里云宣布与中国联通、Semtech达成合作，发布国内首个LoRa城域物联网试商用，这一消息牵动了物联网领域多个参与主体的神经，其背后传递出来的不少信息耐人寻味。</p>
							<div class="newsDetailsTitle_2">城域网络背后，LinkWan更值得关注</div>
							<p>根据大会现场的信息，本次发布的LoRa城域物联网试商用，覆盖了杭州、宁波两个城市的主城区，包含消防、表计、门磁、停车在内的低功耗生活场景，而且加入该城域网建设的物联网企业几乎涉及了浙江省整条低功耗物联网产业链。针对这一城域网，不少人都在打探网络部署规模、参与的供应商等信息，不过，在笔者看来，相对于城域网络的基站数量、覆盖范围等信息，本次发布的LinkWan平台更值得关注。</p>
							<p>我们知道，以往广域网络的部署基本垄断在专业的通信企业手中，由于需要巨额投资、专有技术、专用设备、牌照等壁垒，将其他参与者排除在外。而LoRa的灵活性在于让一个广域网络的部署难度大大下降，中小企业甚至个人都可以成为网络部署运营者。除了LoRa相关设备的门槛不高、中小团队可参与外，一些为LoRa网络部署提供加速的第三方平台也很重要。</p>
							<p>目前已有不少第三方平台逐渐成熟，值得一提的是荷兰TTN (The Things Network)团队，该团队的理念：只需拥有一个LoRaWan网关，人人都可以搭建LoRaWan网络。网络部署如此简单，在于TTN搭建的一个开源平台，实现一个云端LoRa核心网和业务运营支撑系统（BOSS），网关拥有者只要在这个平台上注册，即可通过该平台提供的功能对自己的网关进行运营，所有接入到该网关的模块、传感器数据可以进行管理。</p>
							<p>TTN作为一个开源、免费的平台，目前已聚集了全球3300多个网关在平台上注册，将各自分散的网络用一个平台进行管控。从图中可以看出，中国也有多个网关接入了TTN平台。</p>
							<div class="newsDetailsImg">
								<img src="https://07.imgmini.eastday.com/mobile/20180402/20180402163355_f73c3536503a386fb5396baaae42e419_1.jpeg"/>
							</div>
							<p>阿里云推出的LinkWan平台，当然在最大程度上也会加速LoRa网络的部署。在当天大会上对LinkWan平台介绍中，“今天每个家庭都有WiFi网络，未来每个企业都有LoRa网络”可以认为是对这种理念的最好阐释。</p>
							<p>同样的，LinkWan搭建一个LoRa网络核心网和运营支撑平台，提供的基站与节点等设备接入，且有基站与终端的管理界面，用户可自主搭建LPWAN网络，自由搭配LPWAN终端产品和应用，形成完整解决方案。当然，基于阿里云的强大生态和功能，在LinkWan平台上进行网络连接管理基础上，结合阿里云PaaS服务可为用户形成完整解决方案，此时其所加速的不仅仅是网络部署，还进一步加速了LoRa具体解决方案的落地。在这方面，LinkWan形成了对其他第三方LoRa云端服务平台的巨大优势。</p>
							<div class="newsDetailsImg">
								<img src="https://07.imgmini.eastday.com/mobile/20180402/20180402163355_f73c3536503a386fb5396baaae42e419_2.jpeg"/>
							</div>
							<p>一个爱好者社区起步的TTN团队在3年多的时间里能够形成全球3000多个LoRa基站的部署规模，而作为具有强大产业生态的阿里云，其开放的第三方平台一定会更加快速促成LoRa网络的部署。当LinkWan平台让每个企业都能低门槛的建设LoRa网络时，目前已建设的城域网络规模只是一个起步，灵活性的特征可以做到按需部署，在有需求的情况下网络规模可以快速扩容。</p>
							<div class="newsDetailsTitle_2">电信运营商为何部署LoRa？ </div>
							<p>相信不少从业者对于其中浙江联通参与LoRa城域网络建设提出疑问，电信运营商一直是肩负着部署和发展NB-IoT重任的，为何这次在LoRa部署上显得有些高调？</p>
							<p>实际上，这并非运营商首次涉足LoRa领域。此前，中国联通官方微博曾发布了浙江联通于2017年5月开通首张LoRa实验网的信息。除了浙江联通之外，其他省公司也开展了不少LoRa项目。据笔者了解，中国移动、中国电信为大量政企客户提供的方案中，也有不少用到了LoRa的连接方案。</p>
							<p>电信运营商作为NB-IoT产业中坚力量是毋庸置疑的，不过，作为大多数用户来说，对于具体技术实际上保持一个中立的态度。在很多场景下，当NB-IoT还不能满足用户的需求，而这些用户又是运营商的直接客户时，此时运营商就以解决问题为导向，而不是坚持某条技术路线了。</p>
							<p>过去几年中，运营商物联网连接数增速较快，但通过连接带来的收入非常微薄。中国移动2017年年报显示，其物联网连接数的ARPU值仅为2-3元，而且ARPU值下降的趋势是明显的。因此，平台、集成、解决方案等方面成为运营商物联网业务新的收入来源。在运营商的政企客户中，大量项目运营商是作为总包或者集成的角色，为政企客户提供方案中需要统筹综合考虑，保持技术中立性。在这些项目中，一些客户对LoRa连接提出需求，也有一些场景中LoRa的灵活性更适合解决问题，因此就有了三大运营商在具体项目中涉足LoRa方案。</p>
							<p>当然，除了LoRa以外，对于政企客户的需求，运营商也会综合采用多样化的技术方案，例如笔者熟悉的纵行科技ZETA技术就用于一些照明、安防类项目中，与NB-IoT形成互补。</p>
							<p>运营商涉足LoRa等非NB-IoT的低功耗广域网络技术已不是一个秘密，政策倾斜、技术优劣等因素都不是主要因素，这是一个市场化的理性选择过程。当然，笔者认为运营商对于LoRa等网络的采用是一个按需部署的过程，根据用户的需求和项目所在地域来部署运营，不会类似NB-IoT一样进行广度和深度的覆盖形成无缝的大网。在这个意义上来说，对于运营商涉足LoRa并无需过分解读，两者只是互补和主次的关系。</p>
							<div class="newsDetailsTitle_2">政策VS市场 </div>
							<p>众所周知，岁末年初关于无线电频谱管理的事件对以LoRa为代表的非授权频谱物联网技术蒙上一层阴影，在众多相关企业努力之下，工信部对正式文件出台进行深入调查研究。</p>
							<p>不过，据笔者调研，在过去的几个月中，国内LoRa产业链核心参与者发展速度依然不减，不论是从设备出货量还是运营用户的签约情况来看，都呈现繁荣的趋势，有些企业的出货量甚至同比翻倍。在政策风险已经比较明确的情况下，对LoRa的需求方依然能有增量的需求，可见其一方面是认可低功耗广域网络带来的价值，另一方面也是对政策方向保持一个乐观的态度。国内很多高新技术区、新兴产业园区，在建设的过程中已将LoRa物联网网络部署作为其基础设施的一部分，形成了很多区域级的网络，同时也造成大量网络已运营的既成事实。</p>
							<div class="newsDetailsImg">
								<img src="https://07.imgmini.eastday.com/mobile/20180402/20180402163355_f73c3536503a386fb5396baaae42e419_4.jpeg"/>
							</div>
							<p>此次阿里云和联通高调宣布LoRa城域网试商用，也可以看出是对LoRa价值认可和政策方向乐观态度的表现。在业界不少人看来，越来越多的领头羊涉足这一阵营，给本来有政策风险阴影的产业注入一股强心剂。</p>
							<p>对于无线电频谱的管理的确是无线电管理局职责范围内的合理规划，不过考虑到对产业发展造成的影响，作为监管者和“守夜人”的政府，未来一定会基于监管和市场均衡发展角度来出台相关政策。笔者曾在《无线电管理局

								靴子未落地，香港对LoRa、Sigfox网络牌照政策或具参考意义》一文中对于香港通讯管理局针对LoRa、Sigfox的牌照政策进行研究。期待今年监管政策靴子的落地，为物联网市场经济发展提供一个公平竞争的环境。</p>
							<p></p>
							<p class="foot-state">本文转载自:东方头条 <a href="http://mini.eastday.com/mobile/180402163355082.html?qid=qid02650&referrer=https://cn.bing.com/search?q=%E9%98%BF%E9%87%8C%E5%B7%B4%E5%B7%B4+lora+linkwan&form=APIPH1&PC=APPL" target="_blank"  style="color: red;text-decoration: underline;">阅读原文</a></p>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-- ---------合作伙伴----------------- -->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!-- --------底部------------- -->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
