<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>掀起你的盖头来：LoRa联盟解析</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">掀起你的盖头来：LoRa联盟解析</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>LoRa是由SemTech研发的低功耗联网技术，物联网智库近期进行持续研究，此前连续推送5篇LoRa技术、产业、应用等相关文章。在通讯技术商业化过程中，产业联盟是一股强大的推动力量，LoRa也不例外。</p>
							<p>LoRa联盟是一个开放的、非盈利性组织，它是由业内领先厂商发起，其目的在于将低功耗广域网络（LPWAN）推向全球，以实现物联网、M2M、智慧城市的应用，联盟成员将通力合作将LoRa协议成功推向全球标准。那么，这一联盟的成员有哪些？在产业生态系统处于神秘位置呢？今天物联网智库将带大家一起揭开LoRa联盟的神秘面纱。LoRa联盟成立之初就注重生态系统建设，与产业链各环节企业共同合理推动这一技术的商用。目前，联盟成员包括跨国电信运营商、设备制造商、系统集成商、传感器厂商、芯片厂商和创新创业企业等，这些成员跨欧洲、北美、亚洲、非洲等地域。LoRa联盟成员分为创始成员、贡献成员和应用成员三类。物联网智库编辑从产业链的角度对LoRa联盟成员进行分类如下：</p>
							<div class="newsDetailsImg">
								<img src="../img/newsVocationDetails14.png"/>
							</div>
							<p>要实现基于LoRa技术搭建广域网，与现有电信运营商合作是一条捷径，借用电信运营商已有的基站、无线电频谱等资源，能够快速、低成本实现LoRaWan的广域覆盖和商用。多家跨国电信运营商加盟LoRa联盟，包括但不限于：</p>
							<div class="newsDetailsTitle_3">
								 KPN：荷兰皇家KPN电信集团，是荷兰第一家电信公司，在荷兰、德国、比利时等国拥有移动网络，被评为全球最值得投资的十大电信运营商之一。
							</div>
							<div class="newsDetailsTitle_3">
								 Bouygues为法国布依格电信公司，目前已成为法国三大移动网络运营商之一，近期，该公司宣布将于6月份推出使用LoRa技术的商用网络。
							</div>
							<div class="newsDetailsTitle_3">
								 Swisscom为瑞士电信，是瑞士大型电信运营公司。
							</div>
							<div class="newsDetailsTitle_3">
								 Belgacom为比利时最大的电信运营商。
							</div>
						    <div class="newsDetailsTitle_2">
								在物联网系统方案领域，有多年物联网系统方案提供经验的厂商也加盟LoRa联盟，典型的厂商包括：
							</div>
							<div class="newsDetailsTitle_3">
								 Actility是M2M领域大规模基础设施行业的领导者，基于LoRa技术开发的 ThingPark®为新一代标准化M2M通讯平台。 ThingPark®可提供对源于 Actility及其合作伙伴的增值应用的访问。
							</div>
							<div class="newsDetailsTitle_3">
								 KERLINK是德国一家M2M解决方案提供商，不仅提供LoRa基站、网关等设备，更在电力、交通等领域有多年解决方案经验。
							</div>
							<p>在软件领域，IBM作为LoRa联盟的核心创始成员，在LoRa技术上已投入多年，为LoRa商用化提供强大基础研究、软件、云计算、大数据的支撑；另外，如Stream、Insigma等软件类企业也在细分领域以软件能力加速LoRa商用化。</p>
							<div class="newsDetailsTitle_2">
								芯片厂商主要包括：
							</div>
							<div class="newsDetailsTitle_3">
								 Semtech即升特公司，作为LoRa技术的推出者，升特是高质量模拟和混合信号半导体产品的领先供应商，为客户提供在电源管理、保护、高级通信、人机界面、测试和检测以及无线和传感产品方面的专有解决方案和技术，其芯片在通信、计算机和计算机界面、自动检测设备、工业和其它商业应用中得到广泛采用。
							</div>
							<div class="newsDetailsTitle_3">
								 Microchip，即美国微芯科技公司，是全球领先的单片机和模拟半导体供应商，为消费类产品提供低风险的产品开发、更低的系统总成本和更快的产品上市时间。
							</div>
							<div class="newsDetailsTitle_2">
								已有多家模组厂商推出LoRa模块，其中包括数家中国厂商:
							</div>
							<div class="newsDetailsTitle_3">
								 Augtek即南京八月智能科技公司，是一家运营商级物联网通信设备供应商，推出基站和LoRa通信模块。八月科技的方案开始用于船联网中，能够实现船船通信、船岸通信、岸基通信、船舶无线传感网以及航道无线传感网等船联网核心网络功能。
							</div>
							<div class="newsDetailsTitle_3">
								 ADEUNIS是法国一家无线射频模组厂商，为SigFox、LoRa等低功耗、长距离网络技术提供低成本的模组。
							</div>
							<div class="newsDetailsTitle_3">
								 拓宝科技位于武汉，已推出M2M通信模块、基站和传输平台，并应用于无线抄表、深林防火、井盖监控等领域。
							</div>
							<div class="newsDetailsTitle_2">
								终端厂商除了通讯设备厂商思科外，也包括多家应用终端厂商：
							</div>
							<div class="newsDetailsTitle_3">
								 HOMERIDER位于法国，是全球最大无线计量表具供应商，水表、电表、燃气表是其主要产品。
							</div>
							<div class="newsDetailsTitle_3">
								Sagemcom是法国领先的宽带和移动终端供应商，包括适用于M2M的网关产品，已在供水、供电、供气等领域广泛应用。
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
