<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>共存？厮杀？混合？NB-IoT、LoRa运营商市场格局推演</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">共存？厮杀？混合？NB-IoT、LoRa运营商市场格局推演</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
						    <p>为了抢占物联网的先机，全球多地的运营商纷纷筹划低功耗广域网络（LPWAN）的部署。在NB-IoT商用尚需时日的背景下，不少运营商选用LoRa、Sigfox、Ingenu等非授权频谱技术来部署城市级甚至覆盖全国的低功耗广域网，以此来实现率先提供物联网服务。笔者在上周《粘住就跑不了的鱼，NB-IoT、LoRa、SIGFOX跑马圈地背后的逻辑》一文中阐述部署非授权频段广域网络是为了初期的粘性用户的逻辑。不过，随着NB-IoT的商用，在全球市场上，运营商级的低功耗广域网络领域在中长期中可能会出现基于NB-IoT和非授权频谱技术的多制式网络共存的情况</p>
						    <div class="newsDetailsImg">
							   <img src="../img/newsVocationDetails06.png"/>
						    </div>
						    <div class="newsDetailsTitle_2">
						    	业务实践促使运营商专用物联网网络部署
						    </div>
						    <p>此前有消息透露，虽然欧洲运营商巨头Orange在一年前就宣布部署覆盖全国的LoRa网络，但其进展并不快，甚至Orange高管曾暗示，LoRa是在Orange在NB-IoT标准出现之前的权宜之计，该运营商可能会做两手准备。由此看来，运营商部署低功耗广域网络的积极性非常高，这一积极性来源于运营商在多年业务经营中看到的需求和其战略布局的考虑。一方面，人与人通信的移动终端数量增长已看到天花板，物与物通信才刚刚开启，电信运营商通过提供物与物的连接服务寻找新的增长点，将是其网络发展的战略选择。另一方面，早在近10年前，运营商就已经通过GPRS/3G/4G网络为其政企客户提供机器对机器通信（M2M）服务，包括机器管理、远程数据传输等，这些业务具有明显的物联网业务特征。也就是过去近10年的实践，运营商不可避免地遇到了用户物联网的大量需求，其中有大量对小数据量、低功耗、远程传输的需求，但此前由于缺乏低功耗广域网络的方案，形成一个短板。当LoRa等低功耗广域网络方案出现后，不少运营商曾经通过系统集成的方式，将这些方案融入到其政企产品中，一定程度上解决了用户的需求。有物联网发展战略，并看到实实在在的需求，再加上部分运营商在3G/4G业务战略中的失利，传统业务红利丧失，促使运营商有尽快部署一张专用于低功耗广域网络来抢占物联网的初期红利，无怪乎一些运营商采用相对成熟的非授权频谱技术来部署物联网专用网络。</p>
						    <div class="newsDetailsTitle_2">
						    	运营商级低功耗广域网的市场格局推演
						    </div>
						    <p>在国内，由于通信业监管体制和产业基础的原因，目前来看运营商不会选择非授权频谱技术来部署低功耗广域网络。不过，在海外通信业市场中，不同的市场环境使得非授权频谱技术有机会进入运营商级网络部署中。笔者认为，未来运营商级低功耗广域网络可能出现以下三种市场格局：</p>
						    <div class="newsDetailsTitle_3">
						    	NB-IoT网络与非授权频谱广域网络共存，但非授权频谱广域网络会专用于运营商的政企行业客户
						    </div>
						    <p>目前，虽然有部分运营商已部署了广覆盖的LoRa、Sigfox等非授权频谱网络，但Nb-IoT更适合运营商部署和与原有蜂窝网络的融合。随着NB-IoT商用条件的成熟，已部署了LoRa、Sigfox的运营商再部署一张NB-IoT的网络也是有可能的。不过前提是两张网络的定位不同，NB-IoT网络定位于公用网络，有标准化的资费和统一的商业模式；非授权频谱网络定位于政企行业专网，以定制化、个性化的模式提供服务。</p>
						    <p>近期台湾亚太电信宣布搭建运营商级LoRa网络时，亚太电信董事长吕芳铭曾表示：比较传统蜂窝网络与低功耗广域网络基站建设的方式，运营商对前者的考虑大多以人口数量作为指标，通常会选择人口密集的区域部署；而后者（如LoRa技术）则将以“应用”区域为导向，限于合作厂商协同沟通其应用方式与范围，进而部署LoRa基站。</p>
						    <p>可以看出，运营商在部署基于LoRa广域网络时更多是以应用为导向，并非广覆盖为导向，而前期更多是发展一些行业应用，这在客观上使得LoRa网络具有了政企行业专网的特点，也使得部署两张定位不同的网络具有可能性。</p>
						    <div class="newsDetailsTitle_3">
						    	已部署非授权频谱技术网络的运营商坚持以公网运营，与NB-IoT形成直接竞争
						    </div>
						    <p>一张广域网络的部署和运营成本较高，当运营商采用LoRa、Sigfox建成广域网络后，很有可能坚持作为一张公共网络来运营。这一情况下，其他大量主流运营商部署NB-IoT网络，已有LoRa、Sigfox网络与NB-IoT网络形成直接竞争关系。这一市场格局下，由于作为公共网络，就需要广泛的终端和应用接入。要将LoRa、Sigfox的产业生态延伸到所有行业中，该运营商就需要承担发展基于该技术的产业生态重任，这个难度就比较大，尤其是进入到消费类领域。当NB-IoT拥有大量主流运营商支持，终端、应用厂商可以面向全球大市场，形成更多支持者，而其他技术的产业生态空间有限。正如当年通信市场中的CDMA、TD-SCDMA产业生态一样，市场空间的局限，使得基于其制式的终端种类很少。</p>
						    <div class="newsDetailsTitle_3">
						    	混合组网形式
						    </div>
						    <p>从全球来看，在4G网络商用过程中，混合组网方式比较常见，即把LTE FDD和TD-LTE网络统一平台，实现对两张网络同时管理，从而可以实现两个业务的无缝切换，提升网络利用率、信号覆盖以及性能。有一种观点认为NB-IoT可能会与基于非授权频谱技术混合组网，搭建更高效的低功耗广域网络。以NB-IoT进行广域覆盖，以LoRa等进行热点覆盖，形成混合组网形式，虽然从核心网、管理平台端来看，对两张不同网络进行同时管理问题不大，不过基于蜂窝技术的NB-IoT和基于IT技术的LoRa、Sigfox是否能够无缝融合和切换还不确定， 且还需要集成NB-IoT和非授权频谱技术的多模终端，这对于产业链来说成本收益问题如何、应用场景是否丰富也不确定。在笔者看来，不论是NB-IoT，还是LoRa、Sigfox，在接下来的技术演进中考虑、论证混合组网的可行性还是有必要的。</p>
						    <p>作为低功耗广域网络的运营者，运营商初期的选择对未来这一领域的市场格局影响巨大，不过，不论是初期选择何种技术部署，期待未来各运营商通过市场化手段，形成不同制式网络的充分应用，做好物联网时代的连接者。</p>    
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
