<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>中国工业软件的自主创新之路———倪光南院士</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">中国工业软件的自主创新之路———倪光南院士</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<div class="newsDetailsTitle_2">
								一、物联网工业领域应用服务
							</div>
							<p>当前发展工业软件应重视新一代信息技术发展趋势。不久前主席在两院院士大会上讲话指出：“互联网、云计算、物联网、知识服务、智能服务的快速发展为个性化制造和服务创新提供了有力工具和环境”。现在，国家已将新一代信息技术产业列入到加快培育和发展的七大战略性新兴产业之中。</p>
							<p>工业软件采用物联网、云计算等新技术、新模式，可以大大提升应用和服务的规模、水平与效益。</p>
							<p>李毅中部长最近指出：物联网是工业化和信息化的深度融合。这说明今后物联网是推进两化融合、发展工业软件的新方向。</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-11-10/35707772.jpg" />
							</div>
							<div class="newsDetailsTitle_2">
								二、物联网将无处不在
							</div>
							<p>物联网是通过各种传感技术（RFID、传感器、GPS、摄像机、激光扫描器……）、各种通讯手段（有线、无线、长距、短距……），将任何物体与互联网相连接，以实现远程监视、自动报警、控制、诊断和维护，进而实现“管理、控制、营运”一体化的一种网络。</p>
							<p>物联网将达到极大的规模，远超过目前的互联网。与物联网相联的各种传感器和设备将达到万亿数量级。</p>
							
							<p>物联网将无处不在，其服务领域将覆盖工业农业、公共安全、交通运输、商业流通、能源环境、医疗卫生、消费电子、智能建筑、IT服务……。</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-11-10/10494459.jpg" width="600px;"/>
							</div>
							<div class="newsDetailsTitle_2">
								 三、物联网的四大支柱

							</div>
							<p>按照周洪波博士的意见，中国物联网有四大支柱产业群，如图所示。其中，</p>
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-11-10/56678112.jpg" style="margin: 20px auto;"/>
							</div>
							<p> RFID：应用于各个方面，它将使任何物件都有一个唯一的身份标识（ID）。</p>
							<p>传感网：是实现“感知中国”、“感知城市”的基础。</p>
							<p> M2M：关注末端设备的互联和控制、管理，应用于各个领域。</p>
							<p>两化融合：主要应用于工业自动控制方面。</p>
							<p>不过在实际的物联网中，上述几方面的技术往往是互相关联、共同发挥作用的。</p>
							<div class="newsDetailsTitle_2">
								四、推进物联网的要点

							</div>
							<p>首先应抓应用示范，培育切入点。虽然物联网可以应用于各个领域，但不宜分散力量、四面开花，而应集中力量先搞好若干示范项目，取得经验后再进行推广。应首选那些需求迫切、条件成熟、收效明显的项目进行试点。</p>
							<p>及早制订标准规范。目前制约物联网发展的重要因素是缺乏统一的标准，我国已成立物联网标准联合工作组，对此，各行各业都要十分重视，及早抢占标准这一制高点。</p>
							<p>突破核心技术，除已列入“核高基”、“新一代宽带无线移动通信”等国家重大专项中的技术外，还需加强对RFID、微传感器、MEMS、全球定位、现场总线、电力线通信、各种组网等等技术的攻关。</p>
							<p>加强统筹规划，制订相关政策，加强领导管理，实行产学研用相结合，创新商业模式，最终是要实现产业化。</p>
							<div class="newsDetailsTitle_2">
								五、物联网带来的变革
							</div>
							
							<p>物联网将使工业软件在应用和服务的规模方面，在数字化、自动化、网络化、智能化方面，以及在商业模式等方面发生重大的变革，中国工业软件界应当顺应物联网的潮流，抓住机遇，迎头赶上。</p>
							<p>对现有的各种工业产品研发设计、流程控制、企业管理、市场营销等等子系统，应运用物联网、云计算等新一代信息技术进行整合，实现资源共享、予以扩展提升，以便建成覆盖一个单位、一个区域、乃至覆盖全国、全球范围的统一管理、控制、运营的一体化工业应用物联网，加快两化融合的进程。</p>
							
							<p class="foot-state">源文件下载地址： <a href="http://olv6wm3nj.bkt.clouddn.com/%E5%80%AA%E5%85%89%E5%8D%97%E9%99%A2%E5%A3%AB%E6%BC%94%E8%AE%B2%E7%A8%BF.pdf" target="_blank" download="倪光南院士演讲稿" style="color: red;text-decoration: underline;">倪光南院士演讲稿下载链接，点击直接下载</a></p>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
