<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Semtech CEO:LoRa将成为物联网领域的事实标准</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">Semtech CEO:LoRa将成为物联网领域的事实标准</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>低功耗广域网络（LPWAN）助推物联网发展已是共识，LoRa、NB-IoT这些LPWAN技术不仅成为2016年度物联网产业中曝光率最高的热词，也是刺破物联网炒作泡沫、实现应用落地的关键因素。</p>
						    <p>由中兴通讯和中国LoRa应用联盟（CLAA）主办的物联网国际峰会在南京召开，会议期间笔者有幸对LoRa技术核心贡献者Semtech公司CEO Mohan Maheswaran先生进行专访，Maheswaran首次在国内从发展历史、产业布局、竞争态势、合作模式、中国市场等方面全方位介绍了Semtech基于LoRa技术在物联网产业生态的布局和观点。</p>
						    <div class="newsDetailsImg">
							   <img src="../img/mohan01.png"/>
						    </div>
						    <div class="newsDetailsTitle_2">
						    	从物联网的布局到产业生态的布局
						    </div>
						    <p>Semtech CEO Mohan Maheswaran先生认为，物联网的两个关键要素是低功耗的传感器和云计算，前者让大量应用变成了可能，后者让感知具有智能化，使各类应用变成现实</p>
	                        <p>随着低功耗传感器和云计算的逐渐发展成熟，大量的应用需要低功耗、远距离、低成本的方案，如智慧城市、智慧农业、智能建筑中的应用。以LoRa为代表的LPWAN技术在这三方面的特点正好补齐了物联网发展中的短板。</p>
	                        <p>从很大程度上来说，LoRa在全球物联网领域的普及与LoRa联盟的成立和成功运营分不开，通过广泛联合运营商、设备商、软件厂商、终端厂商、应用厂商等产业链上下游企业，形成源于LoRaWAN的物联网标准规范并大范围推广，这也是物联网时代生态系统重要性的体现。</p>
	                        <p>在Mohan Maheswaran先生看来，LoRa所面对的不是单一的产品，而是一个系统，只有通过生态系统的协作，才能提供端到端的解决方案。</p>
	                        <div class="newsDetailsTitle_2">
						    	求同存异发展和多样化的产业生态合作方式
						    </div>
						    <p>就LoRa的部署来说，由于其产业生态相对成熟，在大量合作伙伴中已得到验证，包括SK、Comcast、软银、中兴等知名企业，被认为是目前针对低功耗、广覆盖物联网最为有效的技术。不过，在低功耗广域网络领域，一直存在着基于授权频谱技术NB-IoT和非授权频谱技术LoRa、Sigfox、RPMA等之间的争论。</p>
						    <div class="newsDetailsImg">
							   <img src="../img/mohan02.png"/>
						    </div>
						    <p>Mohan Maheswaran先生直言：“未来的物联网市场很大，在这个大市场中，各类技术都有机会。在大量应用中，LoRa非常适用于智慧城市、政企行业等场景中，和NB-IoT的授权频谱技术形成互补，双方完全可以互补共存”。</p>
						    <p>不过，相对于其他LPWAN技术少量的部署，翻开世界地图，我们可以看到LoRa网络部署的身影已遍布欧洲、美国、亚太等全球多个国家，Orange、KPN、SK、TATA、软银、Comcast等各国主流电信运营商已选择LoRa来建设物联网专用网络。</p>
						    <p>近期最为热议的是全球最大的数字电信运营商Comcast与Semtech合作将在美国部署覆盖全国的LoRa网络，作为一家拥有数字电视、机顶盒和大量企业级用户的综合性企业，最终选择LoRa作为其进军物联网领域的核心技术，它有大量基站资源，并可以通过小基站和微型基站进行更深度的覆盖，从而使得美国拥有一张具有广度和深度覆盖的运营商级物联网网络。</p>
						    <p>为了进一步推动LoRa网络在美国的落地，Comcast与Semtech的合作不仅仅在业务层面，而且在资本层面也进行合作，Semtech授予Comcast以一美分价格购买其价值3000万美元的普通股。虽然这一金额只占Comcast整个LoRa网络部署项目投资的很小一部分，但在推动LoRa普及的过程中，丰富了合作的方式。</p>
						    <p>Maheswaran先生坦言，在其他国家和地区LoRa网络部署中，也可以考虑类似的合作方式。众所周知，LoRa芯片由Semtech独家供应的情况，让行业内大量人士对其产生疑问。在谈及这个问题时，Maheswaran先生透露Semtech已与ST、Microchip达成合作，也正在有计划地和更多IC厂商和合作伙伴洽谈IP授权，以保证未来物联网快速发展中对LoRa芯片的需求。不过，在Maheswaran看来，从整个产业生态视角来看当前LPWAN的发展，实际上廉价、高精度的传感器和丰富的应用是物联网产业发展的瓶颈，短期内芯片的供应并不构成产业发展的瓶颈。</p>
						    <div class="newsDetailsTitle_2">
						    	全球化中的中国市场
						    </div>
						    <p>全球各科技巨头布局物联网业务时，都将主要关注点放在中国市场，LoRa的发展也不例外。从2013年起，国内大量企业推出基于LoRa各类软硬件产品，并在很多行业领域开展了分散化应用，为整个产业发展打下基础。今年年初，中国LoRa应用联盟（CLAA）的成立，让零散的LoRa应用向统一化、标准化、规模化的方向发展，形成推动LoRa在国内发展的最大力量。由于LoRa的发展尚处于初级阶段，就Semtech本身的产品线来说，LoRa相关产品在中国市场所占比例还比较少，但是，随着物联网产业的不断发展成熟，中国市场将达到形成万亿级的规模，LoRa相关产品在中国的需求势必大幅增长。</p>
						    <p>Maheswaran先生认为，对于Semtech来说，未来中国市场的LoRa相关业务将是全球最大的，占据全球20%-30%的份额。</p>
						    <p>在全球率先大范围部署、不断完善的生态系统、万亿级市场规模，在各种因素的催化下，LoRa在短短几年内成为物联网领域的热点，Maheswaran先生相信，未来三年中，LoRa将成为物联网领域的事实标准。一直以来，物联网标准不完善是人们公认的物联网发展壁垒，在高度市场化的环境下，强制性的标准并不一定能广泛普及，市场会最终做出选择。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
