<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>悄然发展的物联网技术LoRa 超远距离无线通信解决方案</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">悄然发展的物联网技术LoRa 超远距离无线通信解决方案</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>联网已成为物联网应用发展的内在需求，无线连接技术也不再满足于近距离通信，正在向着距离更远覆盖更广的方向发展，于是低功耗广域网(LPWAN)应运而生。LoRa作为低功耗广域网(LPWAN)中的一种无线技术，相对于其他无线技术(如Sigfox、NB-IOT等)，LoRa产业链较为成熟、商业化应用较早，这使得LoRa方案（终端+网关）成为物联网大规模推广应用的一种理想的技术选择。</p>
							<p>LoRa是物理层或无线调制用于建立长距离通信链路。许多传统的无线系统使用频移键控FSK调制作为物理层，因为它是一种实现低功耗的非常有效的调制。LoRa是基于线性调频扩频调制，它保持了像FSK调制相同的低功耗特性，但明显地增加了通信距离。线性扩频已在军事和空间通信领域使用了数十年，由于其可以实现长通信距离和干扰的鲁棒性，于是首先实现了商业化。</p>
							<div class="newsDetailsTitle_2">
								LoRa与LoRaWAN
							</div>
							<p>LoRa的优势在于技术方面的长距离能力。单个网关或基站可以覆盖整个城市或数百平方公里范围。在一个给定的位置，距离在很大程度上取决于环境或障碍物，但LoRa和LoRaWAN有一个链路预算优于其他任何标准化的通信技术。链路预算，通常用分贝（dB为单位）表示，是在给定的环境中决定距离的主要因素。</p>
							<p>LoRaWAN定义了网络的通讯协议和系统架构，而LoRa物理层能够使长距离通讯链路成为可能。LoRaWAN自下而上设计，为电池寿命、容量、距离和成本而优化了LPWAN（低功耗广域网）。对于不同地区给出了一个LoRaWAN规范概要，以及在LPWAN空间竞争的不同技术的高级比较。在LoRaWAN网络中的节点是异步的通信的，当其要发送的数据准备好的时候通信，无论是事件驱动还是时间调度。在网状网络或同步网络，如蜂窝，节点必须经常唤醒以同步网络，并检查消息。这个同步明显消耗能量，是减少电池寿命第一推手。在最近一项研究中，GSMA对不同解决LPWAN空间的技术进行了比较，LoRaWAN比其他技术选择有3到5倍的优势。</p>
							<div class="newsDetailsTitle_2">
								LoRa的特性
							</div>
							<p>LoRa作为一种无线技术，基于Sub-GHz的频段使其更易以较低功耗远距离通信，可以使用电池供电或者其他能量收集的方式供电。较低的数据速率也延长了电池寿命和增加了网络的容量。LoRa信号对建筑的穿透力也很强。LoRa的这些技术特点更适合于低成本大规模的物联网部署。图中关键数据是其接受灵敏度，接收距离可以达到15公里，10mA接收电流，睡眠电流<200m。</p>
							<div class="newsDetailsImg">
								<img src="../img/newsVocationDetails09.png"/>
							</div>
							<div class="newsDetailsTitle_2">
								LoRa的网络容量
							</div>
							<p>为了使远距离星型网络能够实现，网关必须具有非常高的容量或性能，从大量的节点接收消息。高网络容量利用自适应的数据速率和网关中的多通道多调制收发器实现，因此可以在多信道上同时接受消息。影响容量的关键因素是并发通道数、数据速率（空中时间）、负载长度以及节点如何经常发送数据。因为LoRa是基于扩频调制，当使用不同扩频因子时，信号实际上是彼此正交。当扩频因子的发生变化，有效的数据速率也会发生变化。网关利用了这个特性，能够在同一时间相同信道上接受多个不同的数据速率。</p>
							<div class="newsDetailsImg">
								<img src="../img/newsVocationDetails10.png"/>
							</div>
							<p>如果一个节点有一个好的连接并靠近网关，它没有理由总是使用最低的数据速率，填满可用的频谱比它需要的时间更长。数据传输速率越高，在空气中的时间就越短，可以为其他要传送数据的节点开放更多的潜在空间。自适应数据速率也优化了节点的电池寿命。为使自适应的数据速率工作，对称的上行链路和下行链路要求有足够的下行链路容量。这些特点使得LoRaWAN有非常高的容量，网络更具有可扩展性。用最少量的基础设施可以部署网络，当需要容量时，可以添加更多网关，变换数据速率，减少串音次数，可扩展6~8倍网络容量。其他LPWAN技术没有LoRaWAN的可扩展性，缘于技术上的权衡，其限制了下行链路的容量，使下行链路距离与上行链路距离不对称。</p>
						    <div class="newsDetailsTitle_2">
								LoRa的落地
							</div>
							<p>LPWA又可分为两类：一类是工作于未授权频谱的LoRa、SigFox等技术；另一类是工作于授权频谱下，3GPP支持的2/3/4G蜂窝通信技术，比如EC-GSM、LTE Cat-m、NB-IoT等。韩国已经实现99%人群覆盖的LoRa部署，而中国还处在起步阶段，尚无成熟的网络铺开，许多巨头如中国移动、中兴等都在力推LoRa，但是在中国还有一个广域网通信技术声音，就是中国移动和华为等力推的NB-IoT，但两种技术都处在战略布局阶段，其他的技术多处在观望阶段。用LoRa技术做智能家居做智慧小区的企业也都尚处在实验阶段，但LoRa的测试口碑度不错，低功耗且稳定性很高，所以LoRa还是值得研究与推广的，并不是“瞎把势”。</p>
							<div class="newsDetailsImg">
								<img src="../img/newsVocationDetails11.png"/>
							</div>
							 <div class="newsDetailsTitle_2">
								LoRa 、Wi-Fi 、BLE
							</div>
							<p>LoRa替代Wi-Fi或3/4G的角度来说，其技术本身对个体的流量带宽的承载太小。而跟BLE相比，在近场通讯控制民用市场难以匹敌，所以在智能家居的许多方面几乎不可能替代BLE。LoRa想进入智能家居领域，要面对ZigBee、蓝牙、Wi-Fi作为接入接口的优势，LoRa要吞噬已有的智能家居无线市场份额，如果背后没有强大的智能家居厂商推动，也难以布局成功，况且，现在没有一家智能家居企业可以说自己做的很大，不过从内部消息来看，国内一些先进的智能家居企业都开始研究LoRa无线系统，如果机会成熟，在中国猛推一把的可能性也存在。</p>
						    <div class="newsDetailsTitle_2">
								LoRa定位技术
							</div>
							<p>由于LoRa使用一种特殊的扩频技术，这使得不同扩频序列的终端即使使用相同的频率同时发送也不会相互干扰。在此基础上研发的集中器/网关能够并行接收并处理多个节点的数据，大大扩展了系统容量。基于该技术的测距和定位功能将会推动它在物联网领域的大规模应用。</p>
							<div class="newsDetailsImg">
								<img src="../img/newsVocationDetails13.png"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
