<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>“废”联网让随处可见的垃圾箱也走上智能化道路</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">“废”联网让随处可见的垃圾箱走上智能化的道路</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>2016 MWC LoRa联盟展台上，有一个黄色“小罐子”，其貌不扬，却是“废”联网Enevo ONe系统的核心。</p>					
							<p>Enevo ONe系统是由一家芬兰公司开发的废物回收系统，在北美及欧洲几十个国家试用并将逐步发展起来的。</p>
							<p>在我们的生活中，垃圾箱处处可见，然而对垃圾箱的管理还处于每天轮询的管理状态。一些地广人稀的国家和地区，对垃圾箱的管理及其的耗时耗力。有时候垃圾箱满了，却得不到及时的清理，垃圾溢出。有时候清洁车大老远开来，垃圾箱里面却是空空如也。有时候烟头倒入垃圾箱，导致垃圾焚烧，恶臭难挡。</p>
							<p>所以就出现了Enevo ONe系统</p>
							<p>Enevo ONe作为一个基于超声波传感器的废物回收系统。传感器将收集到的垃圾箱和垃圾回收地的传感数据通过低功耗的LoRa网络传输到数千米外的LoRa基站，再传送到服务器。通过分析这些数据，垃圾管理者能更直观的了解辖区内各个垃圾桶的填充状态，并为清洁的车辆规划最佳的回收路线，从而节省环卫机构的运营成本。</p>						
							<div class="newsDetailsImg">
								<img src="http://olv6wm3nj.bkt.clouddn.com/17-4-10/49272665-file_1491810547424_5247.jpg"/>
							</div>
							<p>根据数据统计，通过减少不必要的垃圾回收造成的车辆燃油和人工费用，这一系统大约能帮助环卫机构减少20%-40%的运营成本。此外，Enevo ONe还能实时监控垃圾桶内的温度或异动。</p>
							<p>基础设施智能化改造作为智慧城市至关重要的一个环节，目前国内对垃圾、废物的管理及回收迟迟无法实现智能化。这主要是因为数据传输成本不够低廉，传感器不够智能。结合LoRa超低功耗超远距离的传输方式，Enevo ONe系统的超声波传感器的应用或许能为国内的 waste collection 提供一种新的思路。</p>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
