<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻中心-行业资讯</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<!--<div class="news-right-list">
						<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-8/6840475.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p>
							  <a href="newsVocationDetails20.html" class="news-right-listtitle" target="_blank">中国工业软件的自主创新之路———倪光南院士</a>
						   </p>
						   <p class="news-right-listword">
						   	物联网将使工业软件在应用和服务的规模方面，在数字化、自动化、网络化、智能化方面，以及在商业模式等方面发生重大的变革，中国工业软件界应当顺应物联网的潮流，抓住机遇，迎头赶上。
						   	<time class="news-right-botright">2017-12-10</time>
							</p>							
						</div>
					</div>-->
					<div class="news-right-bot">
						<time class="news-right-botright">2017-12-15</time>
						<a href="newsVocationDetails21.html" class="news-right-botleft" target="_blank">ParStream：物联网数据分析平台</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2017-12-10</time>
						<a href="newsVocationDetails20.html" class="news-right-botleft" target="_blank">中国工业软件的自主创新之路———倪光南院士</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2017-11-09</time>
						<a href="newsVocationDetails19.html" class="news-right-botleft" target="_blank">从BIM到CIM——城市智慧模型</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2017-09-18</time>
						<a href="newsVocationDetails18.html" class="news-right-botleft" target="_blank">当今世界智慧城市技术发展新模式BIM+CIM+GIS探讨</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2017-08-15</time>
						<a href="newsVocationDetails17.html" class="news-right-botleft" target="_blank">Predix，垂直物联网霸主GE！</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2017-07-05</time>
						<a href="newsVocationDetails16.html" class="news-right-botleft" target="_blank">2017年物联网发展十大趋势</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2017-06-21</time>
						<a href="newsVocationDetails15.html" class="news-right-botleft" target="_blank">“废”联网让随处可见的垃圾箱也走上智能化道路……</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2017-05-10</time>
						<a href="newsVocationDetails14.html" class="news-right-botleft" target="_blank">2017物联网要把握的8个关键点</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2017-04-03</time>
						<a href="newsVocationDetails13.html" class="news-right-botleft" target="_blank">终结者——让LoRa来解决物联网复杂组网和超高功耗的痛点</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2017-02-27</time>
						<a href="newsVocationDetails12.html" class="news-right-botleft" target="_blank">NB-IoT&nbsp; VS&nbsp; LoRa&nbsp; 物联网长距离低功耗无线技术哪个更吊一些？</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2017-01-18</time>
						<a href="newsVocationDetails11.html" class="news-right-botleft" target="_blank">LoRa&nbsp;VS&nbsp;NB-IoT&nbsp;大盘点</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2016-12-24</time>
						<a href="newsVocationDetails1.html" class="news-right-botleft" target="_blank">NB-IoT与LoRa，谁更胜一筹占领LPWAN制高点？</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2016-11-21</time>
						<a href="newsVocationDetails7.html" class="news-right-botleft" target="_blank">互联网之后的下一个风口&nbsp; 物联网各行各业带来哪些机会?</a>
					</div>
					<div class="news-right-bot">
						<p class="news-right-botright">2016-10-22</p>
						<a href="newsVocationDetails2.html" class="news-right-botleft" target="_blank">Semtech CEO:LoRa将成为物联网领域的事实标准</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2016-10-09</time>
						<a href="newsVocationDetails5.html" class="news-right-botleft" target="_blank">科技改变生活 &nbsp;浅谈LoRa与物联网技术</a>
					</div>
					<div class="news-right-bot">
						<p class="news-right-botright">2016-09-20</p>
						<a href="newsVocationDetails3.html" class="news-right-botleft" target="_blank">共存？厮杀？混合？NB-IoT、LoRa运营商市场格局推演</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2016-09-05</time>
						<a href="newsVocationDetails6.html" class="news-right-botleft" target="_blank">LoRa与NB-IoT有何不同，哪种技术市场应用更广？</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2016-08-22</time>
						<a href="newsVocationDetails10.html" class="news-right-botleft" target="_blank">LoRa，物联网技术中的一骑绝尘</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2016-08-18</time>
						<a href="newsVocationDetails8.html" class="news-right-botleft" target="_blank">悄然发展的物联网技术LoRa &nbsp;超远距离无线通信解决方案</a>
					</div>
					<div class="news-right-bot">
						<p class="news-right-botright">2016-08-14</p>
						<a href="newsVocationDetails4.html" class="news-right-botleft" target="_blank">ZigBee、ZWave注意了：LoRa远距离、低功耗网络技术悄然发展</a>
					</div>
					<div class="news-right-bot">
						<time class="news-right-botright">2016-07-02</time>
						<a href="newsVocationDetails9.html" class="news-right-botleft" target="_blank">掀起你的盖头来：LoRa联盟解析</a>
					</div>
					
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>

