<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>NB-IoT&nbsp; VS&nbsp; LoRa&nbsp; 物联网长距离低功耗无线技术哪个更吊一些？</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">NB-IoT&nbsp; VS&nbsp; LoRa&nbsp; 物联网长距离低功耗无线技术哪个更吊一些？</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>Narrowband IoT (NB-IoT 或者称为LTE-M2) 是华为与沃达丰共同主导的应用于Low Power Wide Area (LPWA)的组网技术，NB-IoT是工作于授权频谱下，并受3GPP支持的2 /3/4G蜂窝通信技术。</p>
							<p>由SemTech研发的LoRa是基于Sub-GHz,工作于未授权频谱，他们同属于低功耗广域网组网应用范畴。</p>
							<div class="newsDetailsImg">
								<img src="../img/newsVocationDetails15.png"/>
							</div>
							<div class="newsDetailsTitle_2">
								 NB-IoT技术具备四大优势：
							</div>
							<div class="newsDetailsTitle_3">
								 一是覆盖广，NB-IoT的覆盖范围比传统的GSM网络要好20个db。如果按照覆盖范围计算，一个基站可以提供10倍的覆盖范围。
							</div>
							<div class="newsDetailsTitle_3">
								 二是能支持海量连接，200KHz频率下，借助NB-IoT一个基站可以提供10万个连接。
							</div>
							<div class="newsDetailsTitle_3">
								 三是低功耗，NB-IoT通讯模组电池可以十年独立工作，而不需要充电。
							</div>
							<div class="newsDetailsTitle_3">
								 四是低成本，NB-IoT模组的成目标小于5美金。
							</div>
							<p>LoRa的主要技术特点是能够进行1-20km的长距离传输，城市里，无线距离范围在1~2公里，郊区或空旷地区，无线距离最高可达20km。节点数可达万级甚至百万级，一个网关可以连接多少个节点或终端设备。数据速率范围0.3~50kbps，较低的数据速率可以使电池寿命达到3-10年。</p>
						   <p>因此，如果从技术上进行对比，很难说哪一个技术具备绝对的优势，两者之间最大的差别在于是否工作于授权频谱，产品生态联盟及应用场景</p>
						   <div class="newsDetailsTitle_2">
							授权频谱方面
							</div>
							<p>如果使用NB-IoT技术的物联网应用，那就要受制于电信运营商的网络覆盖啦，就像现在的GPRS数据传输模块或者LTE的物联网终端，如果你的物联网应用处于偏远的郊外或者山区，没有部署有支持NB-IOT的基站覆盖的，那基于NB-IOT的物联网接入将无法成功实施。</p>
							<p>而LoRa工作于未授权的Sub-GHZ频道，我们可以使用SemTech的LoRa模块及LoRa网关来自行组网，无需依赖移动网络的基站信号覆盖，也无需支付给运营商们网络流量使用费。虽然LoRa工作在未授权频谱，信道有可能会被其他的无线通信应用所干扰，但LoRa技术基于线性Chirp扩频调制，其技术已经在在军事和航天通信方面应用了几十年，我们大可不必太过担心LoRa抗干扰的能力。</p>
							<p>在软件领域，IBM作为LoRa联盟的核心创始成员，在LoRa技术上已投入多年，为LoRa商用化提供强大基础研究、软件、云计算、大数据的支撑；另外，如Stream、Insigma等软件类企业也在细分领域以软件能力加速LoRa商用化。</p>
							<div class="newsDetailsTitle_2">
								产品生态联盟
							</div>
							<p>LoRa作为商用化较早的LPWAN技术，其已在国内外得到广泛应用，其产业链已形成LoRa联盟- LoRa Alliance 官网：www.lora-alliance.org，由业内领先厂商发起，目的在是将低功耗广域网络推向全球，以实现物联网、M2M、智慧城市的应用的一个开放的、非盈利性组织。</p>
							<p>相比之下，NB-IoT由于受3GPP的支持，有华为以及电信运营商的力挺，其前景还是非常值得看好的。华为作为NB-IoT的主导者，提供端到端的解决方案，包括基站、核心网、芯片、操作系统以及数据管理平台。除华为海思外，爱立信、高通都在积极研发生产该类芯片，很多芯片原厂和模块厂家也计划于今年支持NB-IoT。</p>
							<p>运营商方面，中国移动曾宣称将于2017年实现NB-IoT的商用。联通也计划今年在超过5个城市启动NB-IoT外场规模组网试验及业务示范，今年底明年初推进重点城市的NB-IoT商用部署，2018年全面商用。国内主流运营商开始设计NB-IoT的时间表，而国外运营商对此热情更高，沃达丰、德国电信、阿联酋电信、意大利电信、AT&T等全球顶尖运营商都围绕NB-IoT发布了各自的发展方略以及展开实验局。</p>
							<div class="newsDetailsTitle_2">
								物联网LPWA组网应用没有银弹
							</div>
							<p>老wu觉得，物联网LPWA组网应用没有银弹可以解决所有问题，不论是NB-IoT还是LoRa，都没法解决掉所有的LPWA组网应用场景，他们既是竞争关系又是互补关系。</p>
							<p class="foot-state">本文转载自吴川斌的博客 <a href="http://www.mr-wu.cn/" target="_blank">http://www.mr-wu.cn/</a> </p>
							<p class="foot-state">原文链接地址:  <a href="http://www.mr-wu.cn/nb-iot-vs-lora/" target="_blank">http://www.mr-wu.cn/nb-iot-vs-lora/</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
