<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻中心-公司动态</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newscenter.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newscenter.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html" target="_blank">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html" target="_blank">行业资讯</a></p>
				</div>
				<div class="news-right">
					<div class="news-right-list">
						<img src="http://olv6wm3nj.bkt.clouddn.com/18-3-11/1917873.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  我司对习水招募的系统运营人员进行集体培训 
						   </p>
						   <p class="news-right-listword" style="height: 178px;">为顺利高效运行习水智慧城管系统，我司对习水县城镇管理局招募50名巡查人员 7名指挥中心办公人员进行了系统使用运行培训。</p>
						   <p class="newsTime" style="margin-top: 5px;">
						   	 2018-03-09
						   </p>						   
						</div>
					</div>
				    <hr class="hr"/>
					<div class="news-right-list">
						<!-- <img src="http://olv6wm3nj.bkt.clouddn.com/17-5-31/40202140.jpg" class="news-right-listimg"/> -->
						<div class="news-right-listContent" style="margin-left:30px">
						   <p class="news-right-listtitle">
							  我司中标阿鲁科尔沁旗城镇管理局信息系统集成实施服务项目
						   </p>
						   <p class="news-right-listword" style="height: 178px;">2018年02月12日，我司中标阿鲁科尔沁旗城镇管理局信息系统集成实施服务项目</p>
						   <p class="newsTime" style="margin-top: 5px;">
						   	 2018-02-12
						   </p>						   
						</div>
					</div>
				    <hr class="hr"/>
					<div class="news-right-list">
						<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-14/67459421.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  <a href="newsCompanyDetail4.html" class="myLink">公司获得高新技术企业认证资格</a>
						   </p>
						   <p class="news-right-listword" style="height: 178px;">2017年12月12日，贵州泛联信息技术公司获得高新技术企业认证资格。</p>
						   <p class="newsTime" style="margin-top: 5px;">
						   	 2017-12-12
						   </p>						   
						</div>
					</div>
					<hr class="hr"/>
					<div class="news-right-list">
						<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-8/56564077.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  <a href="newsCompanyDetail4.html" class="myLink">周洪波博士做客中央电视台《市场分析室》节目</a>
						   </p>
						   <p class="news-right-listword" style="height: 178px;">12月7日，CCTV财经频道《市场分析室》节目邀请我公司董事长周洪波博士做为特别嘉宾，解读智慧城市。</p>
						   <p class="newsTime" style="margin-top: 5px;">
						   	 2017-12-07
						   </p>						   
						</div>
					</div>
					<hr class="hr"/>
					<div class="news-right-list">
						<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-8/24678270.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  <a href="newsCompanyDetail3.html" class="myLink">东土科技全球首创Intewell工业互联网黑科技首发亮相</a>
						   </p>
						   <p class="news-right-listword" style="height: 178px;">12月5日，在浙江乌镇召开的世界互联网大会产品发布环节，代表中国智能制造新技术成就的“Intewell工业互联网操作系统/云平台”首次亮相，引爆众多媒体和企业家的眼球，该系统由东土科技股份有限公司发布。</p>
						   <p class="newsTime" style="margin-top: 5px;">
						   	 2017-12-05
						   </p>						   
						</div>
					</div>
				    <hr class="hr"/>
					<div class="news-right-list">
						<img src="http://olv6wm3nj.bkt.clouddn.com/17-9-8/14939308.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  <a href="newsCompanyDetail1.html" class="myLink">习水县领导调研我公司承建的智慧城管建设工作</a>
						   </p>
						   <p class="news-right-listword" style="height: 178px;">今天上午，习水县委副书记、县长陈钊，人大常委会主任陈永清率队到县智慧城管指挥中心，就习水智慧城管系统运行情况进行调研，看完我公司工作人员演示过后，习水县领导对我公司智慧城市管理系统做出高度评价。</p>
						   <p class="newsTime" style="margin-top: 5px;">
						   	 2017-09-06
						   </p>						   
						</div>
					</div>
				    <hr class="hr"/>
				    
					<div class="news-right-list">
						<img src="http://olv6wm3nj.bkt.clouddn.com/17-9-8/40896853.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  <a href="newsCompanyDetail2.html" class="myLink">智慧物联，起帆远航</a>			 
						   </p>
						   <p class="news-right-listword" style="height: 178px;">
						   	2017年6月7日-9日，由中国市政工程协会在上海新国际博览中心主办的“2017中国国际地下综合管廊产业展览会”顺利举行，泛联信息有幸参加了此次展览会，获得热烈反响收获满满。
						   </p>
						   <p class="newsTime" style="margin-top: 5px;">
						   	 2017-06-10
						   </p>						   
						</div>
					</div>
				    <hr class="hr"/>
				    
					<div class="news-right-list">
						<img src="http://olv6wm3nj.bkt.clouddn.com/17-5-31/40202140.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  周洪波博士被评审为贵州省“百人领军人才”
						   </p>
						   <p class="news-right-listword" style="height: 178px;">据贵州省人社厅评审，周洪波博士被认定为“百人领军人才”。贵州泛联信息技术有限公司创办人周洪波博士系国内大数据、云计算、物联网领域的专家和高端创新创业人才,曾在IBM、甲骨文BEA等国内外知名企业担任过高管等重要职务,其主持开发的“UbiLink”项目主攻物联网与大数据业务,已获得两项软件著作权,且项目获得了中软银、TCL、TRS等机构的投资。</p>
						   <p class="newsTime" style="margin-top: 5px;">
						   	 2017-05-23
						   </p>						   
						</div>
					</div>
				    <hr class="hr"/>
					<div class="news-right-list">
						<img src="http://olv6wm3nj.bkt.clouddn.com/17-9-8/58050953.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  semtech公司杨柳总监来我公司参观指导
						   </p>
						   <p class="news-right-listword" style="height: 178px;">应公司董事长周洪波博士的邀请，Semtech公司技术总监杨柳博士及Semtech公司北京代表处一行四人来我公司进行参观指导。杨柳总监就LoRa技术关键问题及行业应用状况与我公司周洪波董事长及CTO胡军进行了深入的交流和探讨，并观看了我公司基于LoRa的智慧市政、消防等行业的演示系统，对我公司的LoRa行业应用解决方案及产品给予了高度的认可，并表示未来Semtech公司会对我公司LoRa产品发展予以大力支持。</p>
						   <p class="newsTime">
						   	 2017-03-01
						   </p>						   
						</div>
					</div>
					 <hr class="hr"/>
					<div class="news-right-list">
						<img src="http://olv6wm3nj.bkt.clouddn.com/17-9-8/79556953.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  公司董事长周洪波博士在阿斯利康分享物联网技术
						   </p>
						   <p class="news-right-listword"> 公司董事长周洪波博士应阿斯利康公司邀请，在中国张江总部进行"万物物联时代”主题讲座，周博士在会议上讲述了自己对世界及国内物联网发展的认识和对物联网行业未来的预测，并对听众进行了一次物联网行业最新知识的普及，讲座持续两个小时，最后，周博士就其所讲内容与在座的各位听众进行了积极的互动。</p>
						   <p class="newsTime">
						   	 2017-02-21
						   </p>						   
						</div>
					</div>
					 <hr class="hr"/>
					<!--<div class="news-right-list">
						<img src="http://p1.bpimg.com/567571/d8d93632e6005025.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  贵州市领导参观我公司贵州凯里消防项目
						   </p>
						   <p class="news-right-listword"> 我公司在贵州市无线联网消防项目受到各级领导的重视，并组织各区县相关领导实际参观考察。</p>
						   <p class="newsTime">
						   	 2017-01-05
						   </p>						   
						</div>
					</div>-->
					<div class="news-right-list">
						<img src="../img/companyNews05.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  公司获北京东土科技股份有限公司2000万合作投资
						   </p>
						   <p class="news-right-listword">2016年7月27日，工业互联网业界楚翘北京东土科技股份有限公司与公司联合成立北京东土泛联信息有限公司，目标为共同打造出国际领先的统一KyLink工业互联网全景集成平台，为工业互联网贡献一己之力。</p>
						   <p class="newsTime">
						   	 2016-07-27
						   </p>						   
						</div>
					</div>
					 <hr class="hr"/>
					 <div class="news-right-list">
						<img src="http://olv6wm3nj.bkt.clouddn.com/17-12-14/36000876.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  公司加入国际Lora Alliance联盟
						   </p>
						   <p class="news-right-listword">2016年7月8日，贵州泛联信息技术有限公司正式加入国际Lora Alliance联盟。</p>
						   <p class="newsTime">
						   	 2016-07-08
						   </p>						   
						</div>
					</div>
					 <hr class="hr"/>
					<div class="news-right-list">
						<img src="../img/companyNews04.png" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							   公司总经理周洪波博士应邀参加2016数博会
						   </p>
						   <p class="news-right-listword">2016中国大数据产业峰会暨中国电子商务创新发展峰会（以下简称数博会）于5月25日上午在贵阳国际生态会议中心举行。本届数博会邀请全球大数据领域顶尖企业、专家学者、业界翘楚共赴数谷贵阳，公司总经理周洪波博士作为业界专家应邀参加了此次数博会，与群雄一起再聚2016数博会，共享全球顶尖技术盛筵。</p>
						   <p class="newsTime">
						   	 2016-05-25
						   </p>
						</div>
					</div>
					 <hr class="hr"/>
					<div class="news-right-list">
						<img src="../img/companyNews03.png" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							  公司里程碑产品发布
						   </p>
						  
						   <p class="news-right-listword">2016年3月18日，经过数月研发，公司里程碑产品发布，共包含窨井盖防盗报警器、小型智能LoRa网关、便携式LoRa定位终端等。</p>
						   <p class="newsTime">
						   	 2016-03-18
						   </p>
						</div>
					</div>
					 <hr class="hr"/>
					<div class="news-right-list">
						<img src="../img/companyNews02.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle">
							 公司喜获风险投资
						   </p>
						   <p class="news-right-listword">2015年12月25日，贵州泛联信息技术有限公司获得软银中国和旗下起点创投领投的风险投资，专注物联网大数据业务。公司主要业务分两个板块和业务实体：LPWAN云平台和硬件产品销售和服务；工业互联网可视化软件平台和硬件网关产品销售和服务。</p>
						   <p class="newsTime">
						   	 2015-12-25
						   </p>
						   
						</div>
					</div>
					 <hr class="hr"/>
					<div class="news-right-list">
						<img src="../img/companyNews01.jpg" class="news-right-listimg"/>
						<div class="news-right-listContent">
						   <p class="news-right-listtitle"> 
							  公司中标智慧城管项目
						   </p>
						   <p class="news-right-listword">2015年11月，公司中标某智慧城管项目，中标金额500余万。该项目为软硬件集成项目，基于新兴的LPWAN低功耗窄带通讯技术（NB-IoT、LoRa、SigFox，Ingenu，WavIoT，IoTera等）解决传统移动营运商提供的GPRS/GSM/CDMA等通讯服务终端耗电量大等问题，从而实施创新技术模式的智慧城市管理建设。</p>
						   <p class="newsTime">
						   	 2015-11-16
						   </p>
						   
						</div>
					</div>				
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有  </p>
			</div>
		</div>
	</body>
</html>

