<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>终结者——让LoRa来解决物联网复杂组网和超高功耗的痛点</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">终结者——让LoRa来解决物联网复杂组网和超高功耗的痛点</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>物联网世界网讯：物联网在中国已经发展了多年，无论是智能工业、车联网、智能家居、可穿戴设备等都面临全面爆发的趋势。物联网有三个关键要素：感知、互联、智能，物联网在感知和智能要素方面已有新的进展，而在另一关键要素互联上，却依然依赖适用于互联网和移动互联网的网络连接方式，如3G、4G、WIFI、蓝牙等，即使是面向物与物相联的Zigbee网络也还是不适应物联网对连接的需求，所以互联已成为制约物联网大规模普及的因素。以Lora为代表的低功耗、远距离网络技术的出现，有机会打破物联网在互联方面的瓶颈。</p>
							<p>为什么原有连接方式不适合物联网?物联网在互联上的痛点有哪些?Lora技术是否能解决这些痛点?笔者进入物联网领域三年，参与过和听到过很多关于WIFI、蓝牙、Zigbee、蜂窝网络等作为物联网未来通讯协议的讨论，最终认为其实真正决定通讯协议的是用户。</p>
							<div class="newsDetailsTitle_2">
								 组网的便捷性是用户最大的需求
							</div>
							<p>在互联网时代，联网的设备主要是手机、平板、电脑等设备，人均设备数量较少，每人仅需对几个设备做配置即可。但是未来物联网设备连接的数量会远远大于互联网的联机设备数量，人均设备数量大大增加，每人可能需要对超过10个设备的连接进行配置，配置工作量大大增加。这时用户一定会选择最便捷配置的连接方式，当然设备若可自动组网、自行连接，无需用户配置是最好的。</p>
							<p>从国内物联网的发展历程来看，其实是用户配置的便捷性帮助企业选择了网络连接方式。比如智能家居领域，目前智能单品最普及的通讯方式是WIFI协议(智能家居整体解决方案还是以有线协议为主)。为什么WIFI协议能够暂时领先于其他协议?究其原因主要有两个：一个是路由器普及率较高，用户无需再组网即可使用;另一个现在WIFI协议的配置相对简单。</p>
							<div class="newsDetailsImg">
								<img src="http://p1.bpimg.com/567571/aff85d95aef0bd62.jpg"/>
							</div>
							<p>杭州古北电子公司是智能家居领域最有代表性的企业，其品牌是Broadlink。这家企业利用一款智能插座树立起智能单品的品牌，在获得京东、360的投资后，借助互联网企业的影响力，与很多家电企业、互联网云公司、渠道、智能硬件伙伴建立了Broadlink DNA生态圈，成为智能家居领域最有潜力的公司之一。挖掘其成功的最根本原因，古北的创始人最早推行智能设备一键无线配置，其推出的智能插座、万能遥控器都是使用了这个一键无线配置方案。</p>
							<p>值得一提的是，杭州古北电子的WIFI模块具有技术竞争力，但在国内WIFI模块技术优秀企业有好几家，为什么古北走在了前面?笔者认为设备使用的便捷性起了决定性的作用。当然WIFI 协议这种便捷配置，WIFI路由器的普及是关键。</p>
							<p>所以说设备组网、配置的便捷性对物联网的普及影响巨大，从用户角度出发，能否实现便捷组网也是决定未来物联网通讯协议的关键。</p>
							<div class="newsDetailsTitle_2">
								 设备能耗也是用户一大痛点
							</div>
							<p>未来物联网的连接设备数量巨大，由于环境影响，很多设备是不方便通过有线连接的，也就是说没有有线电源供给，只能使用电池供电。但对于使用电池的设备，若频繁地更换电池会增加用户很多工作量。</p>
							<p>正如前文所述，在智能家居领域，由于WIFI配置的便捷性，智能单品使用WIFI通讯协议的产品比例最大，不过WIFI通讯的高功耗也是无可置疑的。因此，目前很多做WIFI通讯方案的企业都想办法解决功耗的问题。</p>
							<p>举例来说，深圳银河风云网络系统股份有限公司曾推出一款产品空调伴侣悟空i8，是京东众筹第5个超过千万的产品，并且是第一个单品价格不足100元但众筹过千万的产品。该产品使用的是银河风云自己的WIFi模块。而银河风云为了降低WIFI模块的功耗，在模块的设计上花了很大的精力：通过快速连接的功能实现功耗降低，即保证设备在1秒钟可以快速建立WIFI连接，银河风云产品之间通讯使用功耗非常低的通讯方式，当无数据传输时，WIFI模块处于休眠状态，但一旦需要连接网络时，即可快速通过WIFI模块建立连接，只要连接时间低于用户忍受范围，用户觉察不出这些差异，但却能帮助用户降低WIFI功耗。</p>
							<p>银河风云为什么要花这么大精力，增加这么复杂的功能?其核心是功耗高是用户的一大痛点，而银河风云期望帮助用户降低功耗来解决这一痛点。</p>
							<p>还有一个案例，汉威电子的远程抄表解决方案在行业内应用非常广泛，核心竞争力在与其远程抄表的功耗低。在无电源的环境下，其远程抄表产品使用电池可以使用一年以上。</p>
							<p>其实汉威解决方案也是使用3G网络通讯，但一般企业使用3G网络，都解决不了一块电池使用一年的难题。为什么汉威电子可以实现?道理很简单，因为远程抄表无需实时连接，其数据传输频率非常低，而保持3G实时通讯会浪费很多能源。汉威的设计是每天抄表的时候建立连接，传输数据，之后就把通讯功能停掉，这样大大降低了功耗。</p>
							<p>无论银河风云、还是汉威电子，他们的解决方案都是在不适合于物联网的网络环境下，花了很大精力解决了低功耗的问题。对于那些仅需小数据量传输、低功耗但长距离传输的联网设备，若有针对性的网络标准或协议，则企业就无需花太多精力解决功耗问题。</p>
						   <div class="newsDetailsTitle_2">
							用户需求传导：组网方便且功耗低的网络将是物联网通讯最佳选择
							</div>
							<p>目前，通信领域最为炙手可热的是4G网络的商用和5G的研发，在追求高宽带、大容量网络的同时，也有一些企业从用户需求传导中看到适用于物联网的网络标准和协议的需求，进行卓有成效的研发。在已成熟的专用于物联网的网络标准中，LoRa是一个典型的代表。笔者最近拜访了一家LoRa模块企业，从中学习了LoRa的一些特点，发现LoRa能够非常有效地解决了物联网设备组网便捷性和功耗的痛点，且能够实现远距离传输。</p>
							<p>LoRa采用星型网络架构，与网状网络架构相比，它是具有最低延迟的最简单的网络结构。基于LoRa的扩频芯片，可以实现节点与集中器直接组网连接，构成星形;对于远距离的结点，可使用网关设备进行中继组网连接。LoRa网络供应商既可以搭建覆盖范围较广的广域网基础设施，也可以通过简单的网关设备搭建局域网，只要物联网设备中嵌入LoRa芯片或模块，即可快速实现组网和快速配置。广域网和局域网两种环境中均可实现便捷组网，在与以自组网见长的ZigBee协议比较，具有明显的优势。</p>
							<p>低功耗无疑是LoRa网络技术的最大特点，LoRa使用扩频调制技术，可解调低于20 dB的噪声，这确保了高灵敏度和可靠的网络连接，而使用不同的扩频因子就可以改变扩频系统的传输速率，且可变的扩频因子提高了整个网络的系统容量，因为采用不同扩频因子的信号可以在一个信道中共存。与传统采用固定速率的FSK系统相比，LoRa协议的星形拓扑结构消除了同步开销和跳数，因而降低了功耗，一般来说95%的节点只占用10%的总能耗。</p>
							<p>在实际应用中，采用LoRa协议的物联网设备无线通信距离超过15公里(郊区环境)，电池使用寿命可达10年以上，并且能够将数百万的无线传感器节点与LoRa技术网关连接起来，这一优势是传统网络通讯标准无法达到的。</p>
							<p>目前，采用LoRa技术的物联网络已开始商用，将各类电池供电的设备连接起来。在用户需求的推动下，可以预测，类似LoRa的网络也将成为物联网领域的下一个风口，切实有效地解决物联网设备“互联”方面的痛点，进一步打破物联网发展的瓶颈。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
