<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>重庆出台全国首个城市精细化管理标准</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news----------- -->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">重庆出台全国首个城市精细化管理标准</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>2017年3月5日，全国“两会”期间，习近平总书记在参加上海代表团审议时强调，城市管理应该像绣花一样精细。城市精细化管理，必须适应城市发展。实施城市精细化管理，是我市贯彻落实“五大发展理念”、实施重庆“十三五”规划、提升城市形象的具体举措之一。重庆城市管理究竟怎么做？如何将城市管理和民生密切结合起来？今天起，本报开设专栏，聚焦重庆城市管理。</p>
							<p>大到一座公厕，小到一盏路灯，城市精细化管理应该怎么做？4月11日，市市政委召开新闻发布会称，《重庆市城市精细化管理标准》已于近日正式对外发布并试行。这是全国首个关于城市精细化管理的相关标准。</p>
							<p>市市政委副主任万隆表示，《重庆市城市精细化管理标准》是一份全面的城市精细化管理操作指南，涵盖了城市管理涉及的市容环境卫生、市政设施、灯饰照明、城市供排水、城市户外广告、城管执法、智慧城市等九个方面。比如，要求繁华地段公厕全天候开放，主干道废弃物残留每平方米不超过3克。</p>
							<p>重庆理工大学管理学院院长徐刚参与了标准的编制和审定工作。他说，《重庆市城市精细化管理标准》最大的亮点之一，就是将城市管理的全过程进行了精细化设计，每项管理内容的管理目标、标准、流程过程、分工、职责、奖惩、信息公开等都有明确要求。标准一方面约束了管理者与服务者的行为，另一方面也规范了被服务者与公众的行为。</p>
							<p>“城市精细化管理的总体目标是让人民群众在城市生活得更方便、更舒心、更美好，让城市成为人民追求美好生活的有力依托。”市市政委总工程师张建华介绍，到2017年年底，都市功能核心区和拓展区将全面实现城市精细化管理，城市发展新区推进城市精细化管理，渝东南环境保护发展区和渝东北生态涵养区迈向城市精细化管理。</p>
							<p>2017年年底前，主城区将建成100条精细化管理示范街、路。到2020年，重庆全域将实现城市精细化管理，并逐步延伸至乡镇，打造特色鲜明、环境优美、功能完善、秩序井然、宜人宜居的“美丽山水城市”。</p>
							<p>精细化管理 将给城市带来哪些改变</p>
							<p>城市精细化管理究竟有哪些标准？市民的生活又会发生哪些改变？记者从《重庆市城市精细化管理标准》中梳理出一些与市民生活密切相关的内容。</p>
							<p>停车：公共停车场不得擅自停用 要明码标价</p>
							<p>《标准》特别制定了停车管理精细化标准：公共停车场、建筑物配建停车场不得擅自停止使用或改变用途。停车场按规定实行明码标价，在收费区域显著位置公示收费项目、收费标准、举报投诉电话等。收费人员应出具相关票据。</p>
							<p>清扫保洁：主干道每平方米废弃物残留量不超过3克</p>
							<p>清扫干净的道路应该是什么样子？《标准》明确要求：保洁区域内无暴露垃圾卫生死角，无垃圾收集容器满溢、无积水、无污垢、无地面及设施积尘积垢。主干道每平方米废弃物残留量不超过3克；次干道每平方米废弃物残留量不超过5克。主次干道的一般废弃物滞留时间不能超过10分钟。背街小巷及开放式居民小区，每一千平方米，果皮等垃圾不能超过4片；实行物业管理的居民小区，每一千平方米，果皮等垃圾不能超过2片。环境卫生主管部门在接到群众投诉后，应在2小时内做出响应，并在12-48小时内完成整改。</p>
							<p>公共厕所：商业繁华地段公厕全天候开放</p>
							<p>公共厕所一天开放多长时间？《标准》规定：辖区内商业繁华地段的公厕实行全天候开放；一、二级道路公厕，春冬季每日宜6：30-23：00，夏秋季每日宜6：00-24：00；三、四级道路公厕每天开放时间不宜低于14小时。公共场所配设的公厕，其开放时间应与公共场所的开放时间同步。公厕应实行专人专管，每天至少进行一次全面冲洗。</p>
							<p>行政执法：执法前要先敬礼用语有规范</p>
							<p>《标准》要求，市政管理行政执法一般要有两名以上执法人员按照“一敬礼、二亮证、三劝导”的程序，坚持处罚与教育相结合，需进入行政处罚或行政强制程序的，应保护当事人合法权益。标准还对执法人员的用语进行了规范，十项用语规范中，出现了多次“你好”、“请”、“谢谢”等词语。首席记者 刘波</p>
							<p>城市管理 细节决定成败</p>
							<p>细节决定成败，城市管理也是这个理。人们对于城市的体验感，主要也是来自细节。比如一条绿化带，一盏路灯，一个城市地标，一条干净整洁的背街小巷，都可能给人留下美好印象，甚至对这个城市产生深厚感情。</p>
							<p>当然城市管理的细节还有很多，比如这个城市的建筑风格、绿化环境、配套设施、人文风貌、市民素养、服务水平等等，都是精细化管理的范畴。要搞好城市精细化管理，应当具备五个意识：</p>
							<p>改革意识。简单粗暴的管理方式已远远不能满足当下城市发展的需要。必须有改革的意识、革故鼎新的勇气、创新管理的方法，才能适应新的形势。</p>
							<p>整体意识。城市管理绝不简单等同于市容管理、摊贩管理、垃圾管理，还应该包含城市规划管理、城市建设管理、城市运行管理等。</p>
							<p>服务意识。城市对于市民而言，最大的特点就是方便，所以城市精细化管理的所有环节，都应当充分考虑是否方便群众，不能摆花架子，既要好看还要中用。</p>
							<p>科学意识。城市精细化管理，必须大幅度提高运营管理的专业能力和科技含量，通过科学手段，解决好发展与环境的冲突，经济与生态的冲突，私人利益和公共空间的冲突。</p>
							<p>互动意识。城市精细化管理绝不是政府唱独角戏，要充分调动市民的积极性和参与性，尤其在提升城市的文明素养方面，应该充分互动才有效果。</p>
							<p>城市管理必然从粗放型向精细化方向转变，这是城市管理的基本规律，也是基本趋势，希望我们的城市更美好！</p>
							<p>转载自：<a href="http://3g.163.com/news/17/0413/01/CHS7643E00018AOP.html" target="_blank" >http://3g.163.com/news/17/0413/01/CHS7643E00018AOP.html</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
