<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>2017物联网要把握的8个关键点</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/newsvocation.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/newsvocation.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------news------------->
		<div class="newsout">
			<div class="newscontent">
				<div class="news-left">
					<p class="news-left1"><a href="newscenter.html">公司动态</a></p>
					<p class="news-left2"><a href="newsvocation.html">行业资讯</a></p>
				</div>
				<div class="news-right">
					<h3 class="newsDetailsTitle">2017物联网要把握的8个关键点</h3>
					<div class="newsDetails">
						<div class="newsDetailsContent">
							<p>2016，是物联网发展十分重要的一年，特别是Nb-IoT标准协议冻结，商用在即;车联网(V2X)第一版标准化规范制定完成;软银收购ARM，开始布局物联网，一系列大事件频频发生。2017，物联网的发展势必更加纷繁复杂，或许会让我们有点雾霾的感觉，看不清，也难以把握。然而，文章中提及的这8个关键点，会有助于我们拨云见日，理清思路，把握住重点。</p>
							<div class="newsDetailsTitle_2">
								 1.规模
							</div>
							<div class="newsDetailsImg">
								<img src="http://i1.piimg.com/567571/3d3b1cbe33d7f2a2.jpg"/>
							</div>
							<p>到2020年，根据Garnter 的报告，全球将会有260亿的物联网设备;根据 IDC的报告，全球物联网市场规模将达到1.7万亿美元;根据GE的预判，中国的物联网市场体量将达到1660亿美元。</p>
							<p>数据是最直观和最有吸引力的。未来几年，物联网将成为连接设备规模近300亿，收入规模超过万亿美元的庞大产业。</p>
							<div class="newsDetailsTitle_2">
								 2. 运营商
							</div>
							<p>　运营商，一直是物联网亲密的小伙伴。物联网的发展，很难离开运营商。物联网市场是一盘大蛋糕，运营商必然希望分一块。然而，获取蛋糕的途径，却是多样化的。</p>
							<p>技术部署方面，国内运营中国移动、中国联通、中国电信、国外的沃达丰、AT&T、德国电信等运营商，都在积极部署和推广NB-IOT技术。</p>
							<p>另外，值得重点关注的是，中国民营运营商鹏博士电信传媒集团，和Semtech共同倡导成立了中国LoRa物联网产业运营联盟。</p>	
							<p>除了推进协议外，在物联网终端产品、云平台、生态圈建设、车联网等方面，各大运营商也是频频出招。</p>
							<p>另外还有一条简单而直接的途径，就是投资或者并购。运营商通过并购和投资物联网企业，加快物联网市场的收益增长。例如，Verizon 在2016年花30亿美元收购了Fleetmatics， Telogis和一些其他小公司。2017年，其他运营商也有可能追随Verizon，对于物联网企业采取并购或者投资动作。</p>
							<div class="newsDetailsTitle_2">
								 3. 低功耗广域网络
							</div>
							<div class="newsDetailsImg">
								<img src="http://p1.bpimg.com/567571/330544af0c261e6f.jpg"/>
							</div>
							<p>为了将物联网推向更大规模，当然离不开低功耗广域网。低功耗广域网络，是面向物联网中远距离和低功耗的通信需求，而出现的一种物联网网络技术。</p>
							<p>Lora、NB-IoT、Weigthless、Sigfox 都属于低功耗广域网络技术的一种。它具有传输距离远、节点功耗低、网络结构简单、运行维护成本低等优势。</p>
							<p>之前，很多媒体报道称，2016年底，会有NB-IoT的商用网络建成。但是，这些最终都成了泡影。2017年有望成为NB-IoT商用元年，我们很有希望看到第一个商用的NB-IoT 网络建成，很可能就在第一季度。</p>
							<p>NB-IoT技术，有望得到显著发展。NB-IoT技术，目前受到关注度还不高，但是，随着华为联合各大运营商的参与和推动，其影响力将显著扩大。各式各样的开发比赛、编程马拉松和竞赛活动会纷纷涌现。2017年，很有可能出现首个NB-IoT开发者套件，吸引更多开发人员参与。</p>
							<p>除了NB-IoT技术，更多的低功耗广域网络技术，在2017年将一起绽放。目前，美国的运营商，还没有准备采取NB-IoT，AT&T 和 Verizon 准备采用LTE-M 网络，另外一系列的公司正在使用LoRa。荷兰的KPN公司也准备使用LTE-M配合LoRa。2017年，LTE-M和LoRa的结合将在更多国家使用。</p>
							<p>　正如之前在运营商动作一节中所叙，更多的运营商将会构建物联网网络。除了3GPP授权的(NB-IoT 和LTE-M)以外，运营商还会采用未授权的频谱(例如LoRa)，以为它的准入门槛更低。运营商们或许在这个领域展开竞争，美国的Comcast 和中国的鹏博士都准备采用LoRa。</p>
							<div class="newsDetailsTitle_2">
								 4. 频谱资源
							</div>
							<div class="newsDetailsImg">
								<img src="http://p1.bpimg.com/567571/1d5a085ff73a0540.jpg"/>
							</div>
							<p>对于物联网或者通信系统来说，频谱资源是十分重要的。</p>
							<p>随着物联网不断发展，设备不断增加，数据量不断变大，对于频谱资源的需求也在激增。另外，一些特殊应用还需要专门的频谱资源，例如车联网。频谱资源短缺已经成为制约物联网发展的重要瓶颈。</p>
							<p>所以，科学规划频谱资源、向更高频段发展，提高频谱资源利用效率，采用逐步成熟的动态频谱分配方式，或许都是比较有效的途径。</p>
							<p>2017，我们需要更加关注频谱资源的问题。</p>
							<div class="newsDetailsTitle_2">
								 5. 安全和法规
							</div>
							<p>去年，由于“史上最严重的DDoS攻击”，半个美国的互联网陷入瘫痪。所以，物联网安全问题再次引来广泛关注。</p>
							<p>安全，是重中之重的问题。物联网技术蓬勃发展，智能设备广泛加入，大量数据通的采集和存储，这些都离不开安全作为保证。无论是软件的安装升级，还是数据的采集，传送，存储，都可能遭到骇客攻击。结果往往是数据泄露，非法控制，产生事故等等。</p>
							<p>所以，物联网安全，在2017年将会是一个十分重要的观察点。2017，我们可以从设计改进、安全事故、各大厂家的措施等等方面去继续观察。</p>
							<p>另外，针对物联网技术，制定法律和监管措施，也十分有必要。也许，新的规定不能起到立竿见影的效果，需要长期的实践来完善。但是，对于规范物联网技术发展，消除安全隐患，意义重大。</p>
							<p>2017年，我们会看到更多的物联网方面的法律和规定出台。</p>
							<div class="newsDetailsTitle_2">
								 6. 车联网
							</div>
							<div class="newsDetailsImg">
								<img src="http://p1.bqimg.com/567571/3dcb465612418f64.jpg"/>
							</div>
							<p>车联网，是物联网的一个重要分支。无人驾驶汽车和V2X技术是重点。</p>
							<p>2016年，关于无人驾驶和车联网的进展层出不穷。谷歌、特斯拉、优步和传统汽车制造商，都在利用传感器技术、高精度地图、车载雷达等手段实现自动驾驶和车联网。</p>
							<p>2017年，我们要关注的不是单个汽车上应用物联网技术，而应该是整个交通运输系统的物联网应用。通过车与车(V2V)、车与基础设施(V2I)、以及车与各种类型物体(V2X)之间的通信，达到整个交通系统的联网。</p>
							<p>2017年，我们有望看到关于车联网的更多进展。</p>
							<div class="newsDetailsTitle_2">
								 7. 5G
							</div>
							<p>物联网的发展自然离不开通信技术的进步。5G(第五代移动通信系统)，传输速度快(可达10Gbps)、延时小、可靠性高、连续广域覆盖、热点容量高、低功耗等特点，十分适合物联网的特点。2020年，5G标准有望落地。</p>
							<p>虽然，现在5G标准尚未投入使用，但是物联网公司都跃跃欲试，都在开发类似的解决方案。物联网已经成为5G的关键应用案例。也许，5G在2017年并不会成为物联网市场的引爆点，但是，作为一个十分具有价值的革命性技术，是值得我们在2017年持续关注的，因为它的影响是长期而深远的。</p>
							<div class="newsDetailsTitle_2">
								 8. 智慧地球
							</div>
							<div class="newsDetailsImg">
								<img src="http://p1.bpimg.com/567571/d521a37f99d80519.jpg"/>
							</div>
							<p>物联网将彻底改变整个人类的工作和生活方式。所以，学术界开始提出要“构建一个更有智慧的地球(Smarter Planet)”，包括智慧机场、智慧银行、智慧铁路、智慧城市、智慧电力、智慧电网、智慧能源等理念。</p>
							<p>　物联网技术，渗透进各行各业，都会带来更广泛的变革。通过超级计算机和云计算将“物联网”整合起来，实现人类社会与物理系统的整合。在此基础上，人类可以以更加精细和动态的方式管理生产和生活，从而达到“智慧”状态。</p>
							<p>　2017年，我们持续关注更多的系统，在物联网技术的渗透下，如何变得更加“智慧”。</p>
							<p class="foot-state">原文链接地址:  <a href="http://smarthome.qianjia.com/html/2017-01/03_266223.html?from=timeline&winzoom=1" target="_blank">http://smarthome.qianjia.com/html/2017-01/03_266223.html?from=timeline&winzoom=1</a></p>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-------------------------->
		<div style="width: 100%;height: 1px;margin-top: 108px;"></div>
		<hr />
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>					
			</div>
		</div> 
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
