<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>产品中心-软件</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/product.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/product.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------导航栏------------>
		<div class="nav">
			<div class="nav-out">
				<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
				<ul class="nav-ul">
					<li>
						<a href="product.html">产品中心</a>
						<span class="underline"></span>							
					</li>
					<li><a href="newscenter.html">新闻中心</a></li>
					<li><a href="wisdomCity.html">智慧城市</a></li>
					<li><a href="wisdomYard.html">智慧园区</a></li>
					<li><a href="us.html">关于我们</a></li>
				</ul>
				<div class="last-li"><span class="chain">中文</span><span class="us">English</span></div>
			</div>
		</div>
		<!--------------banner----------------->
		<div class="banner"></div>
		<!---------内容部分---------------->
		<div class="content-box">
			<div class="content-box1">
				<!----------左边--------------->
				<div class="content-left">
					<div class="content-left1-title">硬件</div>
					<ul class="content-left1-list">
						<li class="content-leftli content-leftli1">模块</li>
						<li class="content-leftli">DTU</li>
						<li class="content-leftli">基站</li>
						<li class="content-leftli">井盖</li>
						<li class="content-leftli">地磁</li>
						<li class="content-leftli">消防</li>
						<li class="content-leftli">定位</li>
					</ul>
					<span class="bg"></span>
					<div class="content-left2-title">软件</div>
					<ul class="content-left2-list">
						<li class="content-leftli">软件产品</li>
					</ul>
					<div class="content-left3-title">云平台</div>
					<ul class="content-left3-list">
						<li class="content-leftli">平台方案</li>
					</ul>
				</div>
				<!----------右边------------------>
				<div class="content-right">
					<!-----------边框比较大的一种，class后面带1的是单独的样式--------------->
					<div class="content-right-list1 content-right-list  content-isnone" >
						<p class="content-right-listtitle">硬件 &#62; LoRa模块</p>
						<div class="content-right-listbot">
							<img src="../img/mokuai.png" alt="" class="content-right-listimg1"/>
							<div class="content-right-listbotright">
								<p class="content-right-listbotright-top">LoRa模块</p>
								<div class="content-right-listbotright-bot1">
									<div class="content-p-content">
										<p class="content-right-listbotright-botp">基于LoRaTM扩频调制技术;</p>
										<p class="content-right-listbotright-botp">半双工通讯，串口数据透明传输;</p>
										<p class="content-right-listbotright-botp">420~450MHz免申请频段，其他频段可定制;</p>
										<p class="content-right-listbotright-botp">微功率发射，标准100mW，7级可调;</p>
										<p class="content-right-listbotright-botp">接收灵敏度高达-148dBm，最大发射功率+20dBm;</p>
										<p class="content-right-listbotright-botp">采用高效前向纠错编码技术和跳频机制，抗干扰能力强，低误码率;</p>
										<p class="content-right-listbotright-botp">支持串口唤醒，随时收发数据，无周期唤醒时间;</p>
										<p class="content-right-listbotright-botp">支持空中唤醒，通过模块给出AUX信号，唤醒用户设备;</p>
										<p class="content-right-listbotright-botp">CAD检测LoRaTM信号，防止误唤醒;</p>
										<p class="content-right-listbotright-botp">可通过命令切换模块的工作模式;</p>
										<p class="content-right-listbotright-botp">可以通过软件或者单片机命令灵活设置模块参数;</p>
										<p class="content-right-listbotright-botp">2.54插脚支持TTL/UART口电平信号;</p>
										<p class="content-right-listbotright-botp">内置看门狗，保证长期可靠稳定运行;</p>
										<p class="content-right-listbotright-botp">开阔地有效通讯距离可达3~5公里;</p>
									</div>					
								</div>
							</div>
						</div>
					</div>
					<div class="content-right-list">
						<p class="content-right-listtitle">硬件 &#62; DTU</p>
						<div class="content-right-listbot">
							<img src="../img/dtu.png" alt="" class="content-right-listimg"/>
							<div class="content-right-listbotright">
								<p class="content-right-listbotright-top">DTU</p>
								<div class="content-right-listbotright-bot">
									<div class="content-p-content">
										<p class="content-right-listbotright-botp">产品型号：UL-3110;</p>
										<p class="content-right-listbotright-botp">接口类型：RS485/DI/DO/AI;</p>
										<p class="content-right-listbotright-botp">工作电压：DC4~24V;</p>
										<p class="content-right-listbotright-botp">工作频段：434MHz（410~472MHz）;</p>
										<p class="content-right-listbotright-botp">无线速率：0~37.5kbps;</p>
										<p class="content-right-listbotright-botp">发射功率：100mW;</p>
										<p class="content-right-listbotright-botp">通讯距离：8KM;</p>
										<p class="content-right-listbotright-botp">连接云：基于32位高速低功耗单片机和SX1278LORA芯片，内置ModBus协议，采用扩频技术及FEC向前纠错算法，传输距离远，抗干扰能力强，适用于各种恶劣复杂的应用场合;</p>
									</div>					
								</div>
							</div>
						</div>
					</div>
					<div class="content-right-list">
						<p class="content-right-listtitle">硬件 &#62; 室外大功率LoRaWAN城市基站</p>
						<div class="content-right-listbot">
							<img src="../img/jizhan.png" alt="" class="content-right-listimg"/>
							<div class="content-right-listbotright">
								<p class="content-right-listbotright-top">室外大功率LoRaWAN城市基站</p>
								<div class="content-right-listbotright-bot">
									<div class="content-p-content">
										<p class="content-right-listbotright-botp">超远距离传输，可视通讯15Km，城市环境3~5Km;</p>
										<p class="content-right-listbotright-botp">工业级可靠性;</p>
										<p class="content-right-listbotright-botp">超强抗干扰特性;</p>
										<p class="content-right-listbotright-botp">ARM处理器，Debian Linux系统;</p>
										<p class="content-right-listbotright-botp">至多10个并行接收信道;</p>
										<p class="content-right-listbotright-botp">操作温度-40 to +75°C;</p>
									</div>					
								</div>
							</div>
						</div>
					</div>
					<div class="content-right-list">
						<p class="content-right-listtitle">硬件 &#62; LoRa窨井盖防盗报警器</p>
						<div class="content-right-listbot">
							<img src="../img/jinggai.png" alt="" class="content-right-listimg"/>
							<div class="content-right-listbotright">
								<p class="content-right-listbotright-top">LoRa窨井盖防盗报警器</p>
								<div class="content-right-listbotright-bot">
									<div class="content-p-content">
										<p class="content-right-listbotright-botp">体积小、成本低、结构简单、施工方便;</p>
										<p class="content-right-listbotright-botp">通过LORA传输报警信息;</p>
										<p class="content-right-listbotright-botp">彻底解决井盖无线屏蔽问题;</p>
										<p class="content-right-listbotright-botp">IP68密封标准，固定于井盖地面;</p>
										<p class="content-right-listbotright-botp">可在车间内完成安装，不增加现场施工成本;</p>
										<p class="content-right-listbotright-botp">一次性锂电池供电，电池更换周期两年以上;</p>
										<p class="content-right-listbotright-botp">井盖被盗报警;</p>
										<p class="content-right-listbotright-botp">电池欠压报警;</p>
										<p class="content-right-listbotright-botp">定期报告工作状态;</p>
										<p class="content-right-listbotright-botp">完全杜绝误报;</p>
										<p class="content-right-listbotright-botp">无线遥控布防或撤防;</p>
										<p class="content-right-listbotright-botp">电子地图地理信息系统监控平台;</p>
									</div>					
								</div>
							</div>
						</div>
					</div>
					<div class="content-right-list">
						<p class="content-right-listtitle">硬件 &#62; LoRa停车位地磁传感器</p>
						<div class="content-right-listbot">
							<img src="../img/dici.png" alt="" class="content-right-listimg"/>
							<div class="content-right-listbotright">
								<p class="content-right-listbotright-top">LoRa停车位地磁传感器</p>
								<div class="content-right-listbotright-bot">
									<div class="content-p-content">
										<p class="content-right-listbotright-botp">基于磁阻传感器设计;</p>
										<p class="content-right-listbotright-botp">低成本;</p>
										<p class="content-right-listbotright-botp">超低功耗;</p>
										<p class="content-right-listbotright-botp">安装简便;</p>
										<p class="content-right-listbotright-botp">自带温度补偿功能;</p>
										<p class="content-right-listbotright-botp">室内外停车场都可安装;</p>
										<p class="content-right-listbotright-botp">车辆判定准确率≧98%;</p>
									</div>					
								</div>
							</div>
						</div>
					</div>
					<div class="content-right-list">
						<p class="content-right-listtitle">硬件 &#62; 火灾报警器LoRa</p>
						<div class="content-right-listbot">
							<img src="../img/productlist1.jpg" alt="" class="content-right-listimg"/>
							<div class="content-right-listbotright">
								<p class="content-right-listbotright-top">LoRa火灾报警器</p>
								<div class="content-right-listbotright-bot">
									<div class="content-p-content">
										<p class="content-right-listbotright-botp">360度光电式探测、吸顶安装;</p>
										<p class="content-right-listbotright-botp">采用低功耗微处理器;</p>
										<p class="content-right-listbotright-botp">具有手动测试、复位功能;</p>
										<p class="content-right-listbotright-botp">独立9V 工作电流：静态：10UA动态：10-30UA;</p>
										<p class="content-right-listbotright-botp">工作环境：-10度-50度;</p>
										<p class="content-right-listbotright-botp">烟雾灵敏度：符合UL217标准，测试值百分之三点二每英尺;</p>
										<p class="content-right-listbotright-botp">报警音量：10英尺处为85分贝;</p>
										<p class="content-right-listbotright-botp">结构设计独特，防尘、防虫，抗外界光线干扰强;</p>
									</div>					
								</div>
							</div>
						</div>
					</div>
					<div class="content-right-list">
						<p class="content-right-listtitle">硬件 &#62;  LoRa微型GPS定位器</p>
						<div class="content-right-listbot">
							<img src="../img/dingwei.png" alt="" class="content-right-listimg"/>
							<div class="content-right-listbotright">
								<p class="content-right-listbotright-top"> LoRa微型GPS定位器</p>
								<div class="content-right-listbotright-bot">
									<div class="content-p-content">
										<p class="content-right-listbotright-botp">定位模组: 北斗双模;</p>
										<p class="content-right-listbotright-botp">定时追踪;</p>
										<p class="content-right-listbotright-botp">超低功耗，一次充电最长待机半年;</p>
										<p class="content-right-listbotright-botp">电子围栏报警;</p>
										<p class="content-right-listbotright-botp">GPS盲区报警;</p>
										<p class="content-right-listbotright-botp">地点报警;</p>
										<p class="content-right-listbotright-botp">LoRa盲区记忆（内置储存器）;</p>
									</div>					
								</div>
							</div>
						</div>
					</div>
					<!-----------class后面带2的是单独的样式,无背景图片--------------->
					<div class="content-right-list content-right-list2">
						<p class="content-right-listtitle">软件 &#62; 软件产品</p>
						<ul class="allProduct">
							<li><a href="wisdomCity1.html" target="_blank"><img src="../img/softProduct01.png"/></a></li>
							<li><a href="wisdomYard6.html" target="_blank"><img src="../img/softProduct03.png"/></a></li>
							<li><a href="wisdomCity4.html" target="_blank"><img src="../img/softProduct02.jpg"/></a></li>
							<li><a href="wisdomYard4.html" target="_blank"><img src="../img/softProduct04.jpg"/></a></li>
							<li><a href="wisdomCity2.html" target="_blank"><img src="../img/softProduct05.jpg"/></a></li>
							<li><a href="wisdomCity6.html" target="_blank"><img src="../img/citysystem.png"/></a></li>
						</ul>						
					</div>

					<div class="content-right-list content-right-list2">
						<p class="content-right-listtitle">云平台 &#62; 平台方案</p>
					    <div class="scheme">
					    	<img src="../img/scheme.png"/>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<!----------------合作企业---------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div>
		<!-----------页脚部分----------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
