<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>联系我们</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">		
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/us.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/us.js" type="text/javascript" charset="utf-8"></script>

	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<!----------地址address------------->
		<div class="uscontent">
			<div class="usContentInner">
				<div class="usContentInner-left">
					<p>公司介绍
						<span class="content-sp"></span>
					</p>					
					<p>董事长介绍
						<span class="content-sp"></span>										
					</p>
					<p>组织架构
						<span class="content-sp"></span>											
					</p>
					<p>知识产权
						<span class="content-sp"></span>											
					</p>
					<p>联系我们</p>
				</div>
				<div class="usContentInner-right">
					<div class="usContentInner-rightContent">
						<div class="uscontent-top">
							<p class="top-dotted"></p>
							<div style="float: left; width: 145px;height: 100%;">
								<p class="ustext">公司介绍</p>
								<p class="ustextE">Company Introduction</p>								
							</div>
							<p class="top-dotted"></p>
						</div>
						<p class="uscontenttext">
							UbiLink公司成立于2014年，总部位于贵阳国家级高新技术开发区，研发中心在北京海淀中关村国家高新技术产业开发区，是一家由软银中国（起点）、TCL、TRS等多家知名企业共同投资的从事以物联网、云计算及大数据应用为核心业务的高新技术企业。
						</p>
						<p class="uscontenttext">
							UbiLink公司主营业务定位于基于LoRa低功耗广域网（LPWAN, Low Power Wide Area Network）通讯技术和传感器模块、物联网云平台和大数据处理等多项技术，打造从感知层到应用层之间完整的面向多种物联网应用的全方位解决方案，提供城市级、区域级、企业级LPWAN物联网全覆盖技术实施方案及物联网运营支撑平台的技术服务。
						</p>
						<p class="uscontenttext">
							 UbiLink公司长期专注于智能化物联网领域的产品研发及解决方案推广，通过全系列智能化产品和云平台产品，全面满足国内外物联网通信网络、电力、工控、安防、消防、智慧市政、智慧园区等领域的客户差异化需求。
						</p>
						<p class="uscontenttext">
							 UbiLink公司和多家全球顶级的物联网公司有着深入的合作，在 LoRa，长距离无线传输、低功耗技术领域有着深入的技术积累、具有全面的解决方案和稳定的供货能力，是物联网领域首选优质合作供应商。 
						</p> 
						<p class="uscontenttext">
    							未来，UbiLink公司将致力于为全球客户提供更匹配的整体物联网产品和解决方案，并为物联网技术发展而持续创新。
						</p>
						<img src="http://olv6wm3nj.bkt.clouddn.com/17-3-6/2987062-file_1488783000588_1260a.png" alt=""  style="margin:35px 0 0 50px;"/><img src="http://olv6wm3nj.bkt.clouddn.com/17-3-6/59317697-file_1488782998547_9e4e.png" alt=""  style="margin:28px 0 0 250px;"/>
						<p style="width: 500px; margin: 20px auto; text-align: center; font-weight: 800;font-size: 15px;">参与的行业联盟：全球 LoRa 联盟、中国 CLAA 联盟</p>
					</div>
					<div class="usContentInner-rightContent">
						<div class="uscontent-top">
							<p class="top-dotted"></p>
							<div style="float: left; width: 145px;height: 100%;">
								<p class="ustext">董事长介绍</p>
								<p class="ustextE">Leaders Introduction</p>								
							</div>
							<p class="top-dotted"></p>
						</div>
						<img style="float: left;" src="../img/zhou.png" alt="" />
						<div class="leader-con" style="float: left;background: #68a6d8;width: 570px;height: 417px;padding: 20px 10px 0;">
							<p class="uscontenttext" style="color: white;">公司创始人周洪波博士1993年获瑞士苏黎世大学计算机博士，美国德州大学EMBA。曾在美国橡树岭国家实验室、IBM和Oracle等公司担任高级技术职务，是因突出贡献被CNN，旧金山纪事报等国外媒体报道的知名超级计算和云计算专家。回国后最早（2003年）在清华同方开展M2M/物联网业务，先后曾担任同方股份首席软件架构师/总工、北汽福田车联网公司总经理等职，2010年曾出版畅销的中英文物联网云计算专著三本，是国际著名经济学人杂志（Economist）特邀采访的全球9位物联网专家之一。现任青岛海尔、汉邦高科等公司董事，北京交大、北航、电子科大等高校兼职教授，北京、贵州等省市百人领军人才（政府特聘专家），中国电子学会物联网专委会和系统集成专委会等行业协会委员，国际物联网杂志IJITCA编委等。</p>
							<p class="uscontenttext" style="color: white;">2014年起创立贵州泛联信息技术有限公司，获得软银、TCL、拓尔思，和东土科技等机构投资，主要从事物联网/大数据业务，聚焦低功耗广域网（地球的物联网Wi-Fi）的公共基础设施物联网智慧园区和大数据云平台建设。</p>
						</div>
					</div>
					<div class="usContentInner-rightContent">
						<div class="uscontent-top">
							<p class="top-dotted"></p>
							<div style="float: left; width: 145px;height: 100%;">
								<p class="ustext">组织架构</p>
								<p class="ustextE">Organizational Structure</p>								
							</div>
							<p class="top-dotted"></p>
						</div>
						<div class="imgBox">							
							<img src="http://olv6wm3nj.bkt.clouddn.com/17-3-6/36731573-file_1488780869757_215e.png" style="width: 100%; margin-left: -30px; height: 100%;"/>
						</div>
						
					</div>
					<div class="usContentInner-rightContent">
						<div class="uscontent-top" >
							<p class="top-dotted"></p>
							<div style="float: left; width: 145px;height: 100%;">
								<p class="ustext">软件著作权</p>
								<p class="ustextE">Software Copyright</p>								
							</div>
							<p class="top-dotted"></p>
						</div>
						<div class="imgCenter" style="float: left;width: 275px;height: 440px;">
							<a href="http://olv6wm3nj.bkt.clouddn.com/17-6-9/6761792.jpg" target="_blank">
							<img src="../img/UbiLinkV2.0.jpg"  alt="UbiLink 物联应用基础平台V2.0" style="width: 275px;height: 400px;" title="点击图片查看详情" />
							</a>
							<p class="picDetail" style="width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 15px;">
								UbiLink 物联应用基础平台V2.0
							</p>
						</div>
						<div class="imgCenter" style="float: left;width: 275px;height: 440px;margin-left: 10px;">
							<a href="http://olv6wm3nj.bkt.clouddn.com/17-6-10/54290773.jpg" target="_blank">
							<img src="../img/UbiSLMS.jpg" alt="UbiSLMS城市智慧照明监控管理系统" style="width: 275px;height: 400px;" title="点击图片查看详情"/>
							</a>
							<p class="picDetail" style="width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 15px;">
								UbiSLMS城市智慧照明监控管理系统
							</p>
						</div>
						<div class="imgCenter" style="float: left;width: 275px;height: 440px; margin-left: 10px;">
							<a href="http://olv6wm3nj.bkt.clouddn.com/17-6-10/20377643.jpg" target="_blank">
							<img src="../img/UbiTracker.jpg"  alt="UbiTracker定位监控管理系统" style="width: 275px;height: 400px;" title="点击图片查看详情"/>
							</a>
							<p class="picDetail" style="width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 15px;">
								UbiTracker定位监控管理系统
							</p>
						</div>
						<div class="imgCenter" style="float: left;width: 275px;height: 440px;">
							<a href="http://olv6wm3nj.bkt.clouddn.com/17-6-10/68170543.jpg" target="_blank">
							<img src="../img/UbiSMC.jpg" alt="UbiSMC井盖智能防盗监控管理系统" style="width: 275px;height: 400px;" title="点击图片查看详情"/>
							</a>
							<p class="picDetail" style="width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 15px;">
								UbiSMC井盖智能防盗监控管理系统
							</p>
						</div>
						<div class="imgCenter" style="float: left;width: 275px;height: 440px;margin-left: 10px;">
							<a href="http://olv6wm3nj.bkt.clouddn.com/17-6-10/46780557.jpg" target="_blank">
							<img src="../img/UbiSZ.jpg" alt="UbiSZ园区智能化管理系统" style="width: 275px;height: 400px;" title="点击图片查看详情"/>
							</a>
							<p class="picDetail" style="width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 15px;">
								UbiSZ园区智能化管理系统
							</p>
						</div>
						<div class="imgCenter" style="float: left;width: 275px;height: 440px; margin-left: 10px;">
							<a href="http://olv6wm3nj.bkt.clouddn.com/17-6-9/57039391.jpg" target="_blank">
							<img src="../img/UbiSCV2.0.jpg" alt="UbiSC智慧城市管理系统V2.0" style="width: 275px;height: 400px;" title="点击图片查看详情"/>
							</a>
							<p class="picDetail" style="width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 15px;">
								UbiSC智慧城市管理系统V2.0
							</p>
						</div>
						<div class="imgCenter" style="float: left;width: 275px;height: 440px;">
							<a href="http://olv6wm3nj.bkt.clouddn.com/17-6-9/63668573.jpg" target="_blank">
							<img src="../img/UbiGateV2.0.jpg" alt="UbiGate物联网关软件V2.0" style="width: 275px;height: 400px;" title="点击图片查看详情"/>
							</a>
							<p class="picDetail" style="width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 15px;">
								UbiGate物联网关软件V2.0
							</p>
						</div>
						<div class="imgCenter" style="float: left;width: 275px;height: 440px;margin-left: 10px;">
							<a href="http://olv6wm3nj.bkt.clouddn.com/17-6-9/72046867.jpg" target="_blank">
							<img src="../img/UbiFMS.jpg" alt="UbiFMS消防报警联网监控系统" style="width: 275px;height: 400px;" title="点击图片查看详情"/>
							</a>
							<p class="picDetail" style="width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 15px;">
								UbiFMS消防报警联网监控系统
							</p>
						</div>
						<div class="imgCenter" style="float: left;width: 275px;height: 440px; margin-left: 10px;">
							<a href="http://olv6wm3nj.bkt.clouddn.com/17-6-10/72822288.jpg" target="_blank">
							<img src="../img/UbiWSM.jpg" alt="UbiWSM智慧安全生产监管平台" style="width: 275px;height: 400px;" title="点击图片查看详情"/>
							</a>
							<p class="picDetail" style="width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 15px;">
								UbiWSM智慧安全生产监管平台
							</p>
						</div>
						<div class="imgCenter" style="float: left;width: 275px;height: 440px;">
							<a href="http://olv6wm3nj.bkt.clouddn.com/17-6-9/2107591.jpg" target="_blank">
							<img src="../img/UbiLoRa.jpg" alt="UbiLoRa数据采集模块嵌入式软件" style="width: 275px;height: 400px;" title="点击图片查看详情"/>
							</a>
							<p class="picDetail" style="width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 15px;">
								UbiLoRa数据采集模块嵌入式软件
							</p>
						</div>
						<div class="imgCenter" style="float: left;width: 275px;height: 440px;margin-left: 10px;">
							<a href="http://olv6wm3nj.bkt.clouddn.com/18-8-1/32468700.jpg" target="_blank">
							<img src="http://olv6wm3nj.bkt.clouddn.com/18-8-1/32468700.jpg" alt="ISO9001质量管理体系认证证书" style="width: 275px;height: 400px;" title="点击图片查看详情"/>
							</a>
							<p class="picDetail" style="width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 15px;">
								ISO9001质量管理体系认证证书
							</p>
						</div>
											
					</div>
					<div class="usContentInner-rightContent">
						<div class="uscontent-top">
							<p class="top-dotted"></p>
							<div style="float: left; width: 145px;height: 100%;">
								<p class="ustext">联系我们</p>
								<p class="ustextE">Contact Us</p>								
							</div>
							<p class="top-dotted"></p>
							<div class="left">
								<p class="left-title">贵州泛联信息技术有限公司</p>
								<p class="left-p2">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区</p>
								<p class="left-p2">传 真(C)：0851-86767082</p>
								<p class="left-p2">电 话(C)：0851-86767082</p>
								<p class="left-p3">地图</p>
								<div id="mapLeft" class="mapLeft1"></div>
							</div>
							<div class="right">
								<p class="left-title">北京泛维智联信息技术有限公司</p>
								<p class="left-p2">北京市海淀区上地信息路26号7层718室</p>
								<p class="left-p2">传 真(C)：010-60608488</p>
								<p class="left-p2">电 话(C)：010-60608488</p>
								<p class="left-p3">地图</p>
								<div id="mapRight" class="mapRight1"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
		<!-----------合作伙伴------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div>
			
		<!----------底部--------------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>			
	</body>

</html>
