<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>智慧园区</title>
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/wisdomYard.css"/>
		<script src="../js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/wisdomYard.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=yOttaDzPxI2g9lXAVTzFHYplp6K5ppGp" type="text/javascript"></script>
	</head>
	<body>
		<!---------头部------------->
		<div class="header">
			<div class="nav">
				<div class="nav-out">
					<h1><a href="../index.html">北京泛维智联信息技术有限公司</a></h1>
					<ul class="nav-ul">
						<li>
							<a href="product.html">产品中心</a>
							<span class="underline"></span>							
						</li>
						<li><a href="newscenter.html">新闻中心</a></li>
						<li><a href="wisdomCity.html">智慧城市</a></li>
						<li><a href="wisdomYard.html">智慧园区</a></li>
						<li><a href="us.html">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="headimg"></div>
		</div>
		<div class="description commonWidth">
    	<p>智慧园区规划建设着重突出“生态、智慧”两大主题特色，具有物联化、互联化和智能化的特点，在智慧园区建设方面，基于传统有线、无线网络和低功耗广域网（LPWAN）技术的生态园区智能化综合管理平台，实现了对园区建筑、环境、设备、人员、车辆的集中监控与管理，从而提高了园区的安全性，提升了园区的管理水平和工作效率，将园区信息化建设推向更高的层次和水平。</p>
    	</div>
	    <div class="list commonWidth">
	    	<ul>
	    		<li class="list_li list_1">
	    			<div class="icon_2">
	    				<img src="../img/wisdomgard10.png"  alt="">
	    			</div>
	    		    <div class="details">
	    		    	<h3>一卡通管理子系统</h3>
	    		    	<p>一卡通管理子系统是以IC卡技术为核心，以计算机和通信技术为手</p>
	    		    	<p>段，将园区内部的各项设施连接成为一个有机的整体，用户通过一张IC卡便可完成通常的钥匙、资金结算、考勤和某些控制操作等功能。</p>
	    		    	<a href="wisdomYard1.html " target="_self">查看详情</a>
	    		    </div>
	    		</li>
	    		<li class="list_li list_2">
	    			<div class="icon_2">
	    				<img src="../img/wisdomgard9.png" alt="">
	    			</div>
	    		    <div class="details">
	    		    	<h3>安防子系统</h3>
	    		    	<p>安防子系统由联网报警系统、停车场/车库管理系统、出入口控制</p>
	    		    	<p>管理系统(门禁及可视对讲系统)、视频监控系统及周界防范系统等几个子系统构成，各个子系统均可以单独运行，结合使用则可互为补充，将安全风险降至最低限度，防止各种可能出现的违法案件和扰乱治安事件的发生和发展</p>
	    		    	<a href="wisdomYard2.html " target="_self">查看详情</a>
	    		    </div>
	    		</li>
	    		<li class="list_li list_3">
	    			<div class="icon_2">
	    				<img src="../img/wisdomgard11.png" alt="">
	    			</div>
	    		     <div class="details">
	    		    	<h3>视频监控子系统</h3>
	    		    	<p class="firstLine">支持多种厂家及类型（球型、枪型、云台型）摄像头，支持灵活的</p>
	    		    	<p>画面分隔模式对摄像头进行监控。针对云台监控设备可实现对云台的方向和变焦等控制。能够根据用户的需要手动、自动截取实时监控画面或录制视频片断，并且能够对录制的视频片断进行回放。</p>
	    		    	<a href="wisdomYard3.html " target="_self">查看详情</a>
	    		    </div>
	    		</li>
	    	</ul>
	    	<ul>
	    		<li class="list_li2 list_4">
	    			<div class="icon">
	    				<img src="../img/wisdomgard14.png" alt="">
	    			</div>
	    		    <div class="details details_1">
	    		    	<h3>无线消防报警子系统</h3>
	    		    	<p class="firstLine">无线消防报警子系统克服了传统有线系统安装复杂、工程费用高等</p>
	    		    	<p>缺点，灭弧熔断、烟感和温感、火焰、瓦斯等报警终端内置LoRa无线传输模块，内置电池、无需布线即可实现对电</p>
	    		    	<a href="wisdomYard4.html " target="_self">查看详情</a>
	    		    </div>
	    		</li>
	    		<li class="list_li2 list_5">
	    			<div class="list_5_0 list_5_1">
	    				<div class="icon_1">
	    				  <img src="../img/wisdomgard12.png" alt="">
	    			    </div>
	    		        <div class="details">
	    		    	  <h3>能耗管理子系统</h3>
	    		    	  <p class="firstLine">通过LoRa技术实现园区能耗数据的统一采集、并进行统一的分析</p>
	    		    	  <p>和处理，实现对各种能源数据的监测、控制、管理，及时准确的提供企业各类能耗情况、能耗变化情况、能耗分析结果等的数据、图表等，分行业对各企业的能耗情况及变化进行监测和分析，为节能减排提供分析数据，也为企业节能降耗的改进，提供数据依据，有助企业更加节能、环保。</p>
	    		    	  <a href="wisdomYard5.html " target="_self">查看详情</a>
	    		        </div>
	    			</div>
	    			<div class="list_5_0 list_5_2">
	    				<div class="icon_1">
	    				  <img src="../img/wisdomgard15.png" alt="">
	    			    </div>
	    		        <div class="details">
	    		    	  <h3>环境和生态监测子系统</h3>
	    		    	  <p class="firstLine">环境和生态监测子系统能够针对园区环境监测和生态监测的需要,通</p>
	    		    	  <p>过LPWAN技术实现室内外环境（温湿度、VOC、CO2、CO、PM2.5等）和生态（气象、水质等）数据的实时在线采集、汇聚、统计、分析和告警等功能。</p>
	    		    	  <a href="wisdomYard6.html " target="_self">查看详情</a>
	    		        </div>
	    			</div>
	    			
	    		</li>
	    		<li class="list_li2 list_6">
	    			<div class="icon">
	    				<img src="../img/wisdomgard13.png" alt="">
	    			</div>
	    		    <div class="details details_1">
	    		    	<h3>应急指挥子系统</h3>
	    		    	<p class="firstLine">基于园区智能化集成管理平台，建立园区针对各类事件的案例数据</p>
	    		    	<p>库、预案知识库、预警模型数据库，提供各种辅助决策功能模块，实现对突发事件处理全过程的数据采集、跟踪、支持、指挥和处理，为预防、监控和妥善处理突发事件提供科学依据，从而有效监控事态的发展。</p>
	    		    	<a href="wisdomYard7.html " target="_self">查看详情</a>
	    		    </div>
	    		</li>
	    	</ul>
	    </div>
	    <hr />
		<!-------------合作伙伴-------------------->
		<div class="partner">
			<div class="partner-top">
				<span class="partner-left"></span>
				<p class="partner-mid">合作企业</p>
				<span class="partner-right"></span>
			</div>
			<div class="partner-bot">
				<div><img src="../img/partner1.gif" alt="汉邦高科" title="汉邦高科"/></div>
				<div><img src="../img/partner2.gif" alt="SEMTECH" title="SEMTECH"/></div>
				<div><img src="../img/partner3.png" alt="中国电子" title="中国电子"/></div>
				<div><img src="../img/partner4.gif" alt="TRS" title="TRS"/></div>
				<div><img src="../img/partner5.gif" alt="TCL" title="TCL"/></div>
				<div><img src="../img/partner6.gif" alt="LoRa" title="LoRa"/></div>
				<div><img src="../img/partner7.gif" alt="CECT" title="CECT"/></div>
				<div><img src="../img/partner8.gif" alt="神州数码" title="神州数码"/></div>
				<div><img src="../img/partner9.gif" alt="海尔" title="海尔"/></div>
				<div><img src="../img/partner10.gif" alt="太极" title="太极"/></div>				
			</div>
		</div>
		<!-----------页脚部分----------->
		<div class="footer">
			<div class="coverWrap">				
				<div class="Map" id="myMap"></div>
				<div class="mapFoot">
					<div class="closeCover">关闭</div>
				</div>
			
			</div>
			<div class="footer-top">
				<div class="footer-left">
					<p class="footer-title">经营理念与价值</p>
					<p class="footer-content">企业宗旨：万物互联，开辟物联网新时代</p>
					<p class="footer-content">企业文化：创新、协作、和谐、敬业</p>
					<p class="footer-content">经营理念：诚信为本 共赢为先 开拓创新 务实进取</p>
					<p class="footer-content">发展理念：以人为本、快乐工作、快乐生活、和谐发展</p>
				</div>
				<div class="footer-mid">
					<p class="footer-title">解决方案产品</p>
					<p class="footer-content">UbiSC智慧城市管理系统</p>
					<p class="footer-content">UbiSZ智慧园区智能化管理系统</p>
					<p class="footer-content">UbiFMS消防报警联网监控系统</p>			
					<p class="footer-content">UbiRMS远程智能抄表管理系统</p>
					<p class="footer-content">UbiTracker资产防盗定位监控系统</p>					
				</div>
				<div class="footer-right">
					<p class="footer-title">联系我们</p>
					<p class="footer-content">贵州泛联信息技术有限公司 </p>
					<p class="footer-content">贵阳市高新区长岭南路31号国家数字内容产业园大楼4楼B区<span class="clickmap1">点击查看地图</span> </p>
					<p class="footer-content">北京泛维智联信息技术有限公司</p>
					<p class="footer-content">北京市海淀区上地信息路26号7层718室  <span class="clickmap2">点击查看地图</span></p>
					<p class="footer-content">电 话(C)：010-60608488</p>
					<p class="footer-content">传 真(F)：010-60608488</p>
				</div>
			</div>
			<hr />
			<div class="footer-bot">
				<p class="footer-bot-p1">Copyright © 2016.UbiLink All rights reserved</p>
				<p class="footer-bot-p2">贵州泛联信息技术有限公司&北京泛维智联信息技术有限公司版权所有</p>
			</div>
		</div>
	</body>
</html>
